/* Usual */
@import url("https://use.typekit.net/utc2ige.css");

@font-face {
    font-family: 'GTAmerica'; /* regular */
    src: url('../fonts/GT-America-Regular.eot');
    src: url('../fonts/GT-America-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GT-America-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GTAmerica'; /* italic */
    src: url('../fonts/GT-America-Regular-Italic.eot');
    src: url('../fonts/GT-America-Regular-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GT-America-Regular-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'GTAmerica'; /* semibold */
    src: url('../fonts/GT-America-Medium.eot');
    src: url('../fonts/GT-America-Trial-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GT-America-Trial-Medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'GTAmerica'; /* semibold italic */
    src: url('../fonts/GT-America-Medium-Italic.eot');
    src: url('../fonts/GT-America-Medium-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GT-America-Medium-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}