@import 'colors';
@import 'utilities';

footer {
	background-color: $gray;
	box-sizing: border-box;
	color: $white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: .75rem;
	font-weight: 600;
	height: 30vh;
	padding: 3rem 6rem;
	.footer--main {
		
	}
	ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		height: 20vh;
	}
	li {
		line-height: 1.5;
		padding: .5rem;
	}
	li a {
		color: $white;
		text-transform: uppercase;
	}
	li a:hover {
		color: $yellow_bright;
		transition: .2s;
	}
	li a:focus {
		color: $yellow_bright;
		outline: none;
		text-decoration: underline solid $yellow_bright;
	}
	.footer--branding {
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		flex-direction: column;
		height: 100%;
	}
	h6 {
		font-size: .75rem;
		font-weight: 600;
		text-transform: uppercase;
	}
	img {
		height: auto;
		width: 10rem;
	}
}

/* BREAKPOINTS */
@media screen and (min-width: 320px) and (max-width: 767px) {
	footer {
		height: 30vh;
		padding: 2rem;
		width: calc(100vw - 4rem);
		.footer--main {
			width: calc(60vw - 2rem);
		}
		.footer--branding {
			width: calc(40vw - 2rem);
		}
		ul {
			height: 30vh;
		}
	}

}
@media screen and (min-width: 768px) and (max-width: 999px) {

}
@media screen and (min-width: 1000px) and (max-width: 1399px) {
  footer {
  	height: 35vh;
  	padding: 3rem 3.5rem;
  	.footer--branding h6 {
  		margin-bottom: 2.25rem;
  	}
  } 
}