@import 'colors';
@import 'utilities';

/*main.home-page {
	background-color: $white;
	font-family: $body-font_emblem, Helvetica, Arial, sans-serif;
	font-size: 1.25rem;
	min-height: calc(100vh - 3.125rem);
	line-height: 2rem;
	margin-top: $topnav-h;
	padding: 2rem;
	a {
		color: $black;
	}
	a:hover {
		color: $dusty-blue;
	}
}*/
main.home {
  background-color: $gray-light;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  em {
  	font-style: oblique;
  }
  .hero {
    background-color: $orange-red;
    color: #fff;
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: auto;
    grid-area: 1 / 1 / 2 / 13;
    min-height: 96vh;
  }
  .hero-text {
    display: flex;
    grid-area: 1 / 1 / 2 / 2;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    transform: translate(12vw, 0);
    padding-bottom: 20vh;
  }
  .hero-text h1 {
    font-family: Garamond, Georgia, serif;
    font-size: 7rem;
    height: auto;
    line-height: 7rem;
    padding: 0;
    margin: 0;
    width: 128%;
  }
  .hero-text h5 {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.75rem;
    margin-top: 1rem;
    width: 50%;
  }
  .hero-image {
    background-color: $orange-yellow;
    grid-area: 1 / 2 / 2 / 3;
  }
  nav.home {
    background-color: $gray-dark_transparent;
    color: #fff;
    grid-area: 2 / 1 / 3 / 13;
    min-height: 20vh;
    padding-bottom: 1px;
    transform: translate(0, -20vh);
  }
  nav.home ul {
    display: flex;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: space-around;
    list-style: none;
    min-height: 17vh;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  ul li a {
  	color: $orange-yellow;
    font-size: 1rem;
    letter-spacing: .125rem;
    line-height: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 1rem;
  }
  ul li a:hover {
  	color: $orange-yellow_brighter;
  }
  ul li span {
    color: #fff;
    font-size: .875rem;
    line-height: 1rem;
    margin-top: .25rem;
  }
  .intro-text {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-area: 3 / 1 / 4 / 13;
    margin-top: -17vh;
    padding: 3rem 0 6rem 0;
  }
  .intro-text p {
    font-size: 1.375rem;
    grid-area: 1 / 4 / 2 / 10;
    line-height: 2rem;
  }
  .intro-text a {
    color: $orange-red;
    font-size: 1.125rem;
    font-weight: 600;
    grid-area: 2 / 4 / 3 / 10;
    text-decoration: none;
  }
  .intro-text a:hover {
  	color: $orange-red_darker;
  }
}