@import 'colors';
@import 'utilities';

#openseadragon-wrapper {
	height: calc(100vh - 7.625rem); /* currently, the combined height of the topnav and subnav is 7.625rem */
	background-color: $black;
}
#openseadragon-wrapper canvas {
	cursor: pointer;
}
.facsimile--full #tools {
	background-color: $black;
	max-width: 25rem;
	padding: 1rem;
	position: absolute;
	right: 0;
	top: 40%;
	z-index: 1000;
}

.displayregion {

}
.facsimile--full.grid--half #tools {
	top: 93vh;
}
#tools a {
	color: $aqua;
	padding: 0 .25rem;
}
#tools a:hover {
	color: $orange-yellow;
}
#tools a:active {
	color: $gray-medium;
}