@import 'colors';
@import 'utilities';

.wrapper-sidenav {
	 background-color: $black;
	 height: 13.5rem;
	 margin-left: 1.825rem;
	 padding: 0 0 1rem 0;
	 position: fixed;
	 top: 9rem;
	 width: 9rem;
	 z-index: 20;
}
.sidenav ul li {
	font-family: $body-font_emblem;
	font-size: .825rem;
	font-weight: 600;
	cursor: pointer;
/*	font-size: .825rem;*/
	a {
		color: $white;
	}
}
.sidenav .sidenav__navigation {
	background-color: $dusty-blue;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-weight: 800;
	width: 9rem;
	li {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 2.5rem;
		min-width: 1.75rem;
		:hover {
			background-color: $dusty-blue;	
			color: $dusty-blue-lt;
		}
		a {
			color: $black;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 100%;
		}
	}

}
.sidenav .sidenav__options {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	li {
		color: $white;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 2rem;
		/*padding-bottom: .125rem;*/
		:hover {
			background-color: $dusty-blue-lt;
			color: $black;
		}
		:active {
			background-color: $blue;
		}
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 100%;
		}
	}
}
.sidenav--is-active {
	background-color: $dusty-blue-dk;
}
ul.sidenav__options li.sidenav--is-active a:hover {
	background-color: $dusty-blue-dk;
	color: $white;
}

main.emblem-page.frontmatter .wrapper-sidenav {
	height: 24px;
	.sidenav__options {
		display: none;
	}
}

/* http://nicolasgallagher.com/jump-links-and-viewport-positioning/demo/ */
/* https://github.com/twbs/bootstrap/issues/1768#issuecomment-46519033 */
/*	 *[id]:before { 
	  display: block; 
	  content: " "; 
	  margin-top: 300px; 
	  height: 300px; 
	  visibility: hidden;
	} */

/*	section:before { 
	  display: block; 
	  content: " "; 
	  margin-top: -10px; 
	  height: 100px; 
	  visibility: hidden;
	} */

/**[id]:before {
background-color: blue !important;
  position: relative;
  padding: 1rem;
  border-top: 200px solid red;
  margin-top: -10px;
  background-clip: padding-box;
}
*/
/*	*[id]:before { 
	  display: block; 
	  content: " ";
	  height: 180px; 
	  visibility: hidden; 
	}*/

.jumplink--kludge {
	outline: 5px solid red;
/*	position: relative;
	padding: 1rem;
	border-top: 180px solid transparent;*/
	/*margin-top: -180px*/;
/*	background-clip: padding-box;*/
	margin-top: 180px;
}

/* BREAKPOINTS */
/*----- SIDENAV -- SMALL LAPTOPS -----*/
@media screen and (min-width: 768px) and (max-width: 999px) {
	.wrapper-sidenav {
		margin-left: .5rem;
		width: 9rem;
	}
	.sidenav .sidenav__navigation {
		width: 9rem;
	}
}
/*----- SIDENAV -- SMALL LAPTOPS -----*/
@media screen and (min-width: 1000px) and (max-width: 1300px) {
	.wrapper-sidenav {
		margin-left: 1rem;
	}
}
 	 