<main id="search-results" class="container">
	<div class="search-results">
		<p class="lead">Search results for ""</p>
		<div class="results">
		 	<div class="results__section">
	            <h2>Emblem Images</h2>
	            <div class="results__item--image-terms">
	            	<h3>
	            		<a data-facetid="#" href="#">
	            			<span class="cat-subcat">Category > Subcartegory</span>
	            			<span class="term">Search Term</span>
	            			<span class="num-terms"># emblem images</span>
	            		</a>
	            	</h3>
	            </div>
	        </div>
	        <div class="results__section">
	            <h2>Furnace and Fugue Section</h2>
	            <div class="results__item">
	            	<h3>
	            		<a href="#">Emblem Number or Essay Title</a>
	            	</h3>
	            	<span class="results__num">Number of results</span>
	            	<h4>Emblem Section (Language)</h4>
	            	<ul>
	            		<li>Surrounding text <b>search term</b> surrounding text</li>
	            	</ul>
	            </div>
	        </div>
		</div>
	</div>
</main>