@import 'colors';
@import 'utilities';

.css-test {
	border: 2px solid green !important;
}
body {
	background-color: pink;
	font-family: 'Futura', Helvetica, sans-serif;
	font-size: 16px;
	padding-top: $topnav-h;
	p {
		font-family: Garamond, serif;
	}
}
