# Node Modules #
################
node_modules

# Gulp #
################
atl-output/gulpfile.js
atl-output/package.json
atl-output/package-lock.json
emblem-music-snippet/gulpfile.js
emblem-music-snippet/package.json
emblem-music-snippet/package-lock.json

fonts

atl-demo-site

# atalanta-search #
###################
atl-output/app/assets/js/faceting.js
atl-output/app/assets/js/facets.js
atl-output/app/assets/js/navbar.pug
atl-output/app/assets/js/navbar.js
atl-output/app/assets/js/page.pug
atl-output/app/assets/js/page.js
atl-output/app/assets/js/search.js
atl-output/app/assets/js/searchfunction.js
atl-output/app/assets/js/lunr-languages/*
atl-output/app/data/json/searchindex.json
atl-output/app/data/json/searchdocs.json
atl-output/app/data/json/byterm_enh_array.json
atl-output/app/assets/js/filterSelection.js



