# Node Modules #
################
node_modules

# Gulp #
################
atl-output/gulpfile.js
atl-output/package.json
atl-output/package-lock.json
emblem-music-snippet/gulpfile.js
emblem-music-snippet/package.json
emblem-music-snippet/package-lock.json

fonts

atl-demo-site

# atalanta-search #
###################
js/page.js
js/search.js
js/searchfunction.js
js/searchdocs.json
js/searchindex.json
js/byterm_enh_array.json
js/page.pug
js/vendors/lunr-languages/*


