@import 'utilities';
@import 'colors';

.subnav-v3 {
	
/*	fieldset {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 7rem;
	}*/

/*	select#layout,
	select#language {
		background-color: $white;
		border-radius: 0;
		font-size: 1rem;
		height: 2.5rem;
		margin-top: .75rem;
		width: 20rem;
	}*/
/*	.ui-state-active,
	.ui-widget-content .ui-state-active,
	.ui-widget-header .ui-state-active,
	a.ui-button:active,
	.ui-button:active,
	.ui-button.ui-state-active:hover {
		border: 3px solid green;
		background: pink !important;
		color: white;
	}

	.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover { background: red;}*/

	.ui-icon-background,
	.ui-state-active .ui-icon-background {
		border: #003eff;
		background-color: #ffffff;
	}
}























