@import 'colors';
@import 'utilities';

body {
	padding: 0;
}

@supports (display: grid) {
	section.music-snippet {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		h1 {
			margin: 3rem 0;
			text-align: center;
		}
		p {
			font-size: 1.25rem;
			line-height: 1.8;
			width: 50vw;
		}
		div.ata-music {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			overflow: hidden;
			margin: 1rem 0;
			width: 100vw;
		}
		div.transport {
			background-color: $orange-red;
			display: flex;
			align-items: center;
			justify-content: space-around;
			width: 50vw;
			z-index: 10; /* the SVG that Verovio outputs overlaps with the transport controls */
		}
		button.atalanta-notation-start, button.atalanta-notation-stop {
			margin-right: 0;
			background-position: center;
			background-size: 6rem;
		}
		div.track-mute {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		button.atalanta-notation-mute-track {

		}
		div.music-pages {
			padding-bottom: 5rem;
		}
		div.music-page {
			transform-origin: center;
			transform: translate(42%, -30%);
		}
		div.music-page > svg {
			transform: scale(1.6);
		}
	}
}



@supports (display: grid) {
	section.music-snippet {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
		h1 {
			grid-column: 1 / 13;
		}
		p {
			grid-column: 4 / 10;
		}
		div.ata-music {
			display: grid;
			grid-column: 1 / 13;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: auto;
		}
		div.transport {
			grid-column: 4/10;
			width: auto;
		}
		div.ata-viz-cmn {
			grid-column: 1 / 13;
		}
		div.music-pages {
			padding-bottom: 4rem;
		}
	}
}