body {
  /* background-color: #ddd; */
  padding: 3em;
}

/* MUSIC - START */

/* Things to hide if there's no JS */

.music .transport, 
.music .audio {
  display: initial;
}

/* If there is JS, unhide */

.music.with-js .transport, 
.music.with-js .pianoroll {
  display: auto;
}

.music.with-js .audio audio.all-tracks, 
html.music-ready .audio audio.all-tracks {
  display: none;
}

.music.with-js .cmn .highlighted {
  fill: red;
}

.music.with-js .cmn .muted .highlighted {
  fill: black;
}

/* Transport */

.atalanta-notation .transport .atalanta-notation-start.playing {
  display: none;
  /* background-image: url('../img/baseline-play_circle_outline-24px.svg'); */
}

.music.playing .transport .atalanta-notation-start, 
.pianoroll.playing .atalanta-notation-start {
  display: none; 
}

/*
.music.mute-1 .measure > .staff:nth-child(1),
.music.mute-2 .measure > .staff:nth-child(2),
.music.mute-3 .measure > .staff:nth-child(3) {
  opacity: 0.3;
} */

.music .cmn .staff, 
.music .cmn .barLineAttr path {
  transition: opacity 0.5s;
}

.music .cmn .staff.muted, 
.music .cmn .barLineAttr path {
  opacity: 0.3;
}

.music button.muted {
  opacity: 0.5;
}



.pianoroll .note.highlighted {
  fill: yellow;
}

.pianoroll .voice-1 {
  fill: red;
}

.pianoroll .voice-2 {
  fill: blue;
}

.pianoroll .voice-3 {
  fill: green;
}

.pianoroll.mute-1 .voice-1 {
  fill: grey;
}

.pianoroll.mute-2 .voice-2 {
  fill: grey;
}

.pianoroll.mute-3 .voice-3 {
  fill: grey;
}

/* MUSIC - END */