body {
  /* background-color: #ddd; */
  padding: 3em;
}

/* MUSIC - START */

/* Things to hide if there's no JS */

.music .transport, 
.music .audio {
  display: initial;
}

/* If there is JS, unhide */

.music.with-js .transport, 
.music.with-js .pianoroll {
  display: auto;
}

.music.with-js .audio audio.all-tracks, 
html.music-ready .audio audio.all-tracks {
  display: none;
}

.music.with-js .cmn .highlighted {
  fill: red;
}

.music.with-js .cmn .muted .highlighted {
  fill: black;
}

/* Transport */

    /* Play / Pause button */
    .track-play {
      opacity: 0;
      width: 0;
      height: 0;
    }
    input.track-play + label { /* ??? */
      background-image: url("../icons/icon_play_filled--gray.svg");
      background-size: auto 40px;
      background-position: center top;
      background-repeat: no-repeat;
      display: inline-block;
      height: 80px;
      margin: 0;
      padding: 50px 0 0 0;
      text-align: center;
      width: 100%;
      /* transition: 0.5s; */
    }
    input.track-play:checked + label {
      background-image: url("../icons/icon_pause_filled--gray.svg");
    }
    input.track-play + label:after {
      content: "Play Voices";
    }
    input.track-play:checked + label:after {
      content: "Pause Voices";
    }
    /* Code adapted from https://www.w3schools.com/howto/howto_css_switch.asp */
    /* The switch - the box around the slider */
    .track-mute .switch {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
    }
    /* Hide default HTML checkbox */
    .track-mute .switch input {
      height: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      width: 0;
    }
    /* The slider */
    .track-mute .slider {
      background-color: #85929E;
      border-radius: 10px;
      content: '';
      cursor: pointer;
      display: flex;
      align-items: center;
      flex-direction: row;
      height: 20px;
      transition: 0.4s;
      -webkit-transition: 0.4s;
      width: 40px;
    }
    .track-mute .slider:hover {
      background-color: #F28455;
    }
    .track-mute .slider::after {
      background-color: white;
      border-radius: 50%;
      box-shadow: 0 0 8px rgba(0,0,0,0.2), 0 0 2px rgba(0,0,0,0.4);
      color: #85929E;
      content: "x";
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Arial, sans-serif;
      font-size: 12px;
      height: 16px;
      transform: translate3d(2px, 0, 0);
      -webkit-transition: 0.4s;
      transition: 0.4s;
      width: 16px;
    }
    .track-mute input:checked + .slider {
      background-color: #F28455;
    /*   background-color: #2196F3; */
    /*   justify-content: flex-end; */
    }
    .track-mute input:checked + .slider:hover {
      background-color: #C28970;
    /*   background-color: #2196F3; */
    /*   justify-content: flex-end; */
    }
    .track-mute input:focus + .slider {
    /*   box-shadow: 0 0 1px #2196F3; */
    }
    .track-mute input:checked + .slider:after {
      content: "";
      transform: translate3d(calc(250% - 18px), 0, 0);
    }
    .track-mute .slider::after {
    }

.track-mute .track-container {
  display: flex;
  flex-flow: row wrap;
}
.track-container label {
  display: block;
  text-align: center;
  width: 100%;
}

.track-container label:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1 0 0;
  height: 30%;
  width: 50%;
}
.track-container label p {
  margin: 0;
  text-align: left;
}
.track-container label:nth-child(2) {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 30%;
  width: 50%;
}
.track-container label:nth-child(3) {
  display: flex;
  justify-content: flex-start;
  flex: 1 0 0;
  width: 100%;
}

.track-mute .track-descriptor {
  transition: color 0.5s;
}

.track-mute .track-descriptor.muted {
  color: #85929E;
}

.track-mute .track-descriptor .track-title {
  margin-top: 0;
  padding-top: 0;
}
@supports (display: grid) {
  .music .transport {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-area: 2 / 1 / 3 / 3;
  }
  .atalanta-notation-start {
    grid-row: 1 / 2;
  }
  .track-mute {
    display: grid;
    grid-row: 2 / 3;
  }
  .track-container label:nth-child(3) {
    height: 70%;
  }
}
@supports not (display: grid) {
  .music .transport {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .transport > div {
    display: flex;
    align-items: center;
    justify-content: center;
      
  }
  .transport > div.track-mute {
    justify-content: space-around;

  }
  .track-container {
    display: flex;
    flex: 1 0 1;
  }
  .music .transport .atalanta-notation-start {
    flex: 1 0 0;
  }
  .track-mute {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex: 2 0 0;
  }
  .track-mute label {
    padding-bottom: 0px;
  }
  .track-container label:nth-child(3) {
    height: auto;
  }
}

/* Status labels for tracks */
.track-mute .track-descriptor .track-title::after { /* ??? */
  text-transform: uppercase;
  font-size: 60%;
  font-weight: bold;
  border: none;
  color: white;
  padding: 2px 5px;
  text-align: center;
  display: none;
  margin: 0px 4px;
  border-radius: 5px;
}

.track-mute .track-container .track-title {
  font-size: 13px;
  font-weight: bold;
}

.track-mute .track-container .track-name {
  display: block;
  font-size: 12px;
  font-style: italic;
}

.track-mute input:focus + .slider {
  box-shadow: 0 0 3pt 2pt #34495E;
}

   /* Piano roll */
   .pianoroll svg rect.note { 
     transition: transform 3s ease-out, fill 0.5s;
   }
   .pianoroll svg rect.note.muted {
     fill: #eee;
   }
   .pianoroll svg rect.note.highlighted {
     filter: url(#highlightFilter);
   }
   /* CMN (Common music notation) */
   .music.with-js .cmn .highlighted {
      /* filter: url(#highlighting); */ /* this makes the highlighted notes and verse illegible */
   }

  .piano-roll__label {
    order: 2;
  }
  .piano-roll__icon {
    order: 1;
  }


.music .cmn .staff, 
.music .cmn .barLineAttr path {
  transition: opacity 0.5s;
}

.music .cmn .staff.muted, 
.music .cmn .barLineAttr path {
  opacity: 0.3;
}

.music button.muted {
  opacity: 0.5;
}



.pianoroll .note.highlighted {
  fill: yellow;
}

.pianoroll .voice-1 {
  fill: red;
}

.pianoroll .voice-2 {
  fill: blue;
}

.pianoroll .voice-3 {
  fill: green;
}

.pianoroll.mute-1 .voice-1 {
  fill: grey;
}

.pianoroll.mute-2 .voice-2 {
  fill: grey;
}

.pianoroll.mute-3 .voice-3 {
  fill: grey;
}

/* MUSIC - END */