body {
  /* background-color: #ddd; */
  padding: 3em;
}

/* CMN Visualization */

/* This is for the background (non-javascript) image */

.atalanta-notation-viz-cmn {
  width: 100%;
  /* height: 500px; */
  background: white no-repeat;
  background-size: contain;
  background-color: white;
  /* overflow: scroll; */
}

.atalanta-notation-viz-cmn .highlighted {
  fill: red;
}

.atalanta-notation-viz-cmn svg tspan {
  font-family: sans-serif !important;
}

.atalanta-notation-viz-cmn .music-pages {
  float: left;
  width: 100%;
}

.atalanta-notation-viz-cmn .music-pages .music-page {
  float: left;
  width: 50%;
  text-align: center;
  transform-origin: 0 0;
}

/* Playing notes */

.atalanta-notation svg .note {
  transition: fill 0.2s;
}

/* Start / stop / mute buttons */

.atalanta-notation .transport {
  width: 100%;
  float: left;
  background: white;
  padding: 1em;
}

.atalanta-notation .transport button {
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
}

.atalanta-notation .transport .atalanta-notation-start,
.atalanta-notation .transport .atalanta-notation-stop {
  height: 100px;
  width: 100px;
  display: block;
  float: left;
  margin-right: 50px;
}

.atalanta-notation .transport .atalanta-notation-start {
  background-image: url('../img/baseline-play_circle_outline-24px.svg');
}

.atalanta-notation .transport .atalanta-notation-start.playing {
  display: none;
  /* background-image: url('../img/baseline-play_circle_outline-24px.svg'); */
}

.atalanta-notation .transport .atalanta-notation-stop {
  display: none;
  background-image: url('../img/baseline-pause_circle_outline-24px.svg');
}

.atalanta-notation .transport .atalanta-notation-stop.playing {
  display: initial;
  background-image: url('../img/baseline-pause_circle_outline-24px.svg');
}



/* Mute buttons */

.atalanta-notation-mute-track {
  display: block;
  height: 30px;
  line-height: 30px;
  width: 20em;
  text-align: left;
  padding-left: 50px;
  cursor: pointer;
  background-image: url('../img/baseline-record_voice_over-24px.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.5s;
}

.atalanta-notation-mute-track.mute {
  opacity: 0.5;
  background-image: url('../img/baseline-record_voice_over-mute-24px.svg');
}

.measure .staff {
  transition: opacity 0.6s;
}

/* Styles for piano roll view */

.atalanta-notation-viz-pianoroll g {
  transition: all 2s;
}

.atalanta-notation-viz-pianoroll .voice-1 .note {
  fill: #1f77b4;
}

.atalanta-notation-viz-pianoroll .voice-2 .note {
  fill: #ff7f0e;
}

.atalanta-notation-viz-pianoroll .voice-3 .note {
  fill: #2ca02c;
}