@import 'colors';

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
}
.btn {
	background-color: $gray;
	border-radius: .25rem;
	color: $white;
	display: flex;
	justify-content: center;
	margin-bottom: .75rem;
	width: 10rem;
	height: 2.5rem;
}
.btn:hover {
	background-color: $gray_medium;
	color: $black;
}
.btn p {
	display: flex;
	align-self: center;
	font-size: .825rem;
}