@import 'colors';

._collections {
	background-color: $yellow;
	bottom: 0;
	display: block;
	height: 20px;
	position: fixed;
	width: 100vw;
	z-index: $collections-z;
}
.collections-wrapper {
	border: none;
	color: $gray;
}

main#emblem-toc, 
main#emblem-page, 
main#essay-toc, 
main#image-search {
	.opener-holder a {
		color: #fff;
	}
	.all-collections {
		line-height: 1.6;
	}
}