@import 'colors';

._collections {
	background-color: $yellow;
	bottom: 0;
	display: block;
	height: 20px;
	position: fixed;
	width: 100vw;
	z-index: $collections-z;
}
.collections-wrapper {
	border: none;
	color: $gray;
}

main#emblem-toc, 
main#emblem-data, 
main#essay-toc, 
main#image-search {
	#layout-button, 
	#language-button {
		box-sizing: content-box;
	}
/*	form {
		max-height: auto;
	}*/
	@media (min-width: 1450px) {
		.collections-wrapper {
			font-size: 20px;
			line-height: 1.6;
		}
	}
	.opener-holder a {
		color: #fff;
	}
	.all-collections {
		line-height: 1.6;
	}
}
body.emblem-body .opener-holder-bg {
	margin-left: 40vw;
	width: 60vw;
}
html.full-state body.emblem-body .opener-holder-bg {
	margin-left: 0;
	width: 100%;
}