$error: hsla(11, 72%, 82%, .4);

$black: #222;
$black_dark: #111;
$black_pure: #000;
$black_transparent: hsla(0, 0%, 13%, 0.4);
$blue_desaturated: hsla(204, 30%, 52%, 1);
$blue_light:  hsla(207, 32%, 89%, 1);
$gray: #333;
$gray_light: hsla(0, 0%, 95%, 1);
$gray_light-alt: hsla(210, 4%, 89%, 1);
$gray_medium: hsla(0, 0%, 50%, 1);
$gray_medium-alt: #777;
$gray_transparent: hsla(0, 0%, 20%, 0.97);
$green_desaturated: hsla(155, 40%, 52%, 1);
$red: hsla(11, 72%, 51%, 1);
$red_dark: hsla(13, 70%, 43%, 1);
$red_desaturated: hsla(11, 67%, 49%, 1);
$red_transparent: hsla(11, 80%, 51%, 0.95);
$text_body: hsla(0, 0%, 30%, 1);
$text_body_transparent:  hsla(0, 0%, 30%, 0.1);
$white: hsla(0, 100%, 100%, 1);
$white_transparent: hsla(0, 100%, 100%, 0.75);
$yellow: hsla(41, 100%, 50%, 1);
$yellow_bright: hsla(41, 100%, 69%, 1);
$yellow_inverse: hsla(221, 100%, 50%, 1);