@import 'utilities';
@import 'colors';

main.emblem-page {
	background: $white;
/*	background-image: url("../img/default/bkg-illustration.png");
	background-repeat: no-repeat;*/
	/*background-size: cover;*/
/*	background-size: contain;*/
	display: grid;
	grid-template-columns: 4fr 6fr;
	grid-template-rows: 1fr;
	font-family: $body-font_emblem;
	font-size: 1rem;
/*	min-height: calc(100vh - 3.125rem);*/
	line-height: 1.5rem;
	margin-top: $topnav-h;
	padding: 0 0 .125rem 0;
}
.panel--full {
	grid-column-start: 1;
	grid-column-end: 3;
}
.panel--left {
	grid-column-start: 1;
	grid-column-end: 2;
}
.panel--right {
	grid-column-start: 2;
	grid-column-end: 3;
}
.emblem {
	margin-top: $subnav-h;
	display: grid;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, fit-content(10px) fit-content(100%));
	width: 100%;
}
.emblem section {
	background-color: hsla(0, 0%, 100%, .97);
	padding: 1rem 0;
}
.emblem.panel--right section.section__motto,
.emblem.panel--right .section__image section,
.emblem.panel--right section.section__epigram {
	background-color: $white;
	color: $text_body;
}
.emblem.panel--full section.section__motto, 
.emblem.panel--full .section__image section, 
.emblem.panel--full section.section__epigram {
	background-color: $gray_transparent;
	color: $white;
}
.section__motto {
	grid-row-start: 1;
	grid-row-end: 2;
}
.emblem section.section__motto {
	padding: 4rem 0 1rem 0;
}
._motto--english > div {
	min-height: 10vh;
	max-height: 50vh;	
}
.section__image {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	.image__picture {
		display: grid;
		justify-content: center;
		padding-bottom: 1rem;
	}
	img {
		max-width: 30rem;
	}
}
.section__music {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	height: 100%;
}
.music--full {
	min-height: 100vh;
}
.section__epigram {
	grid-row-start: 4;
	grid-row-end: 5;
}
.emblem section.section__epigram {
	padding: 3rem 0 6rem 0;
}
.emblem section.section__epigram.panel--right {
	padding: 0 0 9rem 0;
}
.section__discourse {
	grid-row-start: 5;
	grid-row-end: 6;
	margin-bottom: -3px;
}
.section__motto.panel--right, .section__epigram.panel--right, .section__discourse.panel--right {

}
.section__facsimile {
	grid-row-start: 1;
	grid-row-end: 2;
	margin-top: -5px;
	/*padding-top: $subnav-h;*/
}
.frontmatter section.facsimile, .frontmatter div._facsimile {
	padding: 0;
}
.facsimile--full {
	background-color: $black;
	height: $lessemblemnavcollections-h;
	width: 100%;
	position: fixed;
}
.grid--full {
	grid-column-start: 1;
	grid-column-end: 5;	
}
.grid--left {
	grid-column-start: 1;
	grid-column-end: 3;
}
.grid--right {
	grid-column-start: 3;
	grid-column-end: 5;
}
.grid--center {
	grid-column-start: 2;
	grid-column-end: 4;	
}
.grid--half {
	width: 40%;
	background-color: silver;
}

/* BREAKPOINTS */
/* small  -  mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
	.emblem {
		margin-top: 0;
	}
	.emblem__image--cropped {
		width: 100%;
	}
	main.emblem-page {
		padding: 0 0 $subnav-h 0;
	}
	.section__facsimile {
		margin-top: 0;
		margin-bottom: $subnav-h;
	}
}
/* medium  -  tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	main.emblem-page {
		grid-template-columns: repeat(2, 1fr);
	}
	.grid--half {
		width: 50%;
	}
	.emblem__image--cropped {
		width: 100%;
	}
}