@import 'colors';
@import 'utilities';

main#emblem-toc {
	background: $red;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	padding: 3rem 5rem;
	h1, 
	h3, 
	h5, 
	nav.af-toc {
		color: $white;
		grid-column: 1 / 13;
		font-family: $display-font_emblem;
		font-size: 1.125rem;
		text-align: center;
	}
	h1 {
		font-family: $secondary-display-font_emblem;
		font-size: 5rem;
		margin-bottom: .5rem;
	}
	h3 {
		font-size: 1.125rem;
		letter-spacing: .05em;
		margin-bottom: 3rem;
		text-transform: uppercase;
	}
	h5 {
		display: none;
		color: $white_transparent;
		font-size: 1.5rem;
		margin-bottom: 3rem;
	}
	cite {
		font-style: oblique;
	}
	nav.af-toc {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
	}
}
main#emblem-toc nav.af-toc {
	a {
		color: $white;
	}
	a:hover, 
	a:focus {
		color: $black_pure;
		outline: none;
	}
	ul {
		border-top: 1px solid $black;
		display: flex;
		flex-wrap: wrap;
		grid-column: 1 / 13;
		padding-top: 3rem;
		width: 100%;
	}
	li:nth-child(n+1):nth-child(-n+4) { /* front matter */
		flex: 1 0 25%;
		margin-bottom: 4rem;
	}
	li:nth-child(n+5):nth-child(-n+54) { /* emblems */
		flex: 1 0 15%;
		margin: 0 1rem 3rem 1rem;
	}
	img {
		height: auto;
		width: 200px;
	}
}