@import 'colors';
@import 'utilities';

main#emblem-toc {
	background: $red;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	padding: 3rem 5rem;
	h1, 
	h3, 
	h5, 
	nav.af-toc {
		color: $white;
		grid-column: 1 / 13;
		font-family: $display-font_emblem;
		font-size: 1.125rem;
		text-align: center;
	}
	h1 {
		font-family: $secondary-display-font_emblem;
		font-size: 5rem;
		line-height: 1;
		margin-bottom: 1.5rem;
	}
	h3 {
		font-size: 1.125rem;
		letter-spacing: .05em;
		margin-bottom: 3rem;
		text-transform: uppercase;
	}
	h5 {
		display: none;
		color: $white_transparent;
		font-size: 1.5rem;
		margin-bottom: 3rem;
	}
	cite {
		font-style: oblique;
	}
	nav.af-toc {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
	}
}
main#emblem-toc nav.af-toc {
	a {
		color: $white;
	}
	a > div {
		margin-top: -.5rem;
		padding-top: .25rem;
	}
	a:hover, 
	a:focus {
		color: $black_pure;
		outline: none;
		img {
			mix-blend-mode: lighten;
		}
	}
	a:hover {
		text-decoration: underline;
	}
	li:nth-child(n+1):nth-child(-n+4) a:focus {
		border-bottom: 2px solid $black_pure;
	}
	a:focus div {
		background-color: $white;
	}
	li:nth-child(n+1):nth-child(-n+4) a:active {
		border-bottom: none;
	}
	a:active {
		color: $white;
	}
	a:active div {
		background-color: none;
	}
	ul {
		border-top: 1px solid $black;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		grid-column: 1 / 13;
		padding-top: 3rem;
		width: 100%;
	}
	li:nth-child(n+1):nth-child(-n+4) { /* front matter */
		flex: 0 0 auto;
		margin-bottom: 4rem;
	}
	li:nth-child(1) {
		margin-left: .9375rem;
	}
	li:nth-child(4) {
		margin-right: .9375rem;
	}
	li.grid-line-break {
		flex-basis: 100%;
		height: 0;
	}
	li:nth-child(n+6):nth-child(-n+55) { /* emblems */
		flex: 0 0 auto;
		margin: 0 1rem 3rem 1rem;
	}
	img {
		height: auto;
		width: 200px;
	}

}
/*** GENERAL BREAKPOINTS ***/
/* small  -  mobile */
@media screen and (min-width: 300px) and (max-width: 767px) {
	main#emblem-toc {
		padding: 3rem 1rem;
		h1 {
			font-size: 4.5rem;
		}
		nav.af-toc > ul {
			justify-content: center;
		}
		nav.af-toc li:nth-child(n+1):nth-child(-n+4) {
			flex: 1 0 100%;
			margin-bottom: 1.5rem;
		}
		nav.af-toc li:nth-child(1), 
		nav.af-toc li:nth-child(4) {
			margin-right: 0;
			margin-left: 0;
		}
		nav.af-toc li:nth-child(n+4):nth-child(-n+4) {
			margin-bottom: 3rem;
		}
	}
}
/* medium  -  tablet */
@media screen and (min-width: 768px) and (max-width: 999px) {
	main#emblem-toc {
		padding: 3rem 1.875rem;
		nav.af-toc li:nth-child(1), 
		nav.af-toc li:nth-child(4) {
			margin-right: 0;
			margin-left: 0;
		}
		nav.af-toc li:nth-child(n+6):nth-child(-n+55) { /* emblems */
			margin: 0 0 3rem 0;
		}
	}
}
/* large  -  desktops */
@media screen and (min-width: 1800px) and (max-width: 1999px) {
	main#emblem-toc {
		padding: 3rem 20rem;
		nav.af-toc ul {
			padding-top: 5rem;
		}
		nav.af-toc li:nth-child(n+1):nth-child(-n+4) { /* front matter */
			margin-bottom: 6rem;
		}
	}
}
/* x-large  -  desktops */
@media screen and (min-width: 2000px) and (max-width: 2999px) {
	main#emblem-toc {
		padding: 3rem 23rem;
		nav.af-toc {
			font-size: 1.5rem;
		}
		nav.af-toc ul {
			padding-top: 5rem;
		}
		nav.af-toc li:nth-child(n+1):nth-child(-n+4) { /* front matter */
			margin-bottom: 6rem;
		}
		nav.af-toc li:nth-child(n+6):nth-child(-n+55) { /* emblems */
			margin: 0 0 4rem 0;
		}
	}
}
/*** UNIQUE BREAKPOINTS ***/
@media screen and (min-width: 530px) and (max-width: 689px) {
	main#emblem-toc {
		nav.af-toc li:nth-child(n+6):nth-child(-n+55) { /* emblems */
			flex: 0 0 50%;
			margin: 0 0 3rem 0;
		}
	}
}
@media screen and (min-width: 690px) and (max-width: 728px) {
	main#emblem-toc {
		nav.af-toc li:nth-child(n+6):nth-child(-n+55) { /* emblems */
			margin: 0 0 3rem 0;
		}
	}
}
@media screen and (min-width: 860px) and (max-width: 935px) {
	main#emblem-toc {
		nav.af-toc li:nth-child(n+6):nth-child(-n+55) { /* emblems */
			flex: 1 0 30%;
		}
	}
}
@media screen and (min-width: 1000px) and (max-width: 1089px) {
	main#emblem-toc {
		padding: 3rem 2rem;
	}
}
@media screen and (min-width: 2137px) and (max-width: 2200px) {
	main#emblem-toc {
		padding: 3rem 25rem;
	}
}
@media screen and (min-width: 2337px) and (max-width: 2500px) {
	main#emblem-toc {
		padding: 3rem 28rem;
	}
}
@media screen and (min-width: 2536px) and (max-width: 2687px) {
	main#emblem-toc {
		padding: 3rem 34rem;
	}
}
@media screen and (min-width: 2688px) and (max-width: 2799px) {
	main#emblem-toc {
		padding: 3rem 38rem;
	}
}
@media screen and (min-width: 2800px) and (max-width: 2899px) {
	main#emblem-toc {
		padding: 3rem 29rem;
	}
}
@media screen and (min-width: 2900px) and (max-width: 2999px) {
	main#emblem-toc {
		padding: 3rem 32rem;
	}
}