@import 'colors';
@import 'utilities';

footer {
	background-color: $gray;
	color: $white;
	font-size: .75rem;
	font-weight: 600;
	height: 20vh;
	padding: 3rem 6rem;
	width: calc(100vw - 12rem);
	.footer--main {
		width: calc(60vw - 6rem);
	}
	.footer--branding {
		width: calc(40vw - 6rem);
	}
	ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		height: 20vh;
	}
	li {
		line-height: 2.8;
	}
	li a {
		color: $white;
		text-transform: uppercase;
	}
	li a:hover {
		color: $yellow_bright;
	}
}