@import 'colors';
@import 'utilities';

div._footer {
	background: $gray;
	display: block;
	max-height: 30vh;
	padding: 100px 0;
	width: 100%;

	@include media ('>=desktop', '<widescreen') {

	}

	footer {
		box-sizing: border-box;
		color: $white;
		font-size: .75rem;
		height: auto;
		letter-spacing: .8px;
		margin: 0 auto;
		padding: 0 25px;
		position: relative;
		text-transform: uppercase;
		width: 100%;
		max-width: 1137px;
		@include media ('>=xs-phone', '<tablet') {
			padding: 0rem 1rem;
		}
		@include media ('>=tablet', '<desktop') {
			padding: 0rem 2rem;
		}
		@include media ('>=desktop', '<widescreen') {
			padding: 0 5rem;
		}
	}
	ul {

	}
	li {
		line-height: 1.5;
		margin-bottom: .75rem;
	}
	li a {
		color: $white;
		font-size: .75rem;
		letter-spacing: .8px;
		text-transform: uppercase;
	}
	li a:hover {
		color: $yellow_bright;
		transition: .2s;
	}
	li a:focus {
		color: $yellow_bright;
		outline: none;
		text-decoration: underline solid $yellow_bright;
	}
/*	.footer--branding {
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		flex-direction: column;
		height: 100%;
	}
	h6 {
		font-size: .75rem;
		font-weight: 600;
		text-transform: uppercase;
	}
	img {
		height: auto;
		width: 10rem;
	}*/
}

/*	@include media ('>=tablet') {
		div._footer {

		}

	}*/
/* BREAKPOINTS */
@media screen and (min-width: 320px) and (max-width: 767px) {
	footer {
/*		height: 30vh;
		padding: 2rem;
		width: calc(100vw - 4rem);
		.footer--main {
			width: calc(60vw - 2rem);
		}
		.footer--branding {
			width: calc(40vw - 2rem);
		}
		ul {
			height: 30vh;
		}*/
	}
}