@import 'colors';
@import 'utilities';

.frontmatter .section__frontispiece, 
.frontmatter .section__author-epigram, 
.frontmatter .section__dedication, 
.frontmatter .section__preface {
	font-family: $body-font_emblem;
	height: 100%;
	min-height: $lessemblemnav-h;
	padding: 2rem;
}
