@import 'utilities';
@import 'colors';

main#image-search {
	background: $white;
	min-height: 100vh;
	margin-top: -2rem;
	padding: 0 1rem;
	padding-top: 1px; /* this is some conflict w/ collections css */
	width: calc(100vw - 2rem);
	* {

	}
	.faceting--help {
		/*display: none;*/
	}
	.breadcrumbs__copy-link {
		display: none;
	}
}
.image-search-filters {
	color: $text_body;
	padding: 0;
	position: fixed;
	top: $topnav-h;
	left: 0;
	width: 100vw;
	z-index: $subnav-z;
	ul.image-search__categories {
		background-color: $white;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		height: $imagesearchcatnav-h;
		width: 100%;
	}
	.category__item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1 1 auto;
		flex-direction: column;
		height: $imagesearchcatnav-h;
		padding-top: 0;
	}
	.category__item > a {
		background-color: $text_body_transparent;
		color: $text-body;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1rem;
		height: 100%;
		width: 100%;
	}
	.category__item > a:hover, 
	.category__item.category--active > a {
		background-color: $blue_light;
	}
	.category__item > a:focus {
		background-color: $blue_light;
		outline: 1px dotted $gray;
	}
	.faceting--help {
/*		display: none;
		min-height: 2.625rem;*/
		background-color: $blue_light;
		border-top: 2px solid $text_body;
		box-sizing: border-box;
		display: none;
		align-items: center;
		justify-content: flex-end;
		flex-direction: row;
		font-size: .875rem;
		height: 2.625rem;
		padding: 0 2rem;
		position: fixed;
		top: calc(70vh - 8.5rem + 5.625rem);
		/*top: $imagesearchnav-h;*/
		left: 0;
		width: 100vw;
		z-index: $subnav-z;
	}
	.category--active .faceting--help {
		display: flex;
	}
	ul.image-search__subcategories {
		background-color: $blue_light;
		box-sizing: border-box;
		display: none;
		flex-direction: row;
		font-size: .875rem;
		height: calc(70vh - 8.5rem);
		padding: 2rem 4.25rem 2rem 4.25rem;
		position: fixed;
		top: $imagesearchnav-h;
		left: 0;
		width: 100vw;
		z-index: $subnav-z;
	}
	.category__item.category--active ul.image-search__subcategories {
		display: flex;
	}
	.subcategory__item {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		margin-right: 1rem;
	}
	.subcategory__item:last-of-type {
		margin-left: 1rem;
		margin-right: 0;
	}
	#people.category--actions .subcategory__item:first-child {
		flex: 1 1 78%;
	}
	.subcategory__label {
		border-bottom: 1px solid $text_body;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: 1.125rem;
		font-weight: 800;
		width: 100%;
	}
	.subcategory__label a {
		color: $text_body;
	}
	ul.subcategory__terms {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: 100%;
		line-height: .5;
		padding: 1rem 0;
	}
	.subcategory__term-item {
		display: block;
		padding: .75rem 0;
	}
	.subcategory__term-item a:focus .image-term {
		text-decoration: underline;
	}
	.term--selected {
		.image-term {
			font-weight: 800;
		}
		.image-term__number {
			font-weight: 800;
		}
		.image-term__icon {
			background-image: url(../icons/icon_X-close.svg);
			cursor: pointer;
			display: inline-block;
			filter: invert(90%);
			visibility: visible;
		}
		a:hover .image-term__icon {
			background-image: url(../icons/icon_X-close_RED.svg);
			filter: invert(0%);
		}
	}
	.subcategory__term-item a {
		color: $text_body;
		padding: .25rem 0;
		/*outline: 1px solid green;*/
	}
	.subcategory__term-item a:hover {
		color: $red;
		transition: .2s;
	}
	.faceting--help {

	}
	.image-term {
		/*outline: 2px solid orange;*/
	}
	.image-term__number {
		/*outline: 2px solid orange;*/
		margin-left: .5rem;
		
	}
	.image-term__icon {
		visibility: hidden;
		font-weight: 800;
		height: 10px;
		margin-left: .5rem;
		width: 10px;		
	}
}
.image-search__breadcrumbs {
	background-color: $white;
	color: $gray_medium_accessible;
	top: $imagesearchnav-h;
	padding: .5rem 0;
	position: fixed;
	width: 100%;

	z-index: 1;
	.breadcrumbs__selected-filters {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: .875rem;
	}
	.filters__label {
		text-align: right;
		text-transform: uppercase;
	}
	.filters__list {

	}
	.filters__list li {
		display: inline-block;
		padding: .5rem;
	}
	.filters__list li.term a {
		background-color: $blue_light;
		border-radius: 4px;
		color: $text_body;
	}
	.filters__list li.term:hover a {
		background-color: $red;
		color: $white;
	}
	.filters__list li.para {
		display: none;
	}
	.filters__list a {
		color: $gray_medium;
		padding: .25rem .5rem;
	}
	.filters__list a:hover {
		transition: .2s;
		.selected-filter__icon {
			filter: invert(90%);
			transition: .2s;
		}
	}
	.filters__list .selected-filter__icon {
		background-image: url(../icons/icon_X-close.svg);
		display: inline-block;
		display: none;
		filter: invert(50%);
		height: 10px;
		margin-left: .5rem;
		width: 10px;
	}
	.filters__list li.reset-button button {
		background-color: $gray_medium;
		border-radius: 2px;
		color: $white;
		padding: .25rem .5rem;
		&:hover {
			background-color: $red;
		}
	}

}
.image-search__hero {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 12rem;
	margin-bottom: 1rem;
	margin-top: 8rem;
	position: relative;
	width: 100%;
	.hero__bkg {
		color: $text_body_transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: $display-font;
		font-size: 12rem;
		height: 12rem;
		margin-top: -1rem;
		position: absolute;
		text-transform: lowercase;
		vertical-align: top;
	}
	h1.hero__heading {
		color: $text_body;
		font-family: $body-font;
		font-size: 2rem;
		font-weight: 600;
		line-height: 1.2;
		position: absolute;
		text-align: center;
		width: 100%;
	}
	cite {
		font-style: oblique;
	}
}
.image-search__results-viz.stickyyy {
	position: fixed;
	top: 160px;
	z-index: 1;
}
.image-search__results-viz {
	background-color: $white;
	color: $gray_medium_accessible;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	.results-viz__label {
		/*outline: 1px solid pink;*/
		display: inline-block;
		font-size: .875rem;
		margin-right: 1rem;
		text-align: right;
		text-transform: uppercase;
	}
	ul.results-viz__items {
		display: flex;
		align-items: space-around;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 100%;
	}
	ul > li {
		background-color: $text_body_transparent;
		display: inline-block;
		flex-basis: 1.5%;
		height: 1.375rem;
		margin: 0 .0625rem;
	}
	.tooltip {
		width: 100%;
		height: 100%;
		display: inline-block;
		cursor: pointer;
		position: relative;
		z-index: 50;
	}
	li.image--active {
		background-color: $gray_medium;
	}
	li.image--active:hover {
		background-color: $yellow;
		transition: .2s;
	}
}
.container--inactive {
	display: none;
}
.container--active {

}
.image-results__container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 2rem;
	.image-results__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		flex-basis: calc(20% - 5rem);
		margin: 0 .5rem 4rem .5rem;
		max-height: 100vh;
		/*margin: 1rem;*/
		/*max-width: 20%;*/
	}
	.image-results__image {
		height: 180px;
		margin-bottom: 1rem;
		object-fit: cover;
		width: 190px;
	}
	.image-results__item.item--active img {
		filter: brightness(100%);
	}
	.image-results__item.item--inactive {
		img {
			filter: brightness(35%);
		}
	}
	.image-results__details {
		min-height: 4rem;
		max-height: 20rem;
		/*outline: 5px solid blue;*/
		width: 190px;
	}
	.image-results__label {
		flex-basis: 100%;
		font-size: .875rem;
		margin-bottom: 1rem;
	}
	.image-results__button-row {
		display: flex;
		flex-basis: 100%;
		align-items: center;
		justify-content: space-between;
		height: 1.75rem;
	}
	.image-results__button {
		background-color: $yellow;
		color: $text_body;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1 1 auto;
		font-family: $body-font;
		font-size: .625rem;
		height: 100%;
		letter-spacing: normal;
		line-height: normal;
		text-transform: uppercase;
		span.label {
			display: inline-block;
			
		}
		span.icon {
			display: none;	
		}
		a {
			color: $text_body;
		}
	}
	.image-results__button:hover,
	.image-results__button:active {
		background-color: $yellow_bright;
		color: $text_body;
		outline: none;
		transition: background-color .2s;
	}
	.image-results__button:focus {
		border: 1px dotted $black;
		outline: none;
	}
	.image-results__button--open {
		background-color: $yellow_bright;
		span.label {
			margin-left: -2px;
		}
		span.icon {
			background-image: url(../icons/icon_X-close.svg);
			display: flex;
			filter: invert(95%);
			height: 8px;
			margin-left: 5px;
			margin-right: -3px;
			width: 8px;
		}
	}
	.image-results__button--open:hover span.icon, 
	.image-results__button--open:active span.icon {
		/*filter: invert(95%);*/
	}
	.image-results__all-terms {
		display: none;
		font-size: .75rem;
		line-height: 1.5;
		height: 100%;
		max-height: 100vh;
		margin-bottom: -3rem;
		padding: .5rem;
		overflow-wrap: break-word;
		word-break: break-word;
		word-wrap: break-word;
	}
	.all-terms--active {
		display: inline-block;
	}
	.all-terms--inactive {
		display: none;
	}
	.image-results__all-terms a {
		color: $text_body;
	}
	.image-results__all-terms a:hover {
		color: $red_dark;
	}
	.image-results__all-terms a:focus {
		text-decoration: underline;
	}
}
/*** GENERAL BREAKPOINTS ***/
/* mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
	main#image-search {
		box-sizing: border-box;
		width: auto;
	}
	.image-search-filters .category__item > a {
		font-size: .75rem;
	}
	.image-search-filters ul.image-search__subcategories {
		height: auto;
		overflow-y: scroll;
		overflow-x: hidden;
		padding: 1rem;
		padding-bottom: 4rem;
		top: 16vh;
		bottom: 0;
	}
	.image-search-filters .subcategory__item {
		margin-right: 0;
	}
	.image-search-filters .subcategory__item:last-of-type {
		margin-left: 0;
	}
	.image-search-filters .subcategory__label {
		font-size: 1rem;
	}
	.image-search-filters ul.image-search__subcategories {
		flex-direction: column;
		margin-top: -40px;
	}
	.image-search-filters ul.subcategory__terms {
		flex-direction: row;
		height: auto;
	}
	.image-search-filters .subcategory__term-item {
		
	}
	.image-search__breadcrumbs {
		margin-left: -1rem;
		margin-top: -1rem;
		padding: 1rem .5rem;
		position: relative;
		.breadcrumbs__selected-filters {
			display: block;
		}
		.filters__label {
			display: block;
			text-align: left;
		}
		.filters__list li {
			padding: 0;
		}
		li.para {
			display: none;
		}
		li.term {
			font-size: .75rem;
			margin-left: -.5rem;
			width: 100vw;
		}
		li.reset-button {
			padding-top: 1.25rem;
		}
	}
	.image-search__hero {
		margin-top: 5rem;
	}
	.image-search__hero .hero__bkg {
		font-size: 5.5rem;
		line-height: .9;
		text-align: center;
	}
	.image-search__hero h1.hero__heading {
		font-size: 1.5rem;
		margin-top: -.5rem;
	}
	.image-search__results-viz {
		margin-left: -1rem;
		padding-left: .5rem;
	}
	.image-search__results-viz ul.results-viz__items  {
		display: none;
	}
}
@media screen and (min-width: 320px) and (max-width: 812px) and (orientation: landscape) {
	.image-search-filters ul.image-search__subcategories {
		padding-bottom: 50px !important;
	}
	.image-search-filters ul.subcategory__terms {
		flex-direction: column;
	}
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.image-search-filters ul.image-search__subcategories {
		flex-direction: column;
		min-height: 24vh;
		max-height: 85vh;
		padding: 2rem 1rem;
	}
	.image-search-filters .subcategory__item {
/*		display: flex;
		flex-direction: column;
		flex: 1 1 auto;*/
		margin-right: 0;
	}
	.image-search-filters .subcategory__item:last-of-type {
		margin-left: 0;
	}
	.image-search-filters ul.subcategory__terms {
		height: 4vh;
		min-height: 4vh;
		max-height: 80vh;
		flex: 1 0 0;
		flex-direction: column;
		flex-flow: column wrap;
	}
	.image-search-filters li.subcategory__term-item {
		display: flex;
  		align-items: flex-start;
  		flex: 1 0 11%;
  		justify-content: flex-start;
  		padding: 0 2px;
	}
	.image-search-filters li.subcategory__term-item a {
		width: 100%;
	}
	.image-search-filters .faceting--help {
		height: 5.25rem;
		top: calc(83vh - 4rem + 5.625rem);
	}
	.image-search-filters #actions ul.image-search__subcategories {
		height: 76vh;
	}
	.image-search-filters #actions li.subcategory__term-item {
		flex: 0 0 50%;	
	}
	.image-search-filters #actions .faceting--help {
		top: calc(56vh + 5.625rem);
	}
	.image-search-filters #architecture ul.image-search__subcategories {
		height: 72vh;
	}
	.image-search-filters #architecture li.subcategory__term-item {
		flex: 0 0 33%;	
	}
	.image-search-filters #architecture .faceting--help {
		top: calc(58vh + 5.625rem);
	}
	.image-search-filters #creatures ul.image-search__subcategories {
		height: 40vh;
	}
	.image-search-filters #creatures li.subcategory__term-item {
		flex: 0 0 14%;	
	}
	.image-search-filters #creatures .faceting--help {
		top: calc(24vh + 5.625rem);
	}
	.image-search-filters #nature ul.image-search__subcategories {
		height: 65vh;
	}
	.image-search-filters #nature li.subcategory__item {
		flex: 1 0 10%;	
	}
	.image-search-filters #nature li.subcategory__item:nth-child(3) {
		height: 24%;
		.subcategory__terms {
			flex-direction: column;
			li.subcategory__term-item {
				flex: 0 0 50%;
			}
		}
	}
	.image-search-filters #nature li.subcategory__term-item {
		flex: 0 0 2%;	
	}
	.image-search-filters #nature .faceting--help {
		top: calc(65vh + 5.625rem);
	}
	.image-search-filters #people ul.image-search__subcategories {
		height: 60vh;
	}
	.image-search-filters #people li.subcategory__term-item {
		flex: 0 0 11%;	
	}
	.image-search-filters #people li.subcategory__item:nth-of-type(2) li.subcategory__term-item {
		flex: 1 0 2%;	
	}
	.image-search-filters #people .faceting--help {
		top: calc(60vh + 5.625rem);
	}
	.image-search-filters #things ul.image-search__subcategories {
		height: 70vh;
	}
	.image-search-filters #things li.subcategory__term-item {
		flex: 0 0 24%;	
	}
	.image-search-filters #things .faceting--help {
		top: calc(62vh + 5.625rem);
	}
	.image-search-filters #traits ul.image-search__subcategories {
		height: 73vh;
	}
	.image-search-filters #traits .faceting--help {
		top: calc(56vh + 5.625rem);
	}
	.image-search__hero .hero__bkg {
		font-size: 7rem;
	}
	.image-search__hero h1.hero__heading {
		font-size: 1.25rem;
	}
	.image-search__results-viz ul.results-viz__items  {
		display: none;
	}
}
/* tablet - landscape */
@media screen and (min-width: 800px) and (max-width: 1024px) and (orientation: landscape) {
	.image-search-filters ul.image-search__subcategories {
		/* background-color: pink; */
	}
	.image-search-filters #nature ul.image-search__subcategories {
		height: 77vh;
	}
	.image-search-filters #nature .faceting--help {
		top: calc(77vh + 5.625rem);
	}
	.image-search-filters #traits ul.image-search__subcategories {
		height: 75vh;
	}
	.image-search-filters #traits li.subcategory__term-item {
		flex: 1 0 50%;	
	}
	.image-search-filters #traits .faceting--help {
		top: calc(75vh + 5.625rem);
	}
	.image-search-filters #creatures ul.image-search__subcategories {
		height: 34vh;
	}
	.image-search-filters #creatures .faceting--help {
		top: calc(34vh + 5.625rem);
	}
	.image-search-filters #actions ul.image-search__subcategories {
		height: 75vh;
	}
	.image-search-filters #actions li.subcategory__term-item {
		flex: 1 0 25%;	
	}
	.image-search-filters #actions .faceting--help {
		top: calc(75vh + 5.625rem);
	}
	.image-search-filters #things ul.image-search__subcategories {
		height: 72vh;
	}
	.image-search-filters #things li.subcategory__term-item {
		flex: 1 0 25%;	
	}
	.image-search-filters #things .faceting--help {
		top: calc(72vh + 5.625rem);
	}
}
/* small laptop */
@media screen and (min-width: 1025px) and (max-width: 1249px) {
	.image-search-filters ul.image-search__subcategories {
		flex-direction: row;
		flex-wrap: wrap;
		height: calc(83vh - 4rem);
		padding: 2rem;
	}
	.image-search-filters .subcategory__item {
		margin-right: 0;
	}
	.image-search-filters .subcategory__item:last-of-type {
		margin-left: 0;
	}
	.image-search-filters .faceting--help {
		top: calc(83vh - 4rem + 5.625rem);
	}
	.image-search-filters #actions ul.image-search__subcategories {
		padding-left: 4.5rem;
	}
	.image-search-filters #actions li.subcategory__item:nth-child(1), 
	.image-search-filters #actions li.subcategory__item:nth-child(2) {
		flex: 0 0 50%;
		height: 45%;	
	}
	.image-search-filters #actions .subcategory__label:nth-child(1), 
	.image-search-filters #actions .subcategory__label:nth-child(3), 
	.image-search-filters #actions .subcategory__label:nth-child(4) {
		width: 90%;
	}
	.image-search-filters #actions li.subcategory__term-item {
		flex: 0 0 11%;	
	}
	.image-search-filters #architecture ul.image-search__subcategories {
		height: 74vh;
	}
	.image-search-filters #architecture li.subcategory__item {
		flex: 1 0 33%;
		ul.subcategory__terms {
			flex-direction: column;
			flex-wrap: wrap;
		}	
	}
	.image-search-filters #architecture li.subcategory__item:first-child {
		flex: 1 0 100%;
		height: 40%;
	}
	.image-search-filters #architecture li.subcategory__item:nth-child(2),
	.image-search-filters #architecture li.subcategory__item:nth-child(3), 
	.image-search-filters #architecture li.subcategory__item:nth-child(4) {
		height: 56%;
	}
	.image-search-filters #architecture li.subcategory__item:nth-child(2) .subcategory__label, 
	.image-search-filters #architecture li.subcategory__item:nth-child(3) .subcategory__label {
		width: 90%;
	}
	.image-search-filters #architecture li.subcategory__term-item {
		flex: 0 0 11%;	
	}
	.image-search-filters #architecture .faceting--help {
		top: calc(74vh + 5.625rem);
	}
	.image-search-filters #creatures ul.image-search__subcategories {
		height: 46vh;
	}
	.image-search-filters #creatures li.subcategory__item {
		height: 100%;
	}
	.image-search-filters #creatures .faceting--help {
		top: calc(46vh + 5.625rem);
	}
	.image-search-filters #nature ul.image-search__subcategories {
		height: 80vh;
	}
	.image-search-filters #nature li.subcategory__item {
		flex: 1 0 30%;
		ul.subcategory__terms {
			flex-direction: column;
			flex-wrap: wrap;
		}	
	}
	.image-search-filters #nature li.subcategory__item:nth-child(1),
	.image-search-filters #nature li.subcategory__item:nth-child(2), 
	.image-search-filters #nature li.subcategory__item:nth-child(3) {
		height: 46%;
	}
	.image-search-filters #nature li.subcategory__item:nth-child(4), 
	.image-search-filters #nature li.subcategory__item:nth-child(5), 
	.image-search-filters #nature li.subcategory__item:nth-child(6) {
		height: 40%;
	}
	.image-search-filters #nature .subcategory__label:nth-child(1),
	.image-search-filters #nature .subcategory__label:nth-child(2), 
	.image-search-filters #nature .subcategory__label:nth-child(4),
	.image-search-filters #nature .subcategory__label:nth-child(5) {
		width: 90%;
	}
	.image-search-filters #nature li.subcategory__term-item {
		flex: 0 0 11%;	
	}
	.image-search-filters #nature .faceting--help {
		top: calc(80vh + 4.625rem);
	}
	.image-search-filters #people.category--actions .subcategory__item:first-child, 
	.image-search-filters #people li.subcategory__item {
		flex: 1 1 100%;
		height: 60%;
		ul.subcategory__terms {
			flex-direction: column;
			flex-wrap: wrap;
		}	
	}
	.image-search-filters #people li.subcategory__item:nth-child(2) {
		height: 32%;
	}
	.image-search-filters #people li.subcategory__term-item {
		flex: 0 0 4%;	
	}
	.image-search-filters #things ul.image-search__subcategories {
		height: 79vh;
		flex-direction: column;
		flex-wrap: nowrap;
	}
	.image-search-filters #things li.subcategory__item {
		
		ul.subcategory__terms {

		}
	}
	.image-search-filters #things li.subcategory__item:nth-child(1),
	.image-search-filters #things li.subcategory__item:nth-child(2) {
		height: 40%;	
	}
	.image-search-filters #things li.subcategory__item:nth-child(3) {
		height: 20%;	
	}
	.image-search-filters #things li.subcategory__term-item {
		flex: 0 0 4%;	
	}
	.image-search-filters #things .faceting--help {
		top: calc(79vh + 4.625rem);
	}
	.image-search-filters #traits ul.image-search__subcategories {
		height: 78vh;
		padding-left: 4rem;
	}
	.image-search-filters #traits li.subcategory__item {
		flex: 0 0 33%;
		ul.subcategory__terms {
			flex-direction: column;
			flex-wrap: wrap;
		}	
	}
	.image-search-filters #traits li.subcategory__item:nth-child(1),
	.image-search-filters #traits li.subcategory__item:nth-child(2), 
	.image-search-filters #traits li.subcategory__item:nth-child(3) {
		height: 60%;
	}
	.image-search-filters #traits li.subcategory__item:nth-child(4), 
	.image-search-filters #traits li.subcategory__item:nth-child(5) {
		height: 50%;
	}
	.image-search-filters #traits .subcategory__label:nth-child(1),
	.image-search-filters #traits .subcategory__label:nth-child(2), 
	.image-search-filters #traits .subcategory__label:nth-child(4) {
		width: 90%;
	}
	.image-search-filters #traits li.subcategory__term-item {
		flex: 0 0 11%;	
	}
	.image-search-filters #traits .faceting--help {
		top: calc(78vh + 4.625rem);
	}
}

/*** SPECIFIC BREAKPOINTS ***/
@media screen and (min-width: 1100px) and (max-width: 1300px) {
	.image-search__hero .hero__bkg {
		font-size: 10rem;
	}
	.image-search__hero h1.hero__heading {
		font-size: 1.75rem;
	}
}
@media screen and (min-width: 1000px) and (max-width: 1099px) {
	.image-search__hero .hero__bkg {
		font-size: 9rem;
	}
	.image-search__hero h1.hero__heading {
		font-size: 1.625rem;
	}
}