@import 'utilities';
@import 'colors';

main#image-search {
	height: 100vh;
	margin-top: $topnav-h;
	padding: 0 1rem;
	width: calc(100vw - 2rem);
	* {
		/*box-sizing: border-box !important;*/
	}
}
.image-search-filters {
	color: $text_body;
	padding: 0;
	position: fixed;
	top: $topnav-h;
	left: 0;
	width: 100vw;
	z-index: $subnav-z;
	ul.image-search__categories {
		background-color: $white;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		height: $imagesearchcatnav-h;
		width: 100%;
	}
	.category__item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1 1 auto;
		height: $imagesearchcatnav-h;
		padding-top: 0;
	}
	.category__item > a {
		background-color: $gray_medium-light;
		color: $text-body;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1rem;
		height: 100%;
		width: 100%;
	}
	.category__item > a:hover, 
	.category__item.category--active > a {
		background-color: $blue-light;
	}
	ul.image-search__subcategories {
		background-color: $blue_light;
		box-sizing: border-box;
		display: none;
		flex-direction: row;
		height: auto;
		min-height: 10vh;
		max-height: 50vh;
		padding: 2rem 4.25rem 2rem 4.25rem;
		position: fixed;
		top: $imagesearchnav-h;
		left: 0;
		width: 100vw;
		z-index: $subnav-z;
	}
	.category__item.category--active ul.image-search__subcategories {
		display: flex;
	}
	.subcategory__item {
	/*	outline: 2px solid green;*/
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		margin-right: 1rem;
	}
	.subcategory__item:last-of-type {
		margin-left: 1rem;
		margin-right: 0;
	}
	.subcategory__label {
/*		outline: 2px solid red;*/
		border-bottom: 1px solid $text_body;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: 1.125rem;
		font-weight: 800;
		width: 100%;
	}
	.subcategory__label a {
		color: $text_body;
	}
	ul.subcategory__terms {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: 100%;
		line-height: .5;
		padding: 1rem 0;
	}
	.subcategory__term-item {
		display: block;
		padding: .75rem 0;
	}
	.term--selected {
		.image-term {
			font-weight: 800;
		}
		.image-term__number {
			font-weight: 800;
		}
		.image-term__icon {
			background-image: url(../icons/icon_X-close.svg);
			cursor: pointer;
			display: inline-block;
			filter: invert(90%);
			visibility: visible;
		}
		a:hover .image-term__icon {
			background-image: url(../icons/icon_X-close_RED.svg);
			filter: invert(0%);
		}
	}
	.subcategory__term-item a {
		color: $text_body;
		padding: .25rem 0;
		/*outline: 1px solid green;*/
	}
	.subcategory__term-item a:hover {
		color: $red;
		transition: .2s;
	}
	.image-term {
		/*outline: 2px solid orange;*/
	}
	.image-term__number {
		/*outline: 2px solid orange;*/
		margin-left: .5rem;
		
	}
	.image-term__icon {
		visibility: hidden;
		font-weight: 800;
		height: 10px;
		margin-left: 1rem;
		width: 10px;		
	}
}
.image-search__breadcrumbs {
	background-color: $white;
	color: $gray_medium;
	top: $imagesearchnav-h;
	padding: .5rem 0;
	position: fixed;
	width: 100%;

	z-index: 1;
	.breadcrumbs__selected-filters {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: .875rem;
	}
	.filters__label {
		text-align: right;
		text-transform: uppercase;
	}
	.filters__list {

	}
	.filters__list li {
		display: inline-block;
		padding: .5rem;
	}
	.filters__list a {
		color: $gray_medium;
		padding: .25rem .5rem;
	}
	.filters__list a:hover {
		color: $text-body;
		transition: .2s;
		.selected-filter__icon {
			filter: invert(90%);
			transition: .2s;
		}
	}
	.filters__list .selected-filter__icon {
		background-image: url(../icons/icon_X-close.svg);
		display: inline-block;
		filter: invert(50%);
		height: 10px;
		margin-left: .5rem;
		width: 10px;
	}
}
.image-search__hero {
/*	outline: 5px solid yellow;*/
	display: flex;
	align-items: center;
	justify-content: center;
	height: 12rem;
	margin-bottom: 1rem;
	margin-top: 12rem;
	position: relative;
	width: 100%;
	.hero__bkg {
		color: $gray_medium-light;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: $display-font;
		font-size: 12rem;
		height: 12rem;
		margin-top: -1rem;
		position: absolute;
		text-transform: lowercase;
		vertical-align: top;
	}
	h1.hero__heading {
		color: $text_body;
		font-family: $body-font;
		font-size: 2rem;
		font-weight: 600;
		line-height: 1.2;
		position: absolute;
		text-align: center;
	}
}
.image-search__results-viz.stickyyy {
	position: fixed;
	top: 160px;
	
	z-index: 1;
}
.image-search__results-viz {
	/*outline: 5px solid green;*/
	background-color: $white;
	color: $gray_medium;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	/*height: 3rem;*/
	width: 100%;
	.results-viz__label {
		/*outline: 1px solid pink;*/
		display: inline-block;
		font-size: .875rem;
		margin-right: 1rem;
		text-align: right;
		text-transform: uppercase;
	}
	ul.results-viz__items {
		display: inline-block;
		/*outline: 1px solid orange;*/
		display: flex;
		align-items: space-around;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 100%;
	}
	ul > li {
		background-color: $gray_medium-light;
		display: inline-block;
		flex-basis: 1.5%;
		height: 1.375rem;
		margin: 0 .0625rem;
	}
	.tooltip {
		/*border: 1px solid orange;*/
		width: 100%;
		height: 100%;
		display: inline-block;
		cursor: pointer;
		position: relative;
		z-index: 50;
	}
	.results-viz--active {
		background-color: $gray_medium;
	}
}
.container--inactive {
background-color: orange;
/*height: 40vh;*/
}
.container--active {

}
.image-results__container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	/*outline: 5px solid blue;*/
	padding: 2rem;
	.image-results__item {
		/*outline: 5px solid orange;*/
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		flex-basis: calc(20% - 5rem);
		margin: 0 .5rem 3rem .5rem;
		/*margin: 1rem;*/
		/*max-width: 20%;*/
	}
	.image-results__image {
		height: 180px;
		margin-bottom: 1rem;
		object-fit: cover;
		width: 190px;
	}
	.image-results__item.item--active img {
		filter: brightness(100%);
	}
	.image-results__item.item--inactive {
/*		display: none;*/
		img {
			filter: brightness(35%);
		}
	}
	.image-results__details {
		min-height: 4rem;
		max-height: 20rem;
		/*outline: 5px solid blue;*/
		width: 190px;
	}
	.image-results__label {
		flex-basis: 100%;
		font-size: .875rem;
		margin-bottom: 1rem;
	}
	.image-results__button-row {
		display: flex;
		flex-basis: 100%;
		align-items: center;
		justify-content: space-between;
		height: 1.75rem;
	}
	.image-results__button {
		background-color: $yellow;
		color: $white;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1 1 auto;
		font-family: $body-font;
		font-size: .625rem;
		height: 100%;
		letter-spacing: normal;
		line-height: normal;
		text-transform: uppercase;
		span.label {
			display: inline-block;
			
		}
		span.icon {
			display: none;	
		}
	}
	.image-results__button:hover, 
	.image-results__button:active {
		background-color: $yellow_bright;
		color: $text-body;
		transition: background-color .2s;
	}
	.image-results__button--open {
		background-color: $yellow_bright;
		span.label {
			margin-left: -2px;
		}
		span.icon {
			background-image: url(../icons/icon_X-close.svg);
			display: flex;
			height: 8px;
			margin-left: 5px;
			margin-right: -3px;
			width: 8px;
		}
	}
	.image-results__button--open:hover span.icon, 
	.image-results__button--open:active span.icon {
		filter: invert(95%);
	}
	.image-results__all-terms {
		display: none;
		font-size: .75rem;
		line-height: 1.5;
		height: 100%;
		max-height: 100vh;
		margin-bottom: -3rem;
		padding: .5rem;
	}
	.all-terms--active {
		display: inline-block;
	}
	.all-terms--inactive {
		display: none;
	}
}
/*** GENERAL BREAKPOINTS ***/
/* mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
	.image-search-filters .category__item > a {
		font-size: .75rem;
	}
	.image-search__hero .hero__bkg {
		/*color: orange;*/
		font-size: 6.5rem;
		line-height: .9;
		text-align: center;
	}
	.image-search__hero h1.hero__heading {
		font-size: 1rem;
	}
	.image-search__results-viz  {
		background-color: orange;
		ul > li {
			/*width: .875rem;*/
		}
	}
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 999px) {
	.image-search__hero .hero__bkg {
		/*color: pink;*/
		font-size: 7rem;
	}
	.image-search__hero h1.hero__heading {
		font-size: 1.25rem;
	}
	.image-search__results-viz  {
		background-color: pink;
		ul > li {
			/*flex: 1 1 50%;*/
		}
	}
}

/*** SPECIFIC BREAKPOINTS ***/
@media screen and (min-width: 1100px) and (max-width: 1300px) {
	.image-search__hero .hero__bkg {
		/*color: green;*/
		font-size: 10rem;
	}
	.image-search__hero h1.hero__heading {
		font-size: 1.75rem;
	}
}
@media screen and (min-width: 1000px) and (max-width: 1099px) {
	.image-search__hero .hero__bkg {
		/*color: blue;*/
		font-size: 9rem;
	}
	.image-search__hero h1.hero__heading {
		font-size: 1.625rem;
	}
}