@import 'colors';
@import 'utilities';

/* general styles */
.section__music {
	font-family: $body-font_emblem;
}
.section__music ._music .ata-music {
	.transport {
		background-color: $gray_light;
		box-sizing: border-box;
		height: calc(100vh - 6.25rem); /* view height - topnav - emblem nav */
		padding: 0 1rem;
		width: calc(50vw/12 * 2);
		.atalanta-notation-start, 
		.atalanta-notation-stop, 
		.atalanta-notation-mute-track, 
		.atalanta-notation__switch {
			background-image: none;
			color: $text_body;
			float: none;
			font-size: .875rem;
			height: auto;
			line-height: 1.2;
			margin: 0;
			padding: 0;
			text-align: center;
			width: 100%;
		}
		button > div:nth-child(1) {
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			margin-bottom: .5rem;
		}
		.atalanta-notation-start.playing {
		  display: none;
		}
		.play-btn__icon {
			background-image: url('../icons/icon_play_filled--gray.svg');
			height: 2.5rem;
		}
		.play-btn__icon:hover {
			filter: brightness(0.7);
			transition: .3s;
		}
		.pause-btn__icon {
			background-image: url('../icons/icon_pause_filled--gray.svg');
			height: 2.5rem;
		}
		.atalanta-notation-stop.playing .pause-btn__icon {
			background-image: url('../icons/icon_pause_filled--gray.svg');
		}
		.atalanta-notation-stop.playing:hover .pause-btn__icon {
			background-image: url('../icons/icon_pause_filled--gray.svg');
			filter: brightness(0.7);
			transition: .3s;
		}
		.mute-btn__icon {
			background-image: url('../icons/icon_volume_filled--gray.svg');
			height: 2.25rem;
		}
		.mute-btn__icon:hover {
			filter: brightness(0.7);
			transition: .3s;
		}
		.atalanta-notation-mute-track.mute .mute-btn__icon {
			background-image: url('../icons/icon_volume_filled--gray.svg');
		}
		.atalanta-notation-mute-track.mute:hover .mute-btn__icon {
			background-image: url('../icons/icon_volume_filled--gray.svg');
			filter: brightness(0.7);
			transition: .3s;
		}
		.atalanta-notation__switch a {
			color: $text_body;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			font-size: .875rem;
			height: 100%;
			line-height: 1.2;
			text-align: center;
			width: 100%;
		}
		.piano-roll__icon {
			background-image: url('../icons/icon_piano-roll_filled--gray.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			height: 2.75rem;
			margin-bottom: .5rem;
			width: 100%;
		}
		.piano-roll__icon:hover {
			filter: brightness(0.7);
			transition: .3s;
		}
	}
	.ata-viz-cmn {
		background: no-repeat;
  		background-size: contain;
		overflow: hidden;
	}
	.ata-viz-pianoroll {
		overflow: hidden;
	}
}


/* notation */
.section__music {
	.ata-viz-cmn .music-pages .music-page {
	  text-align: center;
	  transform-origin: 0 0;
	  overflow: hidden;
	  width: 100%; /* where am I overriding this from??? */
	}
	.music-page > svg {
		float: left;
		transform-origin: 0 0;
	}
	.music-pages {
		padding-bottom: 8rem;
	}
	.music-page:nth-of-type(1) {
		margin-top: -6rem;
	}
	.music-page:nth-of-type(2) {
		margin-top: -5rem;
	}
}


/* Playing notes */
.ata-viz-cmn svg .note.highlighted {
  fill: $yellow_inverse;
}
.ata-viz-cmn svg .note.highlighted path {
  stroke: $yellow_inverse;
}

/* general grid styles */
@supports (display: grid) {
	.section__music ._music {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
	}
	.section__music ._music .ata-music {
		display: grid;
		grid-area: 1 / 1 / 2 / 13;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
		.transport {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 3fr 1fr;
			grid-area: 2 / 1 / 3 / 3;
			.atalanta-notation-start, 
			.atalanta-notation-stop {
				grid-column: 1 / 2;
				grid-row: 1 / 2;
			}
			.track-mute {
				display: grid;
				grid-template-rows: 1fr 1fr 1fr;
				grid-row: 2 / 3;
			}
			.atalanta-notation-mute-track:nth-child(1) {
				grid-row: 1 / 2;
			}
			.atalanta-notation-mute-track:nth-child(2) {
				grid-row: 2 / 3;
			}
			.atalanta-notation-mute-track:nth-child(3) {
				grid-row: 3 / 4;
			}
			.atalanta-notation__switch {
				grid-row: 3 / 4;
			}
		}
		.ata-viz-cmn {
			display: grid;
			grid-area: 2 / 3 / 3 / 13;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: auto;
		}
		.ata-viz-pianoroll {
			grid-area: 3 / 2 / 4 / 12;
		}
	}
	.panel--right .section__music.grid--full ._music .ata-music {
		.ata-viz-cmn {
			grid-area: 2 / 4 / 3 / 13;
		}
	}
	.section__music {
		.music-pages {
			display: grid;
			grid-area: 1 / 1 / 2 / 13;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: auto;
		}
		.music-page:nth-of-type(1) {
			grid-area: 1 / 1 / 2 / 13;
		}
		.music-page:nth-of-type(2) {
			grid-area: 2 / 1 / 3 / 13;
		}
	}
	.panel--right .section__music.grid--full {
		.music-pages {
			padding-bottom: 3rem;
		}
		.music-page:nth-of-type(1) {
			margin-top: -1.5rem;
		}
		.music-page:nth-of-type(2) {
			margin-top: -2rem;
		}
	}
	/* GRID ANIMATION */
	/* sticky music player controls */
	.panel--right .section__music.grid--full ._music .ata-music .transport.is-stuck {
		background-color: $blue_light;
		left: 50vw;
		width: calc(50vw/12 * 2);
	}
	.panel--right .section__music.grid--full ._music .ata-music .transport.is-unstuck {
		background-color: $gray_light;
	}
}

/* general grid fallback styles */
@supports not (display: grid) {
	.section__music ._music .ata-music {
		.transport {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		.track-mute {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
		}
	}
}

/* GENERAL ANIMATION */
/* sticky music player controls */
.section__music ._music .ata-music .transport.is-stuck {
  animation: fade-in .4s ease-out;
  background-color: $blue_light;
  left: 0;
  position: fixed;
  top: $emblemnav-h;	
}
.section__music ._music .ata-music .transport.is-unstuck {
	animation: fade-out-in .4s ease-out;
	background-color: $gray_light;
}


/* piano roll */
.lity-container .ata-viz-pianoroll {
	background-color: $white;
	height: 60vh;
	margin-top: 5vh;
	width: 75vw;
	g.voice-1 .note {
		fill: $blue_desaturated;
	}
	g.voice-2 .note {
		fill: $red_desaturated;
	}
	g.voice-3 .note {
		fill: $green_desaturated;
	}
	g rect.note {
		stroke: $yellow_inverse;
	}
	g rect.note.highlighted {
		fill: $yellow_inverse;
	}
}
.lity-container .ata-viz-pianoroll > svg {
		margin-top: 22vh;
	}
.lity-container .ata-viz-pianoroll .transport {
	background-color: $gray_light;
	box-sizing: border-box;
	padding: .5rem;
	.atalanta-notation-start, 
	.atalanta-notation-stop, 
	.atalanta-notation-mute-track {
		background-image: none;
		color: $text_body;
		float: none;
		font-size: .875rem;
		height: auto;
		line-height: 1.2;
		margin: 0;
		padding: 0;
		text-align: center;
		width: 100%;
	}
	button > div:nth-child(1) {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		margin-bottom: .5rem;
	}
	.play-btn__icon {
		background-image: url('../icons/icon_play_filled--gray.svg');
		height: 2.5rem;
	}
	.atalanta-notation-start:hover .play-btn__icon {
		filter: brightness(0.7);
		transition: .3s;
	}
	.pause-btn__icon {
		background-image: url('../icons/icon_pause_filled--gray.svg');
		height: 2.5rem;
	}
	.atalanta-notation-stop:hover .pause-btn__icon {
		filter: brightness(0.7);
		transition: .3s;
	}
	.atalanta-notation-mute-track {
		transition: 0;
	}
	.mute-btn__icon {
		background-image: url('../icons/icon_volume_filled--gray.svg');
		height: 2rem;
		width: 100%;
	}
	.atalanta-notation-mute-track:hover .mute-btn__icon {
		filter: brightness(0.7);
		transition: .3s;
	}
}

/* grid piano roll */
@supports (display: grid) {
	.lity-container .ata-viz-pianoroll {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		grid-template-rows: auto;
	}
	.lity-container .ata-viz-pianoroll > svg {
		grid-column: 2 / 10;
	}
	.lity-container .ata-viz-pianoroll .transport {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: 1fr 3fr;
		grid-column: 1 / 2;
		.atalanta-notation-start, 
		.atalanta-notation-stop {
			grid-row: 1 / 2;
		}
		.track-mute {
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: 1fr 1fr 1fr;
			grid-row: 2 / 3;
		}
		.atalanta-notation-mute-track {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}

/* grid fallback piano roll */
@supports not (display: grid) {
	.lity-container .ata-viz-pianoroll {
		display: flex;
		flex-direction: row;
	}
	.lity-container .ata-viz-pianoroll .transport {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;
		height: 60vh;
		width: 8vw;
		.track-mute {
			display: flex;
			justify-content: space-between;
			flex-basis: 75%;
			flex-direction: column;
		}
	}
}