@import 'colors';
@import 'utilities';

body {
	padding: 0;
}

.music-test {
	outline: 10px solid red;
}
.section__music {
	font-family: $body-font_emblem;
}
.section__music ._music {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
}
.section__music ._music .ata-music {
	display: grid;
	grid-area: 1 / 1 / 2 / 13;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	.transport {
		background-color: transparent;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		grid-area: 1 / 2 / 2 / 12;
		z-index: 10; /* music page SVG overlaps with transport controls */
	}
	.ata-viz-cmn {
		background-color: blue;
		background: no-repeat;
  		background-size: contain;
  		display: grid;
		grid-area: 3 / 1 / 4 / 13; /* will not work unless the page refreshes when comparative is selected ??? */
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
		overflow: hidden;
	}
	.ata-viz-pianoroll {
		grid-area: 4 / 2 / 5 / 12;
		overflow: hidden;
	}
}
.ata-viz-pianoroll.modal { /* the lity modal takes the element out of the document flow while active */
	padding: 4rem 0rem;
	overflow: scroll;
}
.ata-viz-cmn .music-pages .music-page {
  text-align: center;
  transform-origin: 0 0;
  overflow: hidden;
  width: 100%; /* where am I overwriting this from??? */
}
.music-page > svg {
	float: left;
	transform-origin: 0 0;
}
.music-pages {
	display: grid;
	grid-area: 1 / 1 / 2 / 13;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	padding-bottom: 6rem;
}
.music-page:nth-of-type(1) {
	grid-area: 1 / 1 / 2 / 13;
	margin-top: -8rem;
}
.grid--left .music-page:nth-of-type(1), .grid--right .music-page:nth-of-type(1) {
	margin-top: -4rem;
}
.music-page:nth-of-type(2) {
	grid-area: 2 / 1 / 3 / 13;
	margin-top: -4rem;
}
.lity-hidden ._topnav {
	display: none;
/*	z-index: 1;*/
}
button.lity-close {
/*	top: 5.5rem;
	right: 3rem;*/
}
.lity-container {
	min-width: 100vw;
}
#visualize {
	padding: 3rem 0;
}
.atalanta-notation__switch {

}
.atalanta-notation__switch a {
	width: 14rem;
	height: 3rem;
	padding: .5rem 3rem;
	background-color: transparent;
	border: 6px solid black;
	border-radius: 10px;
	color: $black;
	font-size: 1.5rem;
}
.atalanta-notation__switch a:hover {
	background-color: $orange-yellow_brighter;
	color: #000;
}
.ata-music .transport button {
	background-size: contain;
	background-repeat: no-repeat;
	border: 0;
}
.track-mute {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: 110px;
}
.track-mute button {
	font-size: .875rem;
	line-height: 1rem;
}
.ata-music .transport .atalanta-notation-start,
.ata-music .transport .atalanta-notation-stop {
  height: 7rem;
  width: 7rem;
}

.ata-viz-cmn svg tspan { /* WHAT IS THIS??? */
  font-family: sans-serif !important;
  font-size: 18rem; /* ??? This is only to adjust spacing for overlapping verse */
}

.ata-music .transport .atalanta-notation-start {
  background-image: url('../icons/baseline-play_circle_outline-24px.svg');
}

.ata-music .transport .atalanta-notation-start.playing {
  display: none;
/*   background-image: url('../assets/icons/baseline-play_circle_outline-24px.svg'); */
}

.ata-music .transport .atalanta-notation-stop {
  background-image: url('../icons/baseline-pause_circle_outline-24px.svg');
}

.ata-music .transport .atalanta-notation-stop.playing {
  background-image: url('../icons/baseline-pause_circle_outline-24px.svg');
}

/* Mute buttons */

.atalanta-notation-mute-track {
  background-image: url('../icons/baseline-record_voice_over-24px.svg');
}

.atalanta-notation-mute-track.mute {
  background-image: url('../icons/baseline-record_voice_over-mute-24px.svg');
}

/* VENDOR SPECIFIC STYLES */
@-moz-document url-prefix() { /* https://developer.mozilla.org/en-US/docs/Web/CSS/@document */
	.music-page svg {
		margin-left: 1rem;
	}
}

















