@import 'colors';
@import 'utilities';

body {
	padding: 0;
}
.section__music {
	font-family: $body-font_emblem;
	padding-top: 0;
}
.section__music ._music {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
}
.section__music ._music .ata-music {
	display: grid;
	grid-area: 1 / 1 / 2 / 13;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	.transport {
		background-color: transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		grid-area: 1 / 1 / 2 / 13;
		height: 14vh;
		margin-bottom: 1rem;
		padding: 0;
		width: 100%;
		z-index: 10; /* music page SVG overlaps with transport controls */
	}
	.ata-viz-cmn {
/*		background-color: blue;*/
		background: no-repeat;
  		background-size: contain;
  		display: grid;
		grid-area: 3 / 1 / 4 / 13; /* will not work unless the page refreshes when comparative is selected ??? */
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
		overflow: hidden;
	}
	.ata-viz-pianoroll {
		grid-area: 4 / 2 / 5 / 12;
		overflow: hidden;
	}
}
.ata-viz-pianoroll .transport {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	height: 15vh;
	.atalanta-notation-start {
		background-image: url('../icons/icon_play-outline.svg');
	}
	.atalanta-notation-start:hover {
		background-image: url('../icons/icon_play-filled.svg');
		transition: .3s;
	}
	.atalanta-notation-stop {
		background-image: url('../icons/icon_pause-outline.svg');
	}
}
.atalanta-notation__switch {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90px;
	width: 100px;
}
.atalanta-notation__switch a {
	background-color: transparent;
	border: 2px solid $text_body;
	border-radius: 10px;
	color: $black;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.125rem;
	height: 100%;
	line-height: 1.2;
	padding: 0.5rem;
	text-align: center;
	width: 100%;
	word-break: break-word;
	word-wrap: break-word;
}
.atalanta-notation__switch a:hover, .atalanta-notation__switch a:focus {
	background-color: $yellow_bright;
	color: $black;
}
.ata-music .transport button {
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
}
.track-mute {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	min-height: 110px;
}
.track-mute button {
	font-size: .875rem;
	line-height: 1rem;
}
.ata-music .transport .atalanta-notation-start,
.ata-music .transport .atalanta-notation-stop {
  height: 7rem;
  width: 7rem;
}
.panel--right .section__music ._music .ata-music {
	.transport {
		grid-area: 1 / 1 / 2 / 13;
		justify-content: space-around;
	}
	.transport .atalanta-notation-start,
	.transport .atalanta-notation-stop {
		height: 5rem;
		width: 5rem;
	}
	.atalanta-notation__switch a {
		font-size: 1rem;
		height: 8rem;
/*		margin-left: 2rem;*/
		padding: .5rem 1rem;
		width: 8rem;
	}
}
.ata-music .transport .atalanta-notation-start {
	background-image: url('../icons/icon_play-outline.svg');
}
.ata-music .transport .atalanta-notation-start:hover, .ata-music .transport .atalanta-notation-start:focus {
	background-image: url('../icons/icon_play-filled.svg');
	transition: .3s;
}

.ata-music .transport .atalanta-notation-start.playing {
  display: none;
}

.ata-music .transport .atalanta-notation-stop {
	background-image: url('../icons/icon_pause-outline.svg');
}
/*.ata-music .transport .atalanta-notation-stop:hover {
	background-image: url('../icons/icon_pause-filled.svg');
	transition: .3s;
}*/
.ata-music .transport .atalanta-notation-stop.playing {
	background-image: url('../icons/icon_pause-outline.svg');
}
.ata-music .transport .atalanta-notation-stop.playing:hover, 
.ata-music .transport .atalanta-notation-stop.playing:focus {
	background-image: url('../icons/icon_pause-filled.svg');
	transition: .3s;
}
/* Mute buttons */
.atalanta-notation-mute-track {
	background-image: url('../icons/icon_profile-volume-outline.svg');
}
.atalanta-notation-mute-track:hover, 
.atalanta-notation-mute-track:focus {
	background-image: url('../icons/icon_profile-volume-filled.svg');
	transition: .3s;
}
.atalanta-notation-mute-track.mute {
	background-image: url('../icons/icon_profile-mute-outline.svg');
}
.atalanta-notation-mute-track.mute:hover {
	background-image: url('../icons/icon_profile-mute-filled.svg');
	transition: .3s;
}
.panel--right {
	.atalanta-notation-start,
	.atalanta-notation-stop {
		margin-right: 0;
		width: 1rem;

	}
}
/* sticky music player controls */
.section__music ._music .ata-music .transport.is-stuck {
	animation: fade-in .4s ease-out;
	background-color: $white !important;
	padding: 0;
	position: fixed;
	top: $emblemnav-h;
}
.panel--full .section__music ._music .ata-music .transport.is-stuck {
	width: 100vw;
}
.panel--right .section__music ._music .ata-music .transport.is-stuck {
	width: 50vw;
}
.section__music ._music .ata-music .transport.is-unstuck {
	animation: fade-out-in .4s ease-out;
}
.section__music ._music .ata-music .section__music.padding-hack {
	padding-top: calc(20vh + 1rem + 15px);
}
.lity-container .transport.is-stuck {
/*	outline: 5px solid red;*/
	animation: none;
	background-color: transparent !important;
	padding: 0 !important;
	position: relative;
	top: 0;
}



/* piano roll */
.ata-viz-pianoroll.modal { /* the lity modal takes the element out of the document flow while active */
	padding-bottom: 1rem;
	overflow: scroll;
}
button.lity-close {
/*	top: 5.5rem;
	right: 3rem;*/
}
.lity {
	background-color: $white;
}
.lity-container {
	min-width: 100vw;
}
#visualize {
	padding: 3rem 0;
}
.ata-viz-cmn .music-pages .music-page {
  text-align: center;
  transform-origin: 0 0;
  overflow: hidden;
  width: 100%; /* where am I overriding this from??? */
}
.music-page > svg {
	float: left;
	transform-origin: 0 0;
}
.music-pages {
	display: grid;
	grid-area: 1 / 1 / 2 / 13;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	padding-bottom: 6rem;
}
.music-page:nth-of-type(1) {
	grid-area: 1 / 1 / 2 / 13;
	margin-top: -8rem;
}
.panel--right .music-page:nth-of-type(1) {
	margin-top: -4rem;
}
.music-page:nth-of-type(2) {
	grid-area: 2 / 1 / 3 / 13;
	margin-top: -4rem;
}
.ata-viz-cmn svg tspan { /* WHAT IS THIS??? */
  font-family: sans-serif !important;
  font-size: 18rem; /* ??? This is only to adjust spacing for overlapping verse */
}

/* ANIMATIONS */
@keyframes fade-in {
	0% {
		opacity: 0; 
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-out {
	0% {
		opacity: 1; 
	}
	100% {
		opacity: 0;
	}
}
@keyframes fade-out-in {
	0% {
		opacity: 1; 
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* VENDOR SPECIFIC STYLES */
@-moz-document url-prefix() { /* https://developer.mozilla.org/en-US/docs/Web/CSS/@document */
	.music-page svg {
		margin-left: 1rem;
	}
}
/*** BREAKPOINTS ***/
/* medium-large - laptop */
@media screen and (min-width: 1024px) and (max-width: 1199px) {
	.section__music ._music .ata-music .transport {
		grid-area: 1 / 2 / 2 / 10;
	}
	.music-page:nth-of-type(1) {
		margin-top: -6rem;
	}
}
/* medium - tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.section__music ._music .ata-music .transport {
		grid-area: 1 / 1 / 2 / 13;
	}
	.music-page:nth-of-type(1) {
		margin-top: -4rem;
	}
}
/* small - mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
	.atalanta-notation__switch {
		display: none;
	}
}
@media screen and (min-width: 510px) and (max-width: 767px) {
	.music-page:nth-of-type(1) {
		margin-top: -4rem;
	}
}
@media screen and (min-width: 320px) and (max-width: 509px) {
	.music-page:nth-of-type(1) {
		margin-top: -2rem;
	}	
}
@media screen and (max-width: 319px) {
	/* the music section is seriously broken at this point */
}