@import 'colors';
@import 'utilities';

body {
	padding: 0;
}

.music-test {
	outline: 10px solid red;
}
.section__music {
	font-family: $body-font_emblem;
}
/*.atalanta-notation {*/
.ata-music {
/*	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;*/
}
/*.section__music.section--full.panel--left {*/
.section__music ._music {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
}
/*.section__music.section--full.panel--left .atalanta-notation {*/
.section__music ._music .ata-music {
	outline: 5px solid orange;
	display: grid;
	grid-area: 1 / 1 / 2 / 13;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	.transport {
		background-color: purple;
		grid-area: 1 / 2 / 2 / 12;
	}
/*	.atalanta-notation-viz.atalanta-notation-viz-cmn {*/
	.ata-viz-cmn {
		background-color: blue;
		grid-area: 3 / 1 / 4 / 13; /* will not work unless the page refreshes when comparative is selected ??? */
	}
/*	.atalanta-notation-viz-pianoroll {*/
	.ata-viz-pianoroll {
		grid-area: 4 / 2 / 5 / 12;
		overflow: hidden;
	}
}

/*.atalanta-notation-viz-cmn {*/
.ata-viz-cmn {
	background: no-repeat;
  	background-size: contain;
  	grid-area: 3 / 1 / 4 / 13;
/* 	margin: -8rem 0 4rem -1rem;*/
  	overflow: hidden;
}
.lity-hidden ._topnav {
	z-index: 10;
}
button.lity-close {
	top: 5.5rem;
	right: 3rem;
}
.lity-container {
	min-width: 100vw;
}
#visualize {
	padding: 3rem 0;
}

.atalanta-notation__switch {
	grid-area: 1 / 10 / 2 / 13;
	outline: 5px solid black;
	font-size: 64px;
}
.atalanta-notation__switch a {
/*	width: 100%;*/
/*	height: 100%;*/
	background-color: pink;
}




.ata-music .transport {
/*	background-color: $gray-light;
*/	
	background-color: transparent;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	grid-area: 1 / 2 / 2 / 10;
	z-index: 10; /* music page SVG overlaps with transport controls */
	outline: 5px solid red;
}

.ata-music .transport button {
	background-size: contain;
	background-repeat: no-repeat;
	border: 0;
}
.track-mute {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: 110px;
}
.track-mute button {
	font-size: .875rem;
	line-height: 1rem;
}

/*.atalanta-notation .transport .atalanta-notation-start,
.atalanta-notation .transport .atalanta-notation-stop {*/
.ata-music .transport .atalanta-notation-start,
.ata-music .transport .atalanta-notation-stop {
  height: 7rem;
  width: 7rem;
}

/* VENDOR SPECIFIC STYLES */
@-moz-document url-prefix() { /* https://developer.mozilla.org/en-US/docs/Web/CSS/@document */
	.music-page svg {
		margin-left: 1rem;
	}
}

















