@import 'colors';
@import 'utilities';

/*.my-offset-debug {
  background-color: red;
  height: 5px;
  width: auto;
  left: 0;
  z-index: 10000; 
}*/

#openseadragon-wrapper {
	height: calc(100vh - 6.25rem); /* currently, the combined height of the topnav and subnav is 6.25rem */
	background-color: #777;
}
#openseadragon-wrapper canvas {
	cursor: pointer;
}
#tools {
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
	z-index: 1000;
	width: 100%;
}
#tools>span {
	background-color: $black_transparent;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 8vh;
	padding: 0 .5rem;
	width: 10rem;
}
#tools a {
	display: flex !important; /* important required for openseadragon override */
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: $aqua;
	flex: 1 0 0px;
	font-size: .875rem;
	padding: 0 .25rem;
}
#tools a span {
	display: block;
	text-align: center;
}
#tools a:hover, #tools a:focus {
	color: $orange-yellow;
	transition: .3s;
}
#tools a:active {
	color: $gray-medium;
	transition: .3s;
}
#icon_arrow-left-lineart, #icon_arrow-right-lineart {
	width: 2rem;
	height: 4rem;
}
#icon_arrow-left-lineart polyline, #icon_arrow-right-lineart polyline, #icon_zoom-in-lineart g#handle path, #icon_zoom-in-lineart g#symbol path, #icon_zoom-out-lineart g#handle path, #icon_zoom-out-lineart g#symbol line {
	stroke: $aqua;
}
#icon_zoom-in-lineart g#glass path, #icon_zoom-out-lineart g#glass path {
	fill: $aqua;
}
#icon_arrow-left-lineart polyline, #icon_arrow-right-lineart polyline {
	stroke-width: 10;
}
#next:hover, #next:focus {
	#icon_arrow-right-lineart polyline {
		stroke: $orange-yellow;
		transition: .3s;
	}
}
#next:active {
	#icon_arrow-right-lineart polyline {
		stroke: $gray-medium;
		transition: .3s;
	}
}
#previous:hover, #previous:focus {
	#icon_arrow-left-lineart polyline {
		stroke: $orange-yellow;
		transition: .3s;
	}
}
#previous:active {
	#icon_arrow-left-lineart polyline {
		stroke: $gray-medium;
		transition: .3s;
	}
}
#zoom-in:hover, #zoom-in:focus {
	#icon_zoom-in-lineart g#handle path, #icon_zoom-in-lineart g#symbol path {
		stroke: $orange-yellow;
		transition: .3s;
	}
	#icon_zoom-in-lineart g#glass path {
		fill: $orange-yellow;
		transition: .3s;
	}
}
#zoom-in:active {
	#icon_zoom-in-lineart g#handle path, #icon_zoom-in-lineart g#symbol path {
		stroke: $gray-medium;
		transition: .3s;
	}
	#icon_zoom-in-lineart g#glass path {
		fill: $gray-medium;
		transition: .3s;
	}
}
#zoom-out:hover, #zoom-out:focus {
	#icon_zoom-out-lineart g#handle path, #icon_zoom-out-lineart g#symbol line {
		stroke: $orange-yellow;
		transition: .3s;
	}
	#icon_zoom-out-lineart g#glass path {
		fill: $orange-yellow;
		transition: .3s;
	}
}
#zoom-out:active {
	#icon_zoom-out-lineart g#handle path, #icon_zoom-out-lineart g#symbol line {
		stroke: $gray-medium;
		transition: .3s;
	}
	#icon_zoom-out-lineart g#glass path {
		fill: $gray-medium;
		transition: .3s;
	}
}
.facsimile--full {
	#previous, #next {
	background-color: $black_transparent;
	height: 7rem;
	position: fixed !important;
	top: 48vh;
	width: 5rem;
}
	#previous {
		left: 0;
	}
	#next {
		right: 0;
	}
}
.displayregion {

}
.facsimile--full.grid--half #tools>span {
/*	background-color: $black_transparent;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 8vh;
	padding: 0 .5rem;
	width: 10rem;*/
}
.facsimile--full.grid--half #tools, 
.facsimile--full.grid--half #tools>span {
	a#previous, 
	a#next {
		display: none !important; /* important required for openseadragon override */
	}
}

/***     Breakpoints     ***/
/* small  -  mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
	#tools {
		background-color: $black_transparent;
	}
	#tools>span {
		background-color: transparent;
	}
	#tools a span {
		display: none;
	}
	#tools svg {
		transform: scale(.6);
		transform-origin: 50% 50%;
	}
	.facsimile--full #previous, .facsimile--full #next,  {
		background-color: transparent;
		height: 4rem;
		top: calc(100vh - 8rem);
		width: 2rem;
		svg {
			transform: scale(.5);
		}
	}
}