@import 'utilities';
@import 'colors';

@media print {
	header, 
	nav, 
	div#section__facsimile.panel--left, 
	section.facsimile, 
	div#tools, 
	div#basic-waypoint__1, 
	/* section#basic-waypoint__2, */
	section#basic-waypoint__2 .transport, 
	section#basic-waypoint__2 .pianoroll, 
	div.collections-wrapper, 
	.ui-menu-item, 
	span.pb {
		display: none !important;
	}
	body {
		padding-top: 3rem;
	}
	body div.margin-note {
		font-family: sans-serif !important;
		font-style: italic;
	}
	body div.margin-note .note-mark {
		font-style: normal
	}
	section.section__motto div.title {
		margin-top: 0 !important;
	}
	main.emblem-page h1, 
	main.emblem-page h3 {
		color: black !important;
		font-family: serif !important;
	}
	main.emblem-page .panel--right section.section__motto h1 {
		font-size: 4rem !important;
		margin-top: 2rem !important;
		margin-bottom: 0 !important;
	}
	main.emblem-page .panel--right section.section__epigram {
    	margin-top: 6rem !important;
    }
    section#basic-waypoint__2 {
    	/* margin-top: 4rem !important; */
    	display: none !important;
    }
    .discourse-p1 > h3 {
		margin-top: 7rem !important;
		margin-bottom: 5rem !important;
	}
	span.italic {
		font-style: italic !important;
	}
	span.smallCaps {
		font-variant: small-caps !important;
	}
	.epigram .verse-epigram, 
	.epigram .verse-epigram-italic {
		font-family: sans-serif !important;
	}
}