@import 'utilities';
@import 'colors';

@media print {
	//if edition english normal = 
	div.translation div.lang--english.edition--normalized {
		display: grid !important;

		span.regularized {
			display: inline-block;
		}
		span.original, 
		span.pb, 
		span.del, 
		span.subst .del {
			display: none !important;
		}
		.discourse-p2 {
			border-top: 2px solid gray;
			margin-top: 4rem;
			padding-top: 4rem;
		}
		.discourse-p2 h3 {
			display: none !important;
		}
	}
	div.translation div.lang--english._author-epigram--english.edition--normalized span.v-line {
    	line-height: 1.8 !important;
    }
    div.translation div.lang--english._dedication--english.edition--normalized {
    	.dedication {
    		font-family: sans-serif !important;
    		line-height: 1.8 !important;
    	}
    }
    div.translation div.lang--english._preface--english.edition--normalized {
    	.preface {
    		line-height: 1.8 !important;
    	}
    	.ab {
    		font-family: sans-serif !important;
    	}
    	.margin-note {
    		margin-left: 20mm !important;
    	}
    	.margin-note span.original {
    		display: none;
    	}
    }
	div.original.is-hidden div.lang--latin.edition--regularized, 
	div.original.is-hidden div.lang--latin.edition--facsimile, 
	div.original.is-hidden div.lang--german.edition--facsimile, 
	div.original.is-hidden div.lang--latin._frontispiece--latin.edition--regularized, 
	div.original.is-hidden div.lang--latin._frontispiece--latin.edition--facsimile, 
	div.original.is-hidden div.lang--latin._author-epigram--latin.edition--regularized, 
	div.original.is-hidden div.lang--latin._author-epigram--latin.edition--facsimile, 
	div.original.is-hidden div.lang--latin._dedication--latin.edition--regularized, 
	div.original.is-hidden div.lang--latin._dedication--latin.edition--facsimile, 
	div.original.is-hidden div.lang--latin._preface--latin.edition--regularized, 
	div.original.is-hidden div.lang--latin._preface--latin.edition--facsimile {
		display: none !important;
	}
}