@import 'utilities';
@import 'colors';

@media print {
	//else if german
	div.original div.lang--german.edition--facsimile {
		display: grid !important;
	}
	div.translation.is-hidden div.lang--english.edition--normalized, 
	div.translation.is-hidden div.lang--english.edition--facsimile, 
	div.original div.lang--latin.edition--regularized.is-hidden, 
	div.original div.lang--latin.edition--facsimile.is-hidden {
		display: none !important;

		span.regularized {
			display: none !important;
		}
	}

	//main.emblem-page .panel--right section.section__motto ._motto--latin div.image {
	//	margin-top: 0 !important;
	//}
	//main.emblem-page .panel--right section.section__motto .original h1.title {
	//	font-size: 1.75rem !important;
	//	margin-bottom: 5rem !important;
	//}
	//span.v-line-indent {
    //	margin-left: 15mm !important;
    //}
    //.epigram.de .verse-epigram > span:nth-of-type(2) {
    //	margin-left: 30mm !important;
    //}
	//.discourse-p1 > h3 {
	//	margin-top: 5rem !important;
	//}
}