@import 'utilities';
@import 'colors';

@media print {
	//else if edition english original = 
	div.translation div.lang--english.edition--facsimile {
		display: grid !important;

		span.regularized, 
		span.pb {
			display: none !important;
		}
		span.del .unclear, 
		span.subst .del {
			display: none !important;
		}
		span.subst .add:before {
			content: "<";
		}
		span.subst .add:after {
			content: ">";
		}
		span.unclear:before {
			content: "[";
		}
		span.unclear:after {
			content: "]";
		}
	}
	div.original.is-hidden div.lang--latin.edition--regularized, 
	div.original.is-hidden div.lang--latin.edition--facsimile, 
	div.original.is-hidden div.lang--german.edition--facsimile {
		display: none !important;
	}
}