@import 'utilities';
@import 'colors';

@media print {
	//if edition english normal = 
	div.translation div.lang--english.edition--normalized {
		display: grid !important;

		span.regularized {
			display: inline-block;
		}
		span.original, 
		span.pb, 
		span.del, 
		span.subst .del {
			display: none !important;
		}
	}
	div.original.is-hidden div.lang--latin.edition--regularized, 
	div.original.is-hidden div.lang--latin.edition--facsimile, 
	div.original.is-hidden div.lang--german.edition--facsimile {
		display: none !important;
	}
}