@import 'colors';
@import 'utilities';

main#search-results {
	/*outline: 5px solid pink;*/
	line-height: 1.5;
	margin-top: $topnav-h;
	padding: 3rem 18rem;
	.hidden {
		display: none;
	}
	.lead {
/*		outline: 5px solid red;*/
		color: $gray_medium;
		font-size: 2.25rem;
		font-weight: 600;
		padding: 0 0 2rem 1rem;
	}
	.results {
		/*outline: 5px solid purple;*/
	}
	.results__section {
		background-color: $white;
		margin-bottom: 3.25rem;
	}
	h2 {
		background-color: $gray;
		box-sizing: border-box;
		color: $white;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: 1.5rem;
		height: 3rem;
		padding-left: 1rem;
		width: 100%;
	}
	h3 {
		/*outline: 1px solid orange;*/
		display: inline-block;
		font-size: 1.325rem;
		font-weight: 600;
		margin-bottom: 1.5rem;
		width: 20%;
	}
	h3 a {
		border-bottom: 5px solid $gray_medium;
		color: $gray_medium;
	}
	h3 a:hover {
		border-bottom: 5px solid $red;
		color: $red;
		transition: .2s;
	}
	h4 {
		/*outline: 5px solid red;*/
		box-sizing: border-box;
		display: inline-block;
		color: $text_body;
		font-size: 1rem;
		font-weight: 600;
		vertical-align: top;
		width: 20%;
	}
	h4 span {
		font-weight: 500;
		font-style: oblique;
	}
	.results__item {
		background-color: $blue_light;
		box-sizing: border-box;
		margin-top: 1rem;
		padding: .5rem;
		width: 100%;
	}
	.results__item--image-terms {
		display: flex;
		flex-wrap: wrap;
	}
	.results__item--image-terms h3 {
		background-color: $gray_medium;
		height: 10rem;
		margin: .5rem;
		width: 10rem;
	}
	.results__item--image-terms a {
		box-sizing: border-box;
		color: $white_transparent;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		font-size: .875rem;
		font-weight: 400;
		height: 100%;
		line-height: 1.2;
		padding: 1rem;
		text-align: center;
		width: 100%;
	}
	.results__item--image-terms h3 a:hover {
		border-bottom: 5px solid transparent;
		background-color: $red;
		color: $white_transparent;
		transition: .2s;


	}
	.results__item--image-terms span:nth-of-type(1) {
		margin-bottom: .5rem;
	}
	.results__item--image-terms span:nth-of-type(2) {
		color: $white;
		font-size: 1.5rem;
		font-weight: 600;
		margin-bottom: 2.5rem;
		hyphens: auto;
	}
	.results__item--image-terms span:nth-of-type(3) {

	}
	.results__num {
		box-sizing: border-box;
		color: $text_body;
		display: inline-block;
		font-size: 1.125rem;
		font-style: oblique;
		margin-bottom: 1.5rem;
		vertical-align: baseline;
		width: 70%;
	}
	.results__item ul {
		/*outline: 5px solid pink;*/
		box-sizing: border-box;
		color: $text_body;
		display: inline-block;
		font-size: 1rem;
		margin-bottom: 1.5rem;
		width: 79%;
	}
	.results__item li {
		font-size: 1rem;
		line-height: 1.5;
		margin-bottom: 1rem;
		vertical-align: top;
	}
	.results__item b {
		font-weight: 600;
	}
}

/*** BREAKPOINTS ***/
/* small  -  mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {

}

/* medium  -  tablet */
@media screen and (min-width: 768px) and (max-width: 999px) {
	
}

/* large  -  desktop */
@media screen and (min-width: 1500px) and (max-width: 1999px) {
	
}

/* extra-large */
@media screen and (min-width: 2000px) and (max-width: 2800px) {

}

/* xxl */
@media screen and (min-width: 2801px) {

}