@import 'colors';
@import 'utilities';



.search__modal {

	background-color: $red_transparent;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	margin: 0;
	padding: 0;
	border: 10px solid black;

	height: 100%;
	padding: 6rem 4rem;
	position: fixed;
/*	left: 0;
	top: 0;*/
	width: calc(100vw - (8rem + 20px);
	z-index: 1000;

	button.close, 
	button.open {
		align-self: flex-end;
		font-size: 3rem;
		height: 50px;
		width: 50px;

		outline: 5px solid blue;
	}
	button.close {
		
	}
	button.open {

	}
	h1 {
		display: block;
		outline: 2px solid black;

		height: 100px;
/*		position: absolute;
		left: 0;
		top: 100px;*/
	}
	h2 {
		display: block;
		outline: 2px solid gray;

		height: 100px;
/*		position: absolute;
		left: 0;
		top: 200px;*/
	}
	.search__bar {
		outline: 5px solid green;
		
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		height: 5rem;
		width: 80%;
	}
.search__bar__label, 
input#search__bar__field, 
button.submit {
	height: 5rem;
}

	.search__bar__label {
		outline: 5px solid red;

		flex: 0 0 15%;
		display: none;
	}
	input#search__bar__field {
		background-color: blue;

		flex: 1 0 70%;
	}
	button.submit {
		outline: 5px solid red;

		flex: 0 0 15%;
	}
}




/* Animation */
	.search__modal--slide-in {
		div.search__modal {
			transform: translateY(800px);
			transition: transform .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
		}
	}
	.search__modal--slide-out {
		div.search__modal {
			transform: translateY(-800px);
			transition: transform .2s linear;
		}
	}
	.search__modal {
		position: fixed;
		top: -400px;
	}