@import 'utilities';
@import 'colors';

.subnav-v3 {
	background-color: $gray-dark;
	display: block;
	font-family: $body-font_emblem;
	font-size: 1.125rem;
	font-weight: 500;
	height: $subnav-h;
	width: 100%;
	position: fixed;
	top: $topnav-h;
	z-index: 100;
	form {
		position: fixed;
		width: calc(50vw - 2rem);
	}
	form:nth-of-type(1) {
		left: 0;
		padding-left: .125rem;
	}
	form:nth-of-type(2) {
		padding-right: .125rem;
		right: 0;
	}
	label {
		color: $white;
		display: block;
		display: none;
		margin: 1rem 0;
	}
}
.emblem-body {
	.ui-selectmenu-menu {
		position: fixed !important;
	}
	.ui-selectmenu-menu.ui-selectmenu-open ul {
		li div {  /* change to .ui-selectmenu-text ??? */
			height: 3rem;
			font-size: 1rem;
			display: flex;
			align-items: center;
			padding: 0 1rem;
		}
		li div.ui-state-active {  /* change to .ui-selectmenu-text.ui-state-active ??? */
			background: $yellow;
			border: none;
			color: $text_body;
		}
	}
	#language-button {
		float: right;
	}
	#layout-button, 
	#language-button {
		background-color: $yellow;
		border: none;
		border-radius: 0;
		display: flex !important;
		align-items: center;
		justify-content: space-between;
		font-size: 1rem;
		height: 2rem;
		margin-top: .125rem;
		width: 15rem;
	}
	#layout-button:active,
	#language-button:active {
		color: $black_transparent;
	}
	.ui-icon {
		height: 2rem;
		width: 2rem;
	}
	.ui-selectmenu-icon {
		display: flex;
		order: 2;
	}
	.ui-selectmenu-icon.custom-icon {
		background-image: url('../icons/icon_dropdown-arrow.svg');
		background-repeat: no-repeat;
		background-size: contain;
		transform: rotate(-90deg) scale(0.7) translateX(20%);
	}
	.ui-selectmenu-text {
		display: flex;
		order: 1;
	}
}



/*** BREAKPOINTS ***/
/* small  -  mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
	.subnav-v3 {
		form:nth-of-type(1) {
			padding-left: 0;
		}
		form:nth-of-type(2) {
			padding-right: 0;
		}
	}

	.emblem-body {
		#layout-button, 
		#language-button {
			margin-right: 0;
			padding: .5rem .25rem;
			width: 9rem;
		}
		.ui-selectmenu-text {
			align-items: center;
			justify-content: center;
			font-size: .75rem;
			overflow-wrap: break-word;
			text-align: center;
			white-space: normal;
			width: 6rem;
		}
		ul#layout-menu li:nth-of-type(1) {
			display: none;
		}
		.ui-selectmenu-menu.ui-selectmenu-open ul li div {  /* change to .ui-selectmenu-text ??? */
			font-size: .75rem;
			padding-left: 1rem;
		}
	}
}

/* medium  -  tablet */
@media screen and (min-width: 768px) and (max-width: 999px) {
	
}
	
/* large  -  desktop */
@media screen and (min-width: 1500px) and (max-width: 1999px) {
	
}

/* extra-large */
@media screen and (min-width: 2000px) and (max-width: 2800px) {

}

/* xxl */
@media screen and (min-width: 2801px) {

}