nav.digital-edition-nav {
	background-color: $yellow;
	position: fixed;
	top: 6.25rem;
	width: 100vw;
	z-index: 1000000000000000000;
	.owl-carousel {
		height: 10rem;
	}
	.owl-carousel .owl-nav {
		display: flex !important;
		background-color: $white;
		justify-content: space-between;
		padding: 0 .5rem;
	}
	.owl-carousel .owl-nav button.owl-prev, 
	.owl-carousel .owl-nav button.owl-next {
		background-color: $black_transparent;
		color: $white;
		display: flex;
		align-items: center;
		height: 30px;
		margin-top: -6.75rem;
		transform: scale(4);
		width: 1rem;
	}
	.owl-carousel .owl-nav button.owl-prev {
		justify-content: flex-start;
	}
	.owl-carousel .owl-nav button.owl-next {
		justify-content: flex-end;
	}
	.owl-carousel .owl-nav button.owl-prev:focus, 
	.owl-carousel .owl-nav button.owl-next:focus {
		outline: 1px auto orange !important;
	}
	.owl-carousel .owl-nav button.owl-prev span {
		padding: 0 0 .125rem .25rem;
		width: 100%;
	}
	.owl-carousel .owl-nav button.owl-next span {
		padding: 0 .25rem .125rem 0;
		width: 100%;
	}
	/*.owl-carousel .owl-nav {
		display: inline-block !important;
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: space-between;
		outline: 4px solid green;
		margin-top: -3rem !important;
	}
	.owl-carousel .owl-nav button.owl-prev, 
	.owl-carousel .owl-nav button.owl-next {
		color: $red;
		transform: scale(5);
		justify-content: space-between;
	}
	.owl-carousel .owl-nav button.owl-prev {
		
	}*/
	.owl-item img {
		height: 120px;
		object-fit: cover;
		width: 130px;

	}
	.owl-item > div a div:nth-child(2) {
		background-color: transparent;
		color: $text-body;
		font-size: .875rem;
		margin-top: .5rem;
		width: auto;
	}
}