@import 'colors';
@import 'utilities';
/* 1366px width */

main.toc-wrapper {
	background-color: $blue_light;
	box-sizing: border-box;
	font-family: $body-font;
	font-size: 1rem;
	line-height: 1.5;
	h2 {
		border-bottom: 1px solid $gray;
		color: $white;
		font-family: $display-font;
		font-size: 2.125rem;
		letter-spacing: 1px;
		line-height: 1.2;
		padding: 4.625rem 0 .75rem 0;
	}
	.toc__front h2 {
		border-bottom: 1px solid $red;
		color: $gray;
	}
	.toc__body .section__essays h2, 
	.toc__body .section__edition h2 {
		padding: 4.625rem 0 .75rem 0;
	}
	.toc__body .section__images h2 {
		padding: 6.75rem 0 .75rem 0;
	}
	.toc__back h2 {
		border-bottom: none;
		color: $gray;
	}
	h2 a, 
	h3 a {
		color: $white;
	}
	.toc__front h2 a, 
	.toc__back h2 a {
		color: $gray;
	}
	.toc__body h2:hover {
		border-bottom: 1px solid $black_pure;
		transition: .2s;
	}
	.toc__body a:hover {
		color: $black_pure;
		transition: .2s;
	}
	.toc__back h2 a:hover {
			color: $black_pure;
			border-bottom: 2px solid $black_pure;
			transition: color .2s;
	}
	h3, 
	h4 {
		margin-top: 3.125rem;
	}
	h3 {
		font-size: 1.5rem;
	}
	h3 a:hover {
		border-bottom: 2px solid $black_pure;
		color: $black_pure;
	}
	h3 a cite {
		font-style: oblique;
	}
	h3 cite, h4 cite {
		font-style: oblique;
	}
	h4 {
		color: $gray_accessible;
		font-size: 21px;
		font-weight: 600;
		line-height: 1.5;
	}
	ul {
		margin-top: 4.25rem;
	}
	li {
		font-size: 1.5rem;
		margin-bottom: 1.875rem;
	}
	li a {
		color: $white;
	}
	.toc__front li a {
		color: $gray;
	}
	li a:hover {
		border-bottom: 2px solid $black_pure;
		color: $black_pure;
	}
	nav.toc {
		display: grid;
		column-gap: 64px;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
		min-height: 100vh;
	}
	.toc__front, 
	.toc__body, 
	.toc__back {
		display: grid;
		grid-template-columns: 2fr 3fr;
		grid-template-rows: auto;
		grid-column: 1 / 13;
	}
	.toc__front {
		background: $yellow;
		grid-row: 1 / 2;
	}
	.toc__body {
		background: $red;
		grid-row: 2 / 3;
		padding-bottom: 7.25rem;
	}
	.toc__back {
		background: $gray_light-alt;
		grid-row: 3 / 4;
		padding-bottom: 3rem;
	}
	.toc__section {
		padding: 0 5.375rem;
	}
	.section__acquainted, 
	.section__aside, 
	.section__about {
		box-sizing: border-box;
		grid-column: 1 / 2;
	}
	.section__hero-img, 
	.section__essays, 
	.section__performance {
		box-sizing: border-box;
		grid-column: 2 / 3;
		padding-left: 0;
	}
	.section__essays, 
	.section__aside {
		grid-row: 1 / 2;
	}
	.section__hero-img {
		background-image: url(../../assets/img/default/toc_img.jpeg);
		background-position: 23% 63%;
		background-repeat: no-repeat;
		background-size: 195%;
		padding-right: 0;
	}
	.article a cite {
		font-style: oblique;
	}
	.toc__section.section__acquainted {
		padding-bottom: 4rem;
	}
	.section__acquainted ul {
		margin-top: 4.625rem;
	}
	.section__acquainted li:last-child {
		margin-bottom: 0;
	}
	.section__essays ul {
		box-sizing: border-box;
		direction: ltr;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: row;
		flex-flow: row wrap;
		height: auto;
		margin: 4.75rem -5.375rem 0 0;
	}
	.section__essays li {
		box-sizing: border-box;
		display: inline-block;
		flex: 1 0 50%;
		line-height: 1.5;
		margin-top: -26px;
		padding-right: 7rem;
		padding-bottom: 2rem;
	}
	.section__essays li:nth-child(1) {
		order: 1;
	}
	.section__essays li:nth-child(2) {
		order: 3;
	}
	.section__essays li:nth-child(3) {
		order: 5;
	}
	.section__essays li:nth-child(4) {
		order: 7;
	}
	.section__essays li:nth-child(5) {
		order: 2;
	}
	.section__essays li:nth-child(6) {
		order: 4;
	}
	.section__essays li:nth-child(7) {
		order: 6;
	}
	.section__essays li:nth-child(8) {
		order: 8;
	}
	.section__essays span.title {
		display: block;
	}
	.section__essays li:nth-child(4), 
	.section__essays li:nth-child(8) {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.section__essays span.title a cite {
		font-style: oblique;
	}
	.section__essays span.byline, 
	.section__performance span.byline {
		color: $gray;
		font-size: 17px;
		font-weight: 600;
	}
	.section__essays span.byline {
		color: $gray_accessible;
	}
}

/*** GENERAL BREAKPOINTS ***/
/* small  -  mobile */
@media screen and (min-width: 300px) and (max-width: 767px) {
	main.toc-wrapper {
		h2 {
			font-size: 2rem;
		}
		.toc__body .section__edition h2 {
			padding: 6.75rem 0 .75rem 0;
		}
		.toc__section {
			padding: 0;
		}
		.toc__front, 
		.toc__body, 
		.toc__back {
			box-sizing: border-box;
			grid-template-columns: 1fr;
			padding: 0 1rem;
			width: 100vw;
		}
		.toc__body {
			padding-bottom: 7.25rem;
		}
		.toc__back {
			padding-bottom: 3rem;
		}
		.section__hero-img {
			display: none;
		}
		.section__acquainted, 
		.section__essays, 
		.section__edition, 
		.section__images, 
		.section__about, 
		.section__performance {
			box-sizing: border-box;
		}
		.section__essays, 
		.section__performance {
			grid-column: 1 / 2;
		}
		.section__aside {
			grid-row: 2 / 3;
		}
		.section__essays ul {
			flex-flow: column nowrap;
			margin: 4.75rem 0 0 0;
		}
		.section__essays li {
			flex: 1 0 100%;
			padding-right: 0;
			width: 100%;
		}
		.section__essays li:nth-child(2) {
			order: 2;
		}
		.section__essays li:nth-child(3) {
			order: 3;
		}
		.section__essays li:nth-child(4) {
			margin-bottom: 1.875rem;
			order: 4;
			padding-bottom: 2rem;
		}
		.section__essays li:nth-child(5) {
			order: 5;
		}
		.section__essays li:nth-child(6) {
			order: 6;
		}
		.section__essays li:nth-child(7) {
			order: 7;
		}
	}
}
/* medium  -  tablet */
@media screen and (min-width: 768px) and (max-width: 999px) {
	main.toc-wrapper {
		.toc__section {
			padding: 0 1.875rem;
		}
		h2 {
			font-size: 2rem;
		}
		.toc__body .section__edition h2 {
			padding: 6.75rem 0 .75rem 0;
		}
		.section__hero-img {
			background-position: 54% 61%;
			background-size: 400%;
		}
		.toc__body {
			grid-template-columns: 1fr;
		}
		.section__essays, 
		.section__aside {
			grid-column: 1 / 2;
		}
		.section__essays {
			grid-row: 1 / 2;
		}
		.section__aside {
			grid-row: 2 / 3;
		}
		.section__essays ul {
			margin: 4.75rem 0 0 0;
		}
		.section__essays li {
			padding-right: 3rem;
		}
		.section__essays li:nth-child(1), 
		.section__essays li:nth-child(5) {
			margin-top: 0;
		}
		.section__essays li:nth-child(2) {
			margin-top: -26px;
		}
	}
}
/*** SPECIFIC BREAKPOINTS ***/
@media screen and (min-width: 768px) and (max-width: 811px) {
	main.toc-wrapper {
		.section__essays li:nth-child(2), 
		.section__essays li:nth-child(3), 
		.section__essays li:nth-child(4) {
			margin-top: -26px;
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 769px) {
	main.toc-wrapper {
		.section__essays li:nth-child(3), 
		.section__essays li:nth-child(4) {
			margin-top: -62px;
		}
	}
}
@media screen and (min-width: 812px) and (max-width: 892px) {
	main.toc-wrapper {
		.section__essays li:nth-child(4) {
			margin-top: -62px;
		}
	}
}
@media screen and (min-width: 893px) and (max-width: 999px) {
	main.toc-wrapper {
		.section__essays li:nth-child(4) {
			margin-top: -26px;
		}
		.section__essays li:nth-child(6), 
		.section__essays li:nth-child(7) {
			margin-top: -62px;
		}
	}
}
@media screen and (min-width: 1000px) and (max-width: 1320px) {
	main.toc-wrapper {
		nav.toc {
			grid-template-rows: 2.25fr 4.5fr .625fr;
		}
		.toc__section {
			padding: 0 2.5rem;
		}
		.section__essays ul {
			margin: 4rem -2.5rem 0 0;
		}
		.section__essays li {
			padding-right: 5rem;
		}
		.section__essays li:nth-child(2), 
		.section__essays li:nth-child(3), 
		.section__essays li:nth-child(7) {
			margin-top: -26px;
		}
		.section__essays li:nth-child(4), 
		.section__essays li:nth-child(6) {
			//margin-top: -134px;
			margin-top: -62px;
		}
	}
}
@media screen and (min-width: 1000px) and (max-width: 1245px) {
	main.toc-wrapper {
		.section__hero-img {
			background-position: 20% 55%;
			background-size: 245%;
		}
	}
}
@media screen and (min-width: 1007px) and (max-width: 1320px) {
	main.toc-wrapper {
		.section__essays li:nth-child(4) {
			margin-top: -26px;
		}
		.section__essays li:nth-child(6) {
			margin-top: -98px;
		}
		.section__essays li:nth-child(7) {
			margin-top: -62px;
		}
	}
}
@media screen and (min-width: 1054px) and (max-width: 1320px) {
	main.toc-wrapper {
		.section__essays li:nth-child(4) {
			margin-top: -26px;
		}
		.section__essays li:nth-child(8) {
			margin-top: -62px;
		}
	}
}
@media screen and (min-width: 1246px) and (max-width: 1320px) {
	main.toc-wrapper {
		.section__hero-img {
			background-position: 20% 64%;
			background-size: 220%;
		}
	}
}
@media screen and (min-width: 1274px) and (max-width: 1320px) {
	main.toc-wrapper {
		.section__essays li:nth-child(2), 
		.section__essays li:nth-child(3), 
		.section__essays li:nth-child(4), 
		.section__essays li:nth-child(7), 
		.section__essays li:nth-child(8) {
			margin-top: -26px;
		}
		.section__essays li:nth-child(6) {
			margin-top: -62px;
		}
	}
}
@media screen and (min-width: 1306px) and (max-width: 1320px) {
	main.toc-wrapper {
		.section__essays li:nth-child(3), 
		.section__essays li:nth-child(4) {
			margin-top: -62px;
		}
		.section__essays li:nth-child(6) {
			margin-top: -26px;
		}
	}
}
@media screen and (min-width: 1321px) and (max-width: 1599px) {
	main.toc-wrapper {
		.section__essays li:nth-child(2), 
		.section__essays li:nth-child(3), 
		.section__essays li:nth-child(4) {
			margin-top: -26px;
		}
		.section__essays li:nth-child(6) {
			margin-top: -62px;
		}
	}
}
@media screen and (min-width: 1346px) and (max-width: 1599px) {
	main.toc-wrapper {
		.section__essays li:nth-child(6) {
			margin-top: -26px;
		}
		.section__essays li:nth-child(3), 
		.section__essays li:nth-child(4) {
			margin-top: -62px;
		}
	}
}
@media screen and (min-width: 1383px) and (max-width: 1599px) {
	main.toc-wrapper {
		.section__essays li:nth-child(3), 
		.section__essays li:nth-child(4) {
			margin-top: -26px;
		}
	}
}
@media screen and (min-width: 1467px) and (max-width: 1599px) {
	main.toc-wrapper {
		.section__essays li:nth-child(4) {
			margin-top: -62px;
		}
	}
}
@media screen and (min-width: 1600px) and (max-width: 2000px) {
	main.toc-wrapper {
		.section__essays li:nth-child(4) {
			margin-top: -26px;
		}
		.section__essays li:nth-child(6), 
		.section__essays li:nth-child(7) {
			margin-top: -62px;
		}
	}
}
@media screen and (min-width: 1827px) and (max-width: 1999px) {
	main.toc-wrapper {
		.section__essays li:nth-child(8) {
			margin-top: -62px;
		}
	}
}
@media screen and (min-width: 2000px) and (max-width: 2999px) {
	main.toc-wrapper {
		.section__essays li:nth-child(6), 
		.section__essays li:nth-child(7), 
		.section__essays li:nth-child(8) {
			margin-top: -62px;
		}
	}
}
@media screen and (min-width: 2072px) and (max-width: 2999px) {
	main.toc-wrapper {
		.section__essays li:nth-child(6), 
		.section__essays li:nth-child(7), 
		.section__essays li:nth-child(8) {
			margin-top: -26px;
		}
	}
}