@import 'colors';

.is-active {
	background-color: $yellow_bright !important;
	a {
		color: $black !important;
	}
}
.is-hidden {
	display: none !important;
}
.is-selected {
	border-bottom: 3px solid $royal-blue;
}
.is-sticky {
	position: fixed;
}
.no-scroll {
	overflow: hidden;
}
@keyframes fade-in {
	0% {
		opacity: 0; 
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-out {
	0% {
		opacity: 1; 
	}
	100% {
		opacity: 0;
	}
}
@keyframes fade-out-in {
	0% {
		opacity: 1; 
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

$topnav-h: 3.125rem;
$subnav-h: 3.125rem;
$emblemnav-h: 6.25rem;
$imagesearchnav-h: 6.125rem;
$gap: .75rem;
$topnav-z: 100000;
$drawer-z: 10000;
$searchbar-z: 1000;
$subnav-z: 100;

$body-font: 'GTAmerica', 'Avenir', Helvetica, Arial, sans-serif;
$body-font_emblem: 'GTAmerica', 'Avenir', Helvetica, Arial, sans-serif;
$display-font: 'GTSectraDisplayBold', Garamond, Georgia, serif;
$display-font_secondary: 'GTAmericaBold', 'Avenir', Helvetica, Arial, sans-serif;
$display-font_emblem: 'GTAmerica', 'Usual', Helvetica, Arial, sans-serif;
$secondary-display-font_emblem: 'GTSectraDisplayBold', Garamond, Georgia, serif;