@import 'colors';

body {
	padding: 0;
}

.is-active {
	background-color: $yellow_bright !important;
	a {
		color: $black !important;
	}
}
.is-visible {
	display: inline-block !important;
}
.is-hidden {
	display: none !important;
}
.is-selected {
	border-bottom: 3px solid $royal-blue;
}
.is-sticky {
	position: fixed;
}
.no-scroll {
	overflow: hidden;
}

$topnav-h: 3.125rem;
$subnav-h: 3.125rem;
$emblemnav-h: 6.25rem;
$imagesearchcatnav-h: 2.5rem;
$imagesearchnav-h: 5.625rem;
$gap: .75rem;
$collections-z: 10000000;
$footer-z: 1000000;
$topnav-z: 100000;
$drawer-z: 10000;
$searchbar-z: 1000;
$subnav-z: 100;

$body-font: 'GTAmerica', 'Avenir', Helvetica, Arial, sans-serif;
$body-font_emblem: 'GTAmerica', 'Avenir', Helvetica, Arial, sans-serif;
$display-font: 'GTSectraDisplayBold', Garamond, Georgia, serif;
$display-font_secondary: 'GTAmericaBold', 'Avenir', Helvetica, Arial, sans-serif;
$display-font_emblem: 'GTAmerica', 'Usual', Helvetica, Arial, sans-serif;
$secondary-display-font_emblem: 'GTSectraDisplayBold', Garamond, Georgia, serif;