@import 'colors';
@import 'utilities';

.lorem {
	color: purple !important; /* only use until latin xml is available ??? */
}
cite {
  font-style: oblique;
 }
.edition--normalized {
	.del {
		display: none;
	}
	.italics {
		font-style: normal;
	}
	.orig {
		display: none;
	}
}
.edition--facsimile {
	.del {
		display: none;
	}
	.italics {
		font-style: oblique;
	}
	.pb:before{
    content: "––– Page: ";
	}

	.pb:after{
	    content: " –––"
	}
	.reg {
		display: none;
	}
}
.pc { /* what is .pc ??? */
	white-space: nowrap;
}
.milestone {
	color: $gray-medium;
	margin: 0 .25rem;
}
/*.subst {
	margin-right: -.75rem;
}*/
.lang--english._motto--english {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1;
}
div.title {
	display: flex;
	flex-direction: column;
	align-self: center;
	grid-area: 1 / 4 / 2 / 10;
}
.panel--left div.title, .panel--right div.title {
	grid-area: 1 / 2 / 2 / 12;
}
h1.title {
	font-family: $display-font_emblem, Helvetica, Arial, sans-serif;
	font-size: 3rem;
	font-weight: 600;
	line-height: 3.5rem;
}
.panel--left h1.title, .panel--right h1.title {
	font-size: 2.325rem;
	line-height: 2.75rem;
}
h3.title {
	font-family: $body-font_emblem, Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.5rem;
}
h3.title .italics {
	font-style: oblique;
}
div.epigram {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
}
h3.epigram {
	grid-area: 1 / 5 / 2 / 10;
}
.panel--left h3.epigram, .panel--right h3.epigram {
	grid-area: 1 / 3 / 2 / 11;
}
.verse-epigram {
	font-size: 1.5rem;
	grid-area: 2 / 5 / 3 / 10;
	line-height: 2.5rem;
}
.panel--left .verse-epigram, .panel--right .verse-epigram {
	grid-area: 2 / 3 / 3 / 11;
}
._discourse--english {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	p {
		grid-area: 1 / 5 / 2 / 10;
	}
}
/*div.discourse {
	display: grid;
	grid-gap: 5rem;
	grid-template-columns: 9fr 3fr;
	grid-template-rows: 1;
	padding-left: 20rem;
	z-index: 1;
}
.discourse h3.title {
	font-size: 1rem;
	grid-area: 1 / 1 / 2 / 2;
	line-height: 1.5rem;
}
.note-mark {
	grid-area: 1 / 1 / 2 / 2;
}
.margin-note {
	font-size: 1.25rem;
	line-height: 1.75rem;
	position: relative;
	right: 0;
}
.discourse-p1 {
	font-size: 1.25rem;
	grid-area: 1 / 1 / 2 / 2;
	line-height: 1.75rem;
	margin-top: 2rem;
	z-index: 1;
}
.discourse-p1 .margin-note {
	display: inline-block;
	transform: translateX(650%);
}
.discourse-p2 {
	grid-area: 1 / 1 / 2 / 2;
}*/

/****************************************/

/*.discourse h3.title {
	grid-area: 1 / 4 / 2 / 13;
}
.note-mark {
	grid-area: 1 / 4 / 2 / 13;
}
.margin-note {
	outline: 5px solid red;
	grid-area: 1 / 11 / 2 / 13;
}
.margin-note .note-mark {
	grid-area: 1 / 11 / 2 / 13;
}
.discourse-p1 {
	display: grid;
	font-size: 1rem;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1;
	grid-area: 2 / 4 / 3 / 13;
}
.discourse-p1 > .note-mark {
	outline: 2px solid green;
	grid-area: 2 / 1 / 3 / 2;
}
.discourse-p1 .margin-note {
	outline: 5px solid green;
	grid-area: 2 / 2 / 3 / 3;
}
.discourse-p1 .margin-note .note-mark{
	grid-area: 2 / 2 / 3 / 3;
}
.discourse-p2 .note-mark {
	grid-area: 3 / 4 / 4 / 10;
}*/
/* BREAKPOINTS */
@media screen and (min-width: 320px) and (max-width: 767px) {
/*	.subst {
		margin-right: -.5rem;
	}*/
	div.title {
		grid-area: 1 / 2 / 2 / 12;
	}
	h1.title {
		font-size: 2rem;
		line-height: 2.125rem;
	}
	h3.title {
		font-size: .825rem;
		line-height: 1.5rem;
	}
	.verse-epigram {
		font-size: 1.125rem;
		grid-area: 2 / 1 / 3 / 13;
		line-height: 1.875rem;
		padding: 0 .5rem 0 1rem;
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.verse-epigram {
		font-size: 1.5rem;
		grid-area: 2 / 4 / 3 / 12;
		line-height: 2.5rem;
	}
	.panel--left .verse-epigram, .panel--right .verse-epigram {
		grid-area: 2 / 3 / 3 / 11;
	}
}
