@import 'colors';
@import 'utilities';

@page {
	margin-top: 0;
}

body{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    line-height: 0;
    font-family: $body-font_emblem;
}

/********** ENGLISH XML ISSUES **************/
.section__discourse h3.title {
/*	display: none;*/
/*	background-color: $error;*/
} /* ??? I won't need this after we sort out the h3.title issue in the English discourse */
.section__discourse .discourse.la h3.title {
	background-color: transparent;
} /* ??? I won't need this after we sort out the h3.title issue in the English discourse */
.section__discourse.panel--left div.discourse, .section__discourse.panel--right div.discourse {
	h3.title {
/*		background-color: $error;*/
	}
}
.section__discourse span.note-mark:nth-of-type(2) {
/*	background-color: $error;*/
	grid-area: 1 / 1 / 2 / 2;
	margin-left: 100px;
}
.section__discourse.panel--right span.note-mark:nth-of-type(2) {
/*	background-color: $error;*/
	grid-area: 1 / 2 / 3 / 3;
	margin-left: 0;
}
/********** END OF ENGLISH XML ISSUES **************/


/*********** ENGLISH EMBLEM OVERRIDES *************/
.epigram {
	margin-top: 0;
	text-align: left;
    font-style: normal;
}

h3.discourse {
    text-align: left;
    font-style: normal;
}
.verse-epigram {
    margin-top: 0;
    text-align: left;
    margin-left: 0;
    font-style: normal;
}

.verse-discourse {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}

h2 {
/*    display: none;
    color: #b5b5b5;*/
    color: green;
}
h1.title {
	text-align: left;
}
h3.title {
    margin-top: 0;
    text-align: left;
}

.pb {
	color: #222;
	display: none;
}

.pb:before{
    color: #222;
}

.pb:after{
    color: #222;
}

.milestone{
	display: none;
}

.choice {
    background-color: transparent;
    margin-left: 0;
}

span.regularized {
    color: #222;
}

.subst {
    background-color: transparent;
    margin-left: 0;
 }

.del{
    text-decoration: none;
}

.add:before{
	display: none;
}

.add:after{
	display: none;
}

.unclear:before{
	display: none;
}

.unclear:after{
    display: none;
}

.fw{
	display: none;
}

.margin-note{
    float: none;
    margin-left: 0;
    outline: none;
    width: auto;
    padding-left: 0;
}

.note-mark{
    color: #222;
}

.help{
    display: none;
}

/********************************/
cite {
  font-style: oblique;
 }
.edition--normalized {
	.del {
		display: none;
	}
	.italics {
		font-style: normal;
	}
	span.original {
		display: none;
	}
/*	.pb, .ab.pb {
		display: none;
	}*/
}
.edition--facsimile {
	.del {
		display: none;
	}
	.italics {
		font-style: oblique;
	}
	.pb:before{
    content: "––– Page: ";
	}

	.pb:after{
	    content: " –––"
	}
	span.regularized {
		display: none;
	}
}
span.underline2 {
	border-bottom: none;
}
.pc { /* what is .pc ??? */
	white-space: nowrap;
}
.milestone {
	color: $gray-medium;
	margin: 0 .25rem;
	white-space: nowrap;
}
/*********** END OF ENGLISH EMBLEM OVERRIDES *************/

/*********** EMBLEM TEXT LAYOUT *************/
div.translation, div.original {
	margin-top: 2.5rem;
}
.panel--left div.translation, .panel--left div.original, .panel--right div.translation, .panel--right div.original {
	margin-top: 3.5rem;
}
.lang--english._motto--english, .lang--latin._motto--latin, .lang--german._motto--german {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr;
}
.panel--left .lang--english._motto--english , .panel--left .lang--latin._motto--latin, .panel--left .lang--german._motto--german, .panel--right .lang--english._motto--english , .panel--right .lang--latin._motto--latin, .panel--right .lang--german._motto--german {

}
div.title, div.fugue, ._motto--latin div.image {
	display: flex;
	flex-direction: column;
	align-self: center;
	grid-area: 1 / 4 / 2 / 10;
}
.panel--left div.title, .panel--left div.fugue, .panel--left ._motto--latin div.image, .panel--right div.title, .panel--right div.fugue, .panel--right ._motto--latin div.image {
	grid-area: 1 / 2 / 2 / 12;
	margin-top: 1rem;
}
h1.title {
	font-family: $display-font_emblem;
	font-size: 2.625rem;
	font-weight: 600;
	line-height: 3.25rem;
	br {
		display: none;
	}
}
.panel--left h1.title, .panel--right h1.title {
	font-size: 2rem;
	line-height: 2.5rem;
}
h3.title {
	font-family: $body-font_emblem;
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.5rem;
}
h3.title .italics {
	font-style: oblique;
}
h3.title span.regularized, h1.title span.regularized {
	color: #fff;
}
div.epigram {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
/*	h3.epigram, ._epigram--latin h3, ._epigram--german h3 {*/
	h3.epigram {
		grid-area: 1 / 2 / 2 / 12;
		text-align: center;
	}
	h3.epigram span.regularized, .verse-epigram span.regularized {
		color: #fff;
	}
	.panel--left h3.epigram, .panel--right h3.epigram {
		grid-area: 1 / 3 / 2 / 11;
	}
	.verse-epigram {
		font-size: 1.5rem;
		grid-area: 2 / 2 / 3 / 12;
		line-height: 2.5rem;
		text-align: center;
	}
	.panel--left .verse-epigram, .panel--right .verse-epigram {
		grid-area: 2 / 3 / 3 / 11;
	}
}
.section__discourse div.translation, .section__discourse div.original {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	margin-bottom: 8rem;
}
.section__discourse .switch-wrapper {
	grid-area: 1 / 1 / 2 / 13;
}
.section__discourse div.original .switch-wrapper .facsimile-normalized-switch {
	display: none;
}
._discourse--english, ._discourse--latin {
	display: grid;
	grid-area: 2 / 1 / 3 / 13;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
}
div.discourse {
	display: grid;
	grid-column: 4 / 13;
	grid-gap: 0;
	grid-template-columns: 4fr 2fr;
	grid-template-rows: auto;
	h3.discourse, h3.title {
		font-size: 1.25rem;
		font-weight: 400;
		grid-column: 1 / 2;
		line-height: 2rem;
	}
	h3.discourse:nth-of-type(2), h3.title:nth-of-type(2) {
		margin-top: 3rem;
		margin-bottom: -2rem;
	}
	.discourse-p1, .discourse-p2 {
		font-size: 1.25rem;
		grid-column: 1 / 2;
		line-height: 2rem;
		span {
			font-size: 1.25rem;
			line-height: 2rem;
		}
	}
	.ab {
		font-size: 1.25rem;
		line-height: 2rem;
		span {
			font-size: 1.25rem;
			line-height: 2rem;
		}
	}
	div.margin-note {
		display: inline-block;
		font-size: 1.25rem;
		line-height: 2rem;
		padding-right: 2rem;
		position: absolute;
		left: 80vw;
	}
}
.panel--left div.discourse, .panel--right div.discourse {
	grid-column: 2 / 13;
/*	grid-area: 2 / 2 / 3 / 13;*/
	grid-template-columns: repeat(12, 1fr);
	h3.discourse, h3.title {
/*		background-color: $error;*/
	}
	.discourse-p1, .discourse-p2 {
		grid-column: 1 / 8;
	}
}
.panel--left div.discourse {
 	div.margin-note {
		left: 35vw;
		width: 13vw;
	}
}
.panel--right div.discourse {
	div.margin-note {
		left: 85vw;
		padding-right: 1rem;
	}
}
div.margin-note.line2 {
	display: block;
}
/*.panel--left div.margin-note {  This is only worth the effort on large desktops ???
	left: calc(50vw - 10%);
	padding-right: .5rem;
	width: 10vw;
}*/

.section__discourse .edition--normalized span.pb {
/*	display: none;*/
}
.section__discourse .edition--facsimile span.pb {
	display: inline-block;
}
/*********** END OF ENGLISH EMBLEM LAYOUT *************/

/*********** ENGLISH EMBLEM STYLES *************/
div.edition--facsimile span.underline2 {
	border-bottom: 2px solid $dark-gray;
}
/*********** END OF ENGLISH EMBLEM STYLES *************/

/*********** LATIN/GERMAN EMBLEM LAYOUT *************/
h3.epigram {
	text-indent: 0;
}
div.epigram.la h3.title, div.epigram.de h3.title {
	font-weight: 500;
/*	grid-area: 1 / 5 / 2 / 10;*/
	grid-area: 1 / 2 / 2 / 12;
	text-align: center;
	text-indent: 0;
}
div.epigram {
	.verse-epigram span {
		line-height: 0rem; /* ??? Need a fix to account for the <br> between lines */
	}
	.verse-epigram > span:nth-child(2) {
/*		background-color: $error;*/
		padding-top: 1.25rem;
	}
	.verse-epigram > span:last-child {
/*		background-color: $error;*/
		padding-bottom: 1.25rem;
	}
}
.panel--left div.epigram, .panel--right div.epigram {
	.verse-epigram > span {
/*		background-color: $error;*/
		line-height: 1.5rem;
		margin-bottom: -1.375rem;
	}
	.verse-epigram > span:nth-child(2) {
/*		background-color: $error;*/
		padding-top: .25rem;
	}
}
.original .verse-epigram {
	grid-area: 2 / 3 / 3 / 11;
	line-height: 1rem; /* ??? this needs a fix to account for every break. */
	text-align: center;
	text-indent: 0;
	span {
		margin: 0;
	}
}
/*********** END OF LATIN/GERMAN EMBLEM LAYOUT *************/

/*********** FRONTMATTER *************/
.section__frontispiece .lang--english, .section__frontispiece .lang--latin {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	grid-area: 1 / 1 / 2 / 13;
	div.title, div.epigram, div.dedication, div.preface, div.pref-epigram.la, div.epigram.la, div.preface, div.verse-discourse {
		grid-area: 1 / 3 / 2 / 11;
	}
	div.epigram.la {
		display: block;
	}
}
.section__frontispiece.panel--right .lang--english, .section__frontispiece.panel--right .lang--latin {
	div.title, div.epigram, div.dedication, div.preface, div.pref-epigram.la, div.epigram.la, div.preface, div.verse-discourse  {
		grid-area: 1 / 1 / 2 / 13;
		padding: 0 3rem;
	}
}
/*** ??? REMOVE IN VERSION 3 ??? ***/
.section__frontispiece.panel--left .lang--english, .section__frontispiece.panel--left .lang--latin  {
	div.title, div.epigram, div.dedication, div.preface, div.pref-epigram.la, div.epigram.la, div.preface, div.verse-discourse  {
		grid-area: 1 / 1 / 2 / 13;
		padding: 0 3rem;
	}
}
.section__frontispiece div.verse-epigram {
	grid-area: 1 / 1 / 2 / 13;
}
/*********** END OF FRONTMATTER *************/

/*********** TESTS *************/
.lang--latin._discourse--latin .pb {
	display: none;
}
.discourse.la .pb {
	display: none !important;
}

/****************************************/
/***************** BREAKPOINTS *****************/
@media screen and (min-width: 320px) and (max-width: 767px) {
	.section__motto > div.original {
		margin-top: .5rem;
	}
	div.title {
		grid-area: 1 / 1 / 2 / 13;
		padding: 0 .75rem;
	}
	.section__motto {
		div.image, div.fugue {
			grid-column: 1 / 13;
			padding: 0 .75rem;
		}
		h1.title {
			font-size: 2rem;
			line-height: 2.125rem;
		}
		h3.title {
			font-size: .825rem;
			line-height: 1.5rem;
		}
	}
	.verse-epigram {
		font-size: 1.125rem;
		grid-area: 2 / 1 / 3 / 13;
		line-height: 1.875rem;
		padding: 0 .5rem 0 1rem;
	}
	div.epigram .verse-epigram {
		grid-area: 2 / 1 / 3 / 13;
	}
	div.epigram .verse-epigram > span {
		line-height: 1.5rem;
		margin-bottom: -1.5rem;
	}
	._discourse--english, ._discourse--latin {
		margin: 0 1rem;
	}
	div.discourse {
/*		background-color: $error;*/
		grid-column: 1 / 13;
		grid-template-columns: repeat(12, 1fr);
		h3.discourse, h3.title {
			grid-column: 1 / 13;
			padding: 0 .25rem;
		}
		.discourse-p1, .discourse-p2 {
			grid-column: 1 / 13;
			padding: 0 .25rem;
		}
		span.note-mark, div.margin-note {
			display: none;
		}
	}
	span.note-mark, div.margin-note {
		display: none;
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.verse-epigram {
		font-size: 1.5rem;
		grid-area: 2 / 4 / 3 / 12;
		line-height: 2.5rem;
	}
	.panel--left .verse-epigram, .panel--right .verse-epigram {
		grid-area: 2 / 3 / 3 / 11;
	}
	div.discourse {
		grid-column: 2 / 13;
	}
	div.margin-note {
		left: 75vw;
		padding-right: 1rem;
	}
	.panel--left div.discourse, .panel--right div.discourse {
		span.note-mark, div.margin-note {
			display: none;
		}
	}
}
