@import 'colors';
@import 'utilities';

@page {
	margin-top: 0;
}
body{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    line-height: 0;
    font-family: $body-font_emblem;
}
/************** OUTLINE OF XML IN FRONTMATTER AND EMBLEM PAGES ***************/
/*
FRONTISPIECE	 
._frontispiece--english			div.titlePage {}				span.milestone
																.ab
																.ab
																.ab
																.ab
																.ab
																.ab
._frontispiece--latin			div.pref-epigram.la {}			span.pb.atalanta-fugiens
																span.original

AUTHOR'S EPIGRAM
._author-epigram--english		div.epigram {}					h3.title
																.verse-epigram
._author-epigram--latin			div.epigram.la {}				h3.title
																.verse-epigram-italic

DEDICATION
._dedication--english			div.dedication {}				.ab
																.ab
								div.dedication {}				ANONYMOUS
																.ab
																ANONYMOUS
._dedication--latin				div.preface  {}					span.pb.atalanta-fugiens
																ANONYMOUS

PREFACE
._preface--english				div.preface {}					span.milestone
																h3.title
																ANONYMOUS
																.ab
._preface--latin				div.preface.la {}				span.pb.atalanta-fugiens
																.page.italic
																span.pb.atalanta-fugiens
																.page.italic
																span.pb.atalanta-fugiens
																.page.italic
																span.pb.atalanta-fugiens
																.page.italic
																span.pb.atalanta-fugiens
																.page.italic

EMBLEM MOTTO
._motto--english				div.title						h3.title
																h1.title
._motto--latin					div.image.la 					h3.title
																h1.title
._motto--german					div.fugue.de 					h3.title
																h1.title

EMBLEM EPIGRAM
._epigram--english				div.epigram						h3.title
																.verse-epigram
._epigram--latin				div.epigram.la 					h3.title
																.verse-epigram
._epigram--german				div.epigram.de 					h3.title
																.verse-epigram

EMBLEM DISCOURSE
._discourse--english			div.discourse					span.milestone
																h3.title
																.margin-note
																.ab
																.ab
._discourse--latin				span.pb.atalanta-fugiens		
								div.discourse.la 				h3.title
																.discourse-p1
																span.pb.atalanta-fugiens
																h3.title
																.discourse-p2

*/
main.emblem-page, 
main.emblem-page.frontmatter {
	/********** ENGLISH XML ISSUES **************/
	.section__discourse h3.title {
	/*	display: none;*/
	/*	background-color: $error;*/
	} /* ??? I won't need this after we sort out the h3.title issue in the English discourse */
	.section__discourse .discourse.la h3.title {
		background-color: transparent;
	} /* ??? I won't need this after we sort out the h3.title issue in the English discourse */
	.section__discourse.panel--left div.discourse, 
	.section__discourse.panel--right div.discourse {
		h3.title {
	/*		background-color: $error;*/
		}
	}
	.section__discourse span.note-mark:nth-of-type(2) {
	/*	background-color: $error;*/
		grid-area: 1 / 1 / 2 / 2; /* this isn't aligning because the span isn't part of the h3.title and is pushed to another grid cell */
		margin-left: 100px;
		margin-bottom: -3rem;
	}
	.section__discourse.panel--right span.note-mark:nth-of-type(2) {
	/*	background-color: $error;*/
		grid-area: 1 / 3 / 3 / 4;
		margin-left: .5rem;
	}
	/********** END OF ENGLISH XML ISSUES **************/


	/*********** ENGLISH EMBLEM OVERRIDES *************/
	.italic {
		font-style: oblique;
	}
	.epigram {
		margin-top: 0;
		text-align: left;
	    font-style: normal;
	}
	h3.discourse {
	    text-align: left;
	    font-style: normal;
	}
	.verse-epigram {
	    margin-top: 0;
	    text-align: left;
	    margin-left: 0;
	    font-style: normal;
	}
	.verse-discourse {
	    margin-top: 0;
	    margin-left: 0;
	    margin-bottom: 0;
	}
	h2 {
	/*    display: none;
	    color: #b5b5b5;*/
	    color: green;
	}
	h1.title {
		text-align: left;
	}
	h3.title {
	    margin-top: 0;
	    text-align: left;
	}
	.pb {
		color: #222;
		display: none;
		margin-top: 0;
	}
	.pb:before{
	    color: #222;
	}

	.pb:after{
	    color: #222;
	}
	.milestone{
		display: none;
	}
	.choice {
	    background-color: transparent;
	    margin-left: 0;
	}

	span.regularized {
	    color: #222;
	}
	.subst {
	    background-color: transparent;
	    margin-left: 0;
	 }
	.del{
	    text-decoration: none;
	}
	.add:before{
		display: none;
	}
	.add:after{
		display: none;
	}
	.unclear:before{
		display: none;
	}
	.unclear:after{
	    display: none;
	}
	.fw{
		display: none;
	}
	.margin-note{
	    float: none;
	    margin-left: 0;
	    outline: none;
	    width: auto;
	    padding-left: 0;
	}
	.note-mark{
	    color: $text_body;
	}
	.help{
	    display: none;
	}
	/********************************/
	cite {
	  font-style: oblique;
	 }
	.edition--normalized {
		.del {
			display: none;
		}
		.italics {
			font-style: normal;
		}
		span.original {
			display: none;
		}
	/*	.pb, .ab.pb {
			display: none;
		}*/
	}
	.edition--facsimile {
		.del {
			display: none;
		}
		.italics {
			font-style: oblique;
		}
	/*	.pb:before{
	    content: "––– Page: ";
		}

		.pb:after{
		    content: " –––"
		}*/
		span.regularized {
			display: none;
		}
	}
	.edition--original, 
	.edition--regularized {
		span.v-line {
			line-height: 2;
		}
	}
	.edition--original {
		span.regularized {
			display: none;
		}
	}
	.edition--regularized {
		span.original {
			display: none;
		}
	}
	.edition--normalized, 
	.edition--regularized {
		.epigram {
			text-indent: 0 !important;
		}
		
	}
	span.underline2 {
		border-bottom: none;
	}
	.pc { /* what is .pc ??? */
		white-space: nowrap;
	}
	.milestone {
		color: $gray-medium;
		margin: 0 .25rem;
		white-space: nowrap;
	}
	/*********** END OF ENGLISH EMBLEM OVERRIDES *************/

	/*********** EMBLEM LAYOUT *************/
	div.translation, 
	div.original {
		height: 100%;
		margin-top: 2.5rem;
	}
	.panel--left div.translation, 
	.panel--left div.original, 
	.panel--right div.translation, 
	.panel--right div.original {
		margin-top: 3.5rem;
	}
	.lang--english, 
	.lang--german, 
	.lang--latin {
		height: 100%;
	}
	.lang--english._motto--english, 
	.lang--latin._motto--latin, 
	.lang--german._motto--german {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 1fr;
	}
	.panel--left .lang--english._motto--english , 
	.panel--left .lang--latin._motto--latin, 
	.panel--left .lang--german._motto--german, 
	.panel--right .lang--english._motto--english , 
	.panel--right .lang--latin._motto--latin, 
	.panel--right .lang--german._motto--german {

	}
	/* MOTTO - ENGLISH/LATIN/GERMAN */
	section.section__motto {
		div.title, 
		div.fugue, 
		._motto--latin div.image {
			grid-column: 4 / 10;
		}
		.translation h1.title, 
		.original h1.title {
			font-family: $display-font_emblem;
			font-size: 2.625rem;
			font-weight: 600;
			line-height: 3.25rem;
			text-align: center;
		}
		.translation h1.title br, 
		.original h1.title br, 
		.translation h3.title br, 
		.original h3.title br  {
			display: none;
		}
		.translation .edition--facsimile h1.title br, 
		.translation .edition--facsimile h3.title br {

			display: none;
		}
		.translation h3.title, 
		.original h3.title {
			font-family: $body-font_emblem;
			font-weight: 600;
			font-size: 1rem;
			line-height: 1.5rem;
			text-align: center;
		}
		.original .fugue.de h3.title {
			visibility: hidden;
		}
		.translation h3.title .italics, 
		.original h3.title .italics {
			font-style: oblique;
		}
		.translation h3.title span.regularized, 
		.translation h1.title span.regularized {
			color: $white;
		}
	}
	section.section__motto.panel--left, 
	section.section__motto.panel--right {
		div.title, 
		div.fugue, 
		._motto--latin div.image {
			grid-area: 1 / 2 / 2 / 12;
			margin-top: 1rem;	
		}
		.translation h1.title, 
		.original h1.title {
			font-size: 2rem;
			line-height: 2.5rem;
		}
		.translation h3.title span.regularized, 
		.translation h1.title span.regularized {
			color: $text_body;
		}
	}
	/* EPIGRAM - ENGLISH/LATIN/GERMAN */
	section.section__epigram {
		.translation div.epigram, 
		.original div.epigram {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: auto;
		}
		.translation h3.title, 
		.original h3.title {
			font-weight: 500;
			grid-column: 2 / 12;
			text-align: center;
			text-indent: 0;
		}
		.translation .edition--facsimile h3.title {
			text-align: left;
			text-indent: 20%;
		}
		h3.title span.regularized, 
		.verse-epigram span.regularized {
			color: #fff;
		}
		.translation .verse-epigram, 
		.original .verse-epigram {
			font-size: 1.5rem;
			grid-column: 2 / 12;
			text-align: center;
		}
		.translation .verse-epigram {
			line-height: 1.5;
		}
		.original .verse-epigram {
			line-height: 1.5;
			text-indent: 0;
		}
		.translation .edition--facsimile .verse-epigram {
			grid-column: 3/ 13;
			text-align: left;
		}
		.original .verse-epigram span {
			/*line-height: 0;*/
			margin: 0;
		}
		.original .de .verse-epigram > span {
			line-height: 0;
		}
		.original .verse-epigram > span:nth-child(2) {
	/*		background-color: $error;*/
			padding-top: 1.25rem;
		}
		.original .verse-epigram > span:last-child {
	/*		background-color: $error;*/
			padding-bottom: 1.25rem;
		}
		.original div.epigram.la .verse-epigram span.original > br {
			display: none;
		}
	}
	section.section__epigram.panel--left, 
	section.section__epigram.panel--right {
		.translation .edition--facsimile h3.title {
			text-indent: 40%;
		}
		.original .verse-epigram > span {
			/*		background-color: $error;*/
			line-height: 2.5;
			margin-bottom: -1.375rem;
		}
		.original .de .verse-epigram > span {
			line-height: 1.2;
		}
		.original .verse-epigram > span:nth-child(2) {
	/*		background-color: $error;*/
			padding-top: .25rem;
		}
		h3.title span.regularized, 
		.verse-epigram span.regularized {
			color: $text_body;
		}
	}

	/* DISCOURSE - ENGLISH/LATIN */
	section.section__discourse, 
	section.section__preface {
		div.translation, 
		div.original {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: auto;
			margin-bottom: 8rem;		
		}
		._discourse--english, 
		._discourse--latin, 
		._preface--english, 
		._preface--latin {
			display: grid;
			grid-column: 1 / 13;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: auto;
		}
		div.discourse, 
		div.preface, 
		div.preface.la {
			display: grid;
			grid-column: 4 / 13;
			grid-gap: 0;
			grid-template-columns: 4fr 2fr;
			grid-template-rows: auto;
		}
		div.preface, 
		div.preface.la {
			grid-column: 1 / 13;
		}
		.edition--facsimile div.discourse {
			grid-column: 3 / 13;
		}
		h3.title {
			font-size: 1.25rem;
			font-weight: 400;
			grid-column: 1 / 2;
			line-height: 2;	
		}
		h3.title:nth-of-type(2) {
			margin-top: 3rem;
			margin-bottom: -2rem;
		}
		div.original h3.title:nth-of-type(2) {
			margin-bottom: 0;
		}
		._discourse--english .ab, 
		._discourse--latin .discourse-p1, 
		._discourse--latin .discourse-p2, 
		._preface--english .ab, 
		._preface--latin .page.italic {
			font-size: 1.25rem;
			grid-column: 1 / 2;
			line-height: 2;
	/*		span {
				font-size: 1.25rem;
				line-height: 2;
			}*/
		}
		._preface--latin .page.italic {
			grid-column: 1 / 3;
		}
		._preface--latin.edition--regularized .page.italic {
			font-style: normal;
		}
		._discourse--english.edition--normalized .ab:nth-of-type(3) {
			margin-top: 2.5rem;
		}
		div.margin-note {
			display: inline-block;
			font-size: 1.25rem;
			line-height: 2;
			padding-right: 2rem;
			position: absolute;
			left: 80vw;
		}
		._preface--english div.margin-note {
			left: 85vw;
		}
		div.margin-note.line2 {
			display: block;
		}
	/*	.edition--facsimile span.pb {
			display: inline-block;
		}*/
	}
	section.section__discourse.panel--left, 
	section.section__discourse.panel--right {
		div.discourse {
			grid-column: 2 / 13;
			grid-template-columns: repeat(12, 1fr);
		}
		._discourse--english .ab, 
		._discourse--latin .discourse-p1, 
		._discourse--latin .discourse-p2 {
			grid-column: 1 / 8;
		}
		h3.title {
			grid-column: 1 / 4;
		}
		h3.title:nth-of-type(2) {
			margin-bottom: 0;
		}
	}
	section.section__discourse.panel--left div.discourse {
	 	div.margin-note {
			left: 35vw;
			width: 13vw;
		}
	}
	/*.panel--left div.margin-note {  This is only worth the effort on large desktops ???
		left: calc(50vw - 10%);
		padding-right: .5rem;
		width: 10vw;
	}*/
	section.section__discourse.panel--right div.discourse {
		div.margin-note {
			left: 85vw;
			padding-right: 1rem;
		}
	}
	/*********** END OF EMBLEM LAYOUT *************/

	/*********** ENGLISH EMBLEM STYLES *************/
	.translation div.edition--facsimile span.underline2 {
		border-bottom: 2px solid $gray-dark;
	}
	/*********** END OF ENGLISH EMBLEM STYLES *************/


	/*********** FRONTMATTER *************/
	main.frontmatter {
		background: $white;
		.pb {
			display: none;
		}
	}
	section.section__author-epigram, 
	section.section__dedication, 
	section.section__frontispiece, 
	section.section__preface {
		padding: 2rem 4rem;
		div.translation, 
		div.original {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: auto;
			margin-bottom: 8rem;	
		}
		._author-epigram--english, 
		._author-epigram--latin, 
		._dedication--english, 
		._dedication--latin, 
		._frontispiece--english, 
		._frontispiece--latin, 
		._preface--english, 
		._preface--latin {
			display: grid;
			grid-column: 1 / 13;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: auto;
		}
		div.epigram, 
		div.epigram.la, 
		div.dedication, 
		._dedication--latin div.preface, 
		div.titlePage, 
		div.pref-epigram.la, 
		._preface--english div.preface, 
		div.preface.la {
			display: grid;
			grid-column: 1 / 13;
			grid-gap: 0;
			grid-template-columns: 4fr 2fr;
			grid-template-rows: auto;
		}
		h3.title {
			font-size: 1.25rem;
			font-weight: 400;
			grid-column: 1 / 3;
			line-height: 2;
		}
		h3.title:nth-of-type(2) {
			margin-top: 3rem;
			margin-bottom: -2rem;
		}
		div.original h3.title:nth-of-type(2) {
			margin-bottom: 0;
		}
		._author-epigram--english .verse-epigram, 
		._author-epigram--latin .verse-epigram-italic, 
		._dedication--english .ab, 
		._frontispiece--english .ab, 
		._frontispiece--latin span.original, 
		._preface--english,  
		._preface--latin .page.italic {
			font-size: 1.25rem;
			grid-column: 1 / 3;
			line-height: 2;
	/*		span {
				font-size: 1.25rem;
				line-height: 2;
			}*/
		}
		._preface--latin .page.italic {
			/*grid-column: 1 / 3;*/
		}
		._preface--latin.edition--regularized .page.italic {
			font-style: normal;
		}
/*		._discourse--english.edition--normalized .ab:nth-of-type(3) {
			margin-top: 2.5rem;
		}*/
		div.margin-note {
			display: inline-block;
			font-size: 1.25rem;
			line-height: 2;
			padding-right: 2rem;
			position: absolute;
			left: 85vw;
		}
/*		._preface--english div.margin-note {
			left: 85vw;
		}*/
		div.margin-note.line2 {
			display: block;
		}
	}


	/* AUTHOR'S EPIGRAM */
	section.section__author-epigram {
		/* English */
		.edition--facsimile {
			h3.title {
				text-indent: 4rem;
			}
		}
		.edition--normalized {
			h3.title {
				font-family: $secondary-display-font_emblem;
				font-size: 2.5rem;
				font-style: normal;
				font-weight: 600;
				line-height: 1.2;
				text-indent: 0;
			}
			.verse-epigram {
				margin-top: -1rem;
			}
		}
		/* Latin */
		.verse-epigram-italic {
			margin-top: 0;
			margin-bottom: 0;
			margin-left: 0;
			text-indent: 0;
			.v-line {
				line-height: 0;
				margin-left: 0;
			}
		}
		.edition--original {
			h3.title {
				letter-spacing: .2em;
				text-indent: 4rem;
			}
			span.caps-latin {
				letter-spacing: .2em;
			}
			.v-line-indent {
				line-height: 0;
				margin-left: 2rem;
			}
			.v-line, 
			.v-line-indent {
				span.original {
					display: inline-block;
				}
				span.regularized {
					display: none;
				}
			}
		}
		.edition--regularized {
			h3.title {
				font-family: $secondary-display-font_emblem;
				font-size: 2.25rem;
				font-style: normal;
				font-weight: 600;
				line-height: 1.2;
				margin-bottom: 1.5rem;
				text-indent: 0;
			}
			.verse-epigram-italic {
				font-style: normal;
			}
			.v-line {
				line-height: 2;
			}
			.v-line-indent {
				line-height: 2;
				margin-left: 0;
			}
			.v-line, 
			.v-line-indent {
				span.original {
					display: none;
				}
				span.regularized {
					display: inline-block;
				}
			}
		}
	}

	/* DEDICATION */
	/* English */
	section.section__dedication ._dedication--english {
		.ab, 
		span.pc {
			grid-column: 1 / 2;
		}
		div.dedication {
			font-size: 1.25rem;
			line-height: 2;
		}
		div.dedication:nth-of-type(2) {
			margin-top: 2rem;
		}
	}
	section.section__dedication ._dedication--english.edition--facsimile {
		div.dedication:nth-of-type(2) {
			margin-top: 0;
		}
	}
	/* Latin */
	section.section__dedication ._dedication--latin {
		div.preface {
			display: inline-block;
			font-size: 1.25rem;
			line-height: 2;
		}
		span.pb.atalanta-fugiens {
			/*display: block;*/
		}
		span.caps {
			letter-spacing: .2em;
		}	
	}
	section.section__dedication ._dedication--latin.edition--facsimile {
		span.original {
			display: inline-block;
		}
		span.regularized {
			display: none;
		}
	}
	section.section__dedication ._dedication--latin.edition--regularized {
		span.italic {
			font-style: normal;
		}
		br {
			/*display: none;*/
		}
		span.original {
			display: none;
		}
		span.regularized {
			display: inline-block;
		}
	}

	/* FRONTISPIECE */
	section.section__frontispiece {
		/* English */
		div.titlePage {
			text-align: center;
		}
		div.translation ._frontispiece--english.edition--normalized .ab:nth-of-type(2) {
			font-family: $secondary-display-font_emblem;
			font-size: 3rem;
			font-weight: 600;
			line-height: 1.25;
			margin-bottom: 2rem;
			padding: 0 2rem;
		}
		div.translation ._frontispiece--english .ab:nth-of-type(4) {
			margin-top: 2rem;
		}
		div.translation ._frontispiece--english.edition--normalized .ab:nth-of-type(5) {
			margin-bottom: 2rem;
		}
		/* Latin */
		div.pref-epigram.la {
			display: inline-block;	
			font-size: 1.25rem;
			line-height: 2;
			text-align: center;
		}
		.edition--original {

		}
		.edition--regularized {
			span.original {
				display: none;
			}
		}
		.edition--original span.caps {
			letter-spacing: .2em;
		}
	}
	

	/* PREFACE */
	section.section__preface {
		._preface--english,  
		._preface--latin .page.italic {
			grid-column: 1 / 13;
		}
		/* English */
		.edition--facsimile {
			h3.title {
				text-align: center;
			}
		}
		.edition--normalized {
			h3.title {
				font-family: $secondary-display-font_emblem;
				font-size: 3rem;
				font-style: normal;
				font-weight: 600;
				line-height: 1.25;
				margin-bottom: 2rem;
			}
		}
		/* Latin */
		.edition--original {
			span.caps {
				letter-spacing: .2em;
			}
		}
		.edition--regularized {
			span.caps:nth-of-type(2) {
				float: left;
				font-family: $secondary-display-font_emblem;
				font-size: 5rem;
				line-height: 0;
				padding: 1px 1px 0 1px;
			}
			span.caps:nth-of-type(3) {
				font-family: $secondary-display-font_emblem;
			}
		}
	}



	/*********** END OF FRONTMATTER *************/

	/*********** TESTS *************/
	.lang--latin._discourse--latin .pb {
		display: none;
	}
	.discourse.la .pb {
		display: none !important;
	}
	/****************************************/
}

/***************** BREAKPOINTS *****************/
@media screen and (min-width: 320px) and (max-width: 767px) {
	main.emblem-page {
		section.section__motto > div.original {
			margin-top: .5rem;
		}
		section.section__motto {
			div.title, 
			div.image.la, 
			div.fugue.de {
				grid-column: 1 / 13;
				padding: 0 .75rem;
			}
			.translation h1.title, 
			.original h1.title {
				font-size: 2rem;
				line-height: 1.25;
			}
			.translation h3.title, 
			.original h3.title {
				font-size: .875rem;
				line-height: 1.5;
			}
		}
		section.section__epigram .translation, 
		section.section__epigram .original {
			h3.title {
				grid-column: 1 / 13;
			}
			.verse-epigram {
				font-size: 1.125rem;
				grid-column: 1 / 13;
				line-height: 2;
				padding: 0 .5rem 0 1rem;
			}
			.verse-epigram > span {
				line-height: 1;
				margin-bottom: -1.5rem;
			}
		}
		section.section__discourse .translation, 
		section.section__discourse .original {
			._discourse--english, ._discourse--latin {
				margin: 0 1rem;
			}
			div.discourse {
				grid-column: 1 / 13;
				grid-template-columns: repeat(12, 1fr);
			}
			h3.title {
				grid-column: 1 / 13;
				padding: 0 .25rem;
			}
			._discourse--english .ab, 
			._discourse--latin .discourse-p1, 
			._discourse--latin .discourse-p2 {
				grid-column: 1 / 13;
				padding: 0 .25rem;
			}
			span.note-mark, 
			div.margin-note {
				display: none;
			}
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	main.emblem-page {
		section.section__motto {
			div.title, 
			div.image.la, 
			div.fugue.de {
				grid-column: 1 / 13;
				padding: 0 1.25rem;
			} 
		}
		section.section__epigram .translation, 
		section.section__epigram .original {
			.verse-epigram {
				font-size: 1.5rem;
				grid-column: 2 / 12;
				line-height: 2;
			}
		}
		section.section__epigram .original {
			.verse-epigram span {
				line-height: 2;
				margin: 0;
			}
			.verse-epigram br {
				display: none;
			}
		}
		section.section__epigram.panel--left .translation, 
		section.section__epigram.panel--left .original, 
		section.section__epigram.panel--right .translation, 
		section.section__epigram.panel--right .original {
			.verse-epigram {
				grid-column: 3 / 11;
			}
		}
		section.section__discourse .translation, 
		section.section__discourse .original {
			div.discourse {
				grid-column: 2 / 13;
			}
			div.margin-note {
				left: 75vw;
				padding-right: 1rem;
			}
		}
		section.section__discourse.panel--left .translation, 
		section.section__discourse.panel--left .original, 
		section.section__discourse.panel--right .translation, 
		section.section__discourse.panel--right .original {
			span.note-mark, 
			div.margin-note {
				display: none;
			}
		}
	}
}