<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Furnace and Fugue: Emblem Image Search</title>
	<link type="text/css" rel="stylesheet" media="screen" href="../assets/css/styles.css" />
</head>
<body>
<!-- GLOBAL NAVIGATION -->
	<header>
		<div class="_topnav"></div>
	</header>
	<main>
		<h1 class="sample">Image Search</h1>
	</main>
	<script src="../assets/js/vendors/jquery/jquery-3.3.1.min.js"></script>
	<script src="../assets/js/topnav.js"></script>
<!-- JS -->
</body>
</html>