
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta content="text/html" charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Furnace and Fugue: Atalanta Fugiens (Digital Edition)</title>
	<link type="text/css" rel="stylesheet" media="screen" href="../assets/css/styles.css" />
	<script type="text/javascript" src="../assets/js/vendors/jquery/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../assets/js/topnav.js"></script>
	<script type="text/javascript" src="../assets/js/vendors/verovio/verovio-toolkit.js"></script>
	<script type="text/javascript" src="../assets/js/notation.js"></script>
	<script type="text/javascript" src="../assets/js/vendors/openseadragon/openseadragon.min.js"></script>
	<script type="text/javascript" src="../assets/js/vendors/waypoints/lib/noframework.waypoints.min.js"></script>
	<script type="text/javascript" src="../assets/js/vendors/waypoints/lib/jquery.waypoints.min.js"></script>
</head>
<body>
<!-- GLOBAL NAVIGATION -->
	<header>
		<div class="_topnav"></div>


<!-- EMBLEM NAVIGATION -->
		<nav class="subnav">
			<ul>
				<li class="subnav__views--single"><a href="#">Single View</a></li>
				<li class="subnav__options--option"><a href="#">English</a></li>
				<li class="subnav__options--option"><a href="#">Latin/German</a></li>
				<li class="subnav__options--option"><a href="#">Facsimile</a></li>
				<li class="subnav__views--double"><a href="#">Side-by-side View</a></li>
				<li class="subnav__options--option"><a href="#">English</a></li>
				<li class="subnav__options--option"><a href="#">Latin/German</a></li>
				<li class="subnav__options--option"><a href="#">Facsimile</a></li>
			</ul>
		</nav>
	</header>
<!-- EMBLEM PAGE-->
	<main class="emblem-page" data-id="4">
<!-- SIDENAV -->
		<div class="_sidenav"></div>
<!-- EMBLEMS: WHOLE / LEFT / RIGHT -->
		<div class="emblem-wrapper">
<!-- WHOLE EMBLEM -->
			<div class="emblem__full">
				<!-- Facsimile -->
				<div class="_facsimile"></div>
				<!-- Digital Edition -->
				<div class="emblem">
					<!-- Motto -->
					<a name="motto" id="basic-waypoint__0"></a>
					<section class="motto-wrapper half wrapper-section section--split-or-wrap">
						<div class="section section--motto section--single">
							<div class="translation">
								<div class="switch-wrapper left">
									<div class="facsimile-normalized-switch">
										<ul>
											<li><a href="#">Facsimile</a></li>
											<li class="is-selected"><a href="#">Normalized</a></li>
										</ul>
									</div>
								</div>
								<div class="lang--english _motto--english edition--facsimile is-hidden"></div>
								<div class="lang--english _motto--english edition--normalized"></div>
							</div>
							<div class="original is-hidden">
								<div class="switch-wrapper left">
									<div class="latin-german-switch">
										<ul>
											<li class="is-selected"><a href="#">Latin</a></li>
											<li><a href="#">German</a></li>
										</ul>
									</div>
								</div>
								<div class="lang--latin _motto--latin"></div>
								<div class="lang--german _motto--german is-hidden"></div>
							</div>
						</div>
						<div class="section section--motto section--double is-hidden">
							<div class="translation is-hidden">
								<div class="switch-wrapper left">
									<div class="facsimile-normalized-switch">
										<ul>
											<li><a href="#">Facsimile</a></li>
											<li class="is-selected"><a href="#">Normalized</a></li>
										</ul>
									</div>
								</div>
								<div class="lang--english _motto--english edition--facsimile is-hidden"></div>
								<div class="lang--english _motto--english edition--normalized"></div>
							</div>
							<div class="original">
								<div class="switch-wrapper right">
									<div class="latin-german-switch">
										<ul>
											<li class="is-selected"><a href="#">Latin</a></li>
											<li><a href="#">German</a></li>
										</ul>
									</div>
								</div>
								<div class="lang--latin _motto--latin"></div>
								<div class="lang--german _motto--german is-hidden"></div>
							</div>
						</div>
					</section>
					<!-- Image -->
					<a name="image" id="basic-waypoint__1"></a>
					<div class="_image">
						<section class="image wrapper-section section">
							<div class="image__picture section--single"><img class="emblem__image--cropped" src="" alt="Illustration" /></div>
						</section>
					</div>
					<!-- Music -->
					<a name="music" id="basic-waypoint__2"></a>
					<div class="_music">
						<section class="music wrapper-section">
							<div class="section section--single">
								<div class="test">
									<p>Music will go here</p>
								</div>
							</div>
						</section>
					</div>
					<!-- Epigram -->
					<a name="epigram" id="basic-waypoint__3"></a>
					<section class="epigram-wrapper half wrapper-section section--split-or-wrap">
						<div class="section section--epigram section--single">
							<div class="translation">
								<div class="switch-wrapper left">
									<div class="facsimile-normalized-switch">
										<ul>
											<li><a href="#">Facsimile</a></li>
											<li class="is-selected"><a href="#">Normalized</a></li>
										</ul>
									</div>
								</div>
								<div class="lang--english _epigram--english edition--facsimile is-hidden"></div>
								<div class="lang--english _epigram--english edition--normalized"></div>
							</div>
							<div class="original is-hidden">
								<div class="switch-wrapper left">
									<div class="latin-german-switch">
										<ul>
											<li class="is-selected"><a href="#">Latin</a></li>
											<li><a href="#">German</a></li>
										</ul>
									</div>
								</div>
								<div class="lang--latin _epigram--latin"></div>
								<div class="lang--german _epigram--german is-hidden"></div>
							</div>
						</div>
						<div class="section section--epigram section--double is-hidden">
							<div class="translation is-hidden">
								<div class="switch-wrapper right">
									<div class="facsimile-normalized-switch">
										<ul>
											<li><a href="#">Facsimile</a></li>
											<li class="is-selected"><a href="#">Normalized</a></li>
										</ul>
									</div>
								</div>
								<div class="lang--english _epigram--english edition--facsimile is-hidden"></div>
								<div class="lang--english _epigram--english edition--normalized"></div>
							</div>
							<div class="original">
								<div class="switch-wrapper right">
									<div class="latin-german-switch">
										<ul>
											<li class="is-selected"><a href="#">Latin</a></li>
											<li><a href="#">German</a></li>
										</ul>
									</div>
								</div>
								<div class="lang--latin _epigram--latin"></div>
								<div class="lang--german _epigram--german is-hidden"></div>
							</div>
						</div>
					</section>
					<!-- Discourse -->
					<a name="discourse" id="basic-waypoint__4"></a>
					<section class="discourse-wrapper half wrapper-section section--split-or-wrap">
						<div class="section section--discourse section section--single">
							<div class="translation">
								<div class="switch-wrapper left">
									<div class="facsimile-normalized-switch">
										<ul>
											<li><a href="#">Facsimile</a></li>
											<li class="is-selected"><a href="#">Normalized</a></li>
										</ul>
									</div>
								</div>
								<div class="lang--english _discourse--english edition--facsimile text is-hidden"></div>
								<div class="lang--english _discourse--english edition--normalized text"></div>
							</div>
							<div class="original text is-hidden">
								<div class="lang--latin _discourse--latin">Latin Discourse</div>
							</div>
						</div>
						<div class="section section--discourse section--double is-hidden">
							<div class="translation is-hidden">
								<div class="switch-wrapper right">
									<div class="facsimile-normalized-switch">
										<ul>
											<li><a href="#">Facsimile</a></li>
											<li class="is-selected"><a href="#">Normalized</a></li>
										</ul>
									</div>
								</div>
								<div class="lang--english _discourse--english edition--facsimile text is-hidden"></div>
								<div class="lang--english _discourse--english edition--normalized text"></div>
							</div>
							<div class="original text">
								<div class="lang--latin _discourse--latin"></div>
							</div>
						</div>
					</section>
				</div>
			</div>
<!-- LEFT PANEL -->
			<div class="emblem__left is-hidden">
				<!-- Facsimile -->
				<div class="_facsimile-half is-hidden"></div>
				<!-- Digital Edition -->
				<div class="emblem">
					<!-- Motto -->
					<a name="motto" id="basic-waypoint__0"></a>
					<section class="section section--motto wrapper-section">
						<div class="translation left-english-text">
							<div class="switch-wrapper left">
								<div class="facsimile-normalized-switch">
									<ul>
										<li><a href="#">Facsimile</a></li>
										<li class="is-selected"><a href="#">Normalized</a></li>
									</ul>
								</div>
							</div>
							<div class="lang--english _motto--english edition--facsimile is-hidden"></div>
							<div class="lang--english _motto--english edition--normalized"></div>
						</div>
						<div class="original left-latin-german-text is-hidden">
							<div class="switch-wrapper left">
								<div class="latin-german-switch">
									<ul>
										<li class="is-selected"><a href="#">Latin</a></li>
										<li><a href="#">German</a></li>
									</ul>
								</div>
							</div>
							<div class="lang--latin _motto--latin"></div>
							<div class="lang--german _motto--german is-hidden"></div>
						</div>
					</section>
					<!-- Image -->
					<a name="image" id="basic-waypoint__1"></a>
					<div class="_image">
						<section class="image wrapper-section section">
							<div class="image__picture"><img class="emblem__image--cropped" src="" alt="Illustration" /></div>
						</section>
					</div>
					<!-- Music -->
					<a name="music" id="basic-waypoint__2"></a>
					<div class="_music">
						<section class="music wrapper-section">
							<div class="section">
								<div class="test">
									<p>Music will go here</p>
								</div>
							</div>
						</section>
					</div>
					<!-- Epigram -->
					<a name="epigram" id="basic-waypoint__3"></a>
					<section class="section section--epigram wrapper-section">
						<div class="translation left-english-text">
							<div class="switch-wrapper left">
								<div class="facsimile-normalized-switch">
									<ul>
										<li><a href="#">Facsimile</a></li>
										<li class="is-selected"><a href="#">Normalized</a></li>
									</ul>
								</div>
							</div>
							<div class="lang--english _epigram--english edition--facsimile is-hidden"></div>
							<div class="lang--english _epigram--english edition--normalized"></div>
 						</div>
						<div class="original left-latin-german-text is-hidden">
							<div class="switch-wrapper left">
								<div class="latin-german-switch">
									<ul>
										<li class="is-selected"><a href="#">Latin</a></li>
										<li><a href="#">German</a></li>
									</ul>
								</div>
							</div>
							<div class="lang--latin _epigram--latin"></div>
							<div class="lang--german _epigram--german is-hidden"></div>
						</div>
					</section>
					<!-- Discourse -->
					<a name="discourse" id="basic-waypoint__4"></a>
					<section class="section--discourse wrapper-section">
						<div class="translation left-english-text">
							<div class="switch-wrapper left">
								<div class="facsimile-normalized-switch">
									<ul>
										<li><a href="#">Facsimile</a></li>
										<li class="is-selected"><a href="#">Normalized</a></li>
									</ul>
								</div>
							</div>
							<div class="lang--english _discourse--english edition--facsimile section text is-hidden"></div>
							<div class="lang--english _discourse--english edition--normalized section text"></div>
						</div>
						<div class="original left-latin-german-text section text is-hidden">
							<div class="lang--latin _discourse--latin"></div>
						</div>
					</section>
				</div>
			</div>
<!-- RIGHT PANEL -->
			<div class="emblem__right is-hidden">
				<!-- Facsimile -->
				<div class="_facsimile-half"></div>
				<!-- Digital Edition -->
				<div class="emblem">
					<!-- Motto -->
					<a name="motto" id="basic-waypoint__0"></a>
					<section class="section section--motto wrapper-section">
						<div class="translation right-english-text is-hidden">
							<div class="switch-wrapper right">
								<div class="facsimile-normalized-switch">
									<ul>
										<li><a href="#">Facsimile</a></li>
										<li class="is-selected"><a href="#">Normalized</a></li>
									</ul>
								</div>
							</div>
							<div class="lang--english _motto--english edition--facsimile is-hidden"></div>
							<div class="lang--english _motto--english edition--normalized"></div>
						</div>
						<div class="original right-latin-german-text">
							<div class="switch-wrapper right">
								<div class="latin-german-switch">
									<ul>
										<li class="is-selected"><a href="#">Latin</a></li>
										<li><a href="#">German</a></li>
									</ul>
								</div>
							</div>
							<div class="lang--latin _motto--latin"></div>
							<div class="lang--german _motto--german is-hidden"></div>
						</div>
					</section>
					<!-- Image -->
					<a name="image" id="basic-waypoint__1"></a>
					<div class="_image">
						<section class="image wrapper-section section">
							<div class="image__picture"><img class="emblem__image--cropped" src="" alt="Illustration" /></div>
						</section>
					</div>
					<!-- Music -->
					<a name="music" id="basic-waypoint__2"></a>
					<div class="_music">
						<section class="music wrapper-section">
							<div class="section">
								<div class="test">
									<p>Music will go here</p>
								</div>
							</div>
						</section>
					</div>
					<!-- Epigram -->
					<a name="epigram" id="basic-waypoint__3"></a>
					<section class="section section--epigram wrapper-section">
						<div class="translation right-english-text is-hidden">
							<div class="switch-wrapper right">
								<div class="facsimile-normalized-switch">
									<ul>
										<li><a href="#">Facsimile</a></li>
										<li class="is-selected"><a href="#">Normalized</a></li>
									</ul>
								</div>
							</div>
							<div class="lang--english _epigram--english edition--facsimile is-hidden"></div>
							<div class="lang--english _epigram--english edition--normalized"></div>
 						</div>
						<div class="original right-latin-german-text">
							<div class="switch-wrapper right">
								<div class="latin-german-switch">
									<ul>
										<li class="is-selected"><a href="#">Latin</a></li>
										<li><a href="#">German</a></li>
									</ul>
								</div>
							</div>
							<div class="lang--latin _epigram--latin"></div>
							<div class="lang--german _epigram--german is-hidden"></div>
						</div>
					</section>
					<!-- Discourse -->
					<a name="discourse" id="basic-waypoint__4"></a>
					<section class="section--discourse wrapper-section">
						<div class="translation right-english-text is-hidden">
							<div class="switch-wrapper right">
								<div class="facsimile-normalized-switch">
									<ul>
										<li><a href="#">Facsimile</a></li>
										<li class="is-selected"><a href="#">Normalized</a></li>
									</ul>
								</div>
							</div>
							<div class="lang--english _discourse--english edition--facsimile section text is-hidden"></div>
							<div class="lang--english _discourse--english edition--normalized section text"></div>
						</div>
						<div class="original right-latin-german-text section text">
							<div class="lang--latin _discourse--latin"></div>
						</div>
					</section>
				</div>
			</div> <!-- END OF RIGHT PANEL -->
		</div> <!-- END OF EMBLEM WRAPPER -->
	</main> <!-- END OF EMBLEM PAGE -->
<!-- JS -->
	<script type="text/javascript" src="../assets/js/emblem.js"></script>
</body>
</html>



















