<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta content="text/html" charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Furnace and Fugue: Atalanta Fugiens (Digital Edition)</title>
	<link type="text/css" rel="stylesheet" media="screen" href="../assets/css/styles.css" />
	<script type="text/javascript" src="../assets/js/vendors/jquery/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../assets/js/vendors/openseadragon/openseadragon.min.js"></script>
</head>
<body>
<!-- GLOBAL NAVIGATION -->
	<header>
		<div class="_topnav"></div>
<!-- EMBLEM NAVIGATION -->
		<nav class="subnav">
			<ul>
				<li class="subnav__views--single is-hidden" data-state="active"><a href="#">Single View</a></li>
				<li class="subnav__options--option is-active" data-state="active"><a href="#">English</a></li>
				<li class="subnav__options--option" data-state="inactive"><a href="#">Latin/German</a></li>
				<li class="subnav__options--option" data-state="inactive"><a href="#">Original</a></li>
				<li class="subnav__views--double" data-state="inactive"><a href="#">Comparative View</a></li>
				<li class="subnav__options--option is-hidden" data-state="inactive"><a href="#">English</a></li>
				<li class="subnav__options--option is-hidden" data-state="inactive"><a href="#">Latin/German</a></li>
				<li class="subnav__options--option is-hidden is-active" data-state="active"><a href="#">Original</a></li>
			</ul>
		</nav>
	</header>
<!-- EMBLEM PAGE-->
	<main id="emblem-data" class="emblem-page frontmatter" data-id="4">
<!-- SIDENAV -->
	<div class="_sidenav"></div>
<!-- EMBLEM GRID -->
		<!-- Facsimile -->
		<div class="section__facsimile is-hidden">
			<div class="facsimile--full">
				<section class="_facsimile">
					<section class="facsimile">
						<div id="openseadragon-wrapper">
							<div id="tools">
								<span>
									<a id="zoom-in" href="#zoom-in" title="Zoom In" style="display: inline-block; position: relative">Zoom In</a>
									<a id="zoom-out" href="#zoom-out" title="Zoom Out" style="display: inline-block; position: relative">Zoom Out</a>
									<a id="previous" href="#previous" title="Previous" style="display: inline-block; position: relative">Previous</a>
									<a id="next" href="#next" title="Next" style="display: inline-block; position: relative">Next</a>
								</span>
							</div>
						</div>
					</section>
				</section>
			</div>
		</div>
		<div class="emblem">
			<section class="section__preface section--single panel--full">
				<div class="translation">
					<div class="switch-wrapper left">
						<div class="facsimile-normalized-switch">
							<ul>
								<li><a href="#">Facsimile</a></li>
								<li class="is-selected"><a href="#">Normalized</a></li>
							</ul>
						</div>
					</div>
					<div class="lang--english _preface--english edition--normalized"></div>
				</div>
				<div class="original is-hidden">
					<div class="switch-wrapper left">
						<div class="facsimile-normalized-switch">
							<ul>
								<li><a href="#">Facsimile</a></li>
								<li class="is-selected"><a href="#">Normalized</a></li>
							</ul>
						</div>
					</div>
					<div class="lang--latin _preface--latin"></div>
				</div>
			</section>
			<section class="section__preface section--double panel--right is-hidden">
				<div class="translation is-hidden">
					<div class="switch-wrapper right">
						<div class="facsimile-normalized-switch">
							<ul>
								<li><a href="#">Facsimile</a></li>
								<li class="is-selected"><a href="#">Normalized</a></li>
							</ul>
						</div>
					</div>
					<div class="lang--english _preface--english edition--normalized"></div>
				</div>
				<div class="original">
					<div class="switch-wrapper right">
						<div class="facsimile-normalized-switch">
							<ul>
								<li><a href="#">Facsimile</a></li>
								<li class="is-selected"><a href="#">Normalized</a></li>
							</ul>
						</div>
					</div>
					<div class="lang--latin _preface--latin"></div>
				</div>
			</section>
		</div><!-- END EMBLEM -->
	</main> <!-- END OF EMBLEM PAGE -->
<!-- JS -->
	<script type="text/javascript" src="../assets/js/topnav.js"></script>
	<script type="text/javascript" src="../assets/js/emblem.js"></script>
	<script type="text/javascript" src="../assets/js/zooming-image-viewer--openseadragon.js"></script>
</body>
</html>