@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* NEUTRAL */
/* COOL */
/* WARM */
/*.width--100 {
	width: 100%;
}*/
.is-active {
  background-color: #A0AACE !important; }
  .is-active a {
    color: #222 !important; }

.is-hidden {
  display: none !important; }

.is-selected {
  border-bottom: 3px solid #7694C0; }

.is-sticky {
  position: fixed; }

/* NEUTRAL */
/* COOL */
/* WARM */
.css-test {
  border: 2px solid green !important; }

body {
  background-color: pink;
  font-family: 'Futura', Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }
  body p {
    font-family: Garamond, serif; }

/* NEUTRAL */
/* COOL */
/* WARM */
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0; }

.btn {
  background-color: #989DAC;
  border-radius: .25rem;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: .75rem;
  width: 10rem;
  height: 2.5rem; }

.btn:hover {
  background-color: #DCE1E9;
  color: #222; }

.btn p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: .825rem; }

/* NEUTRAL */
/* COOL */
/* WARM */
/*.width--100 {
	width: 100%;
}*/
.is-active {
  background-color: #A0AACE !important; }
  .is-active a {
    color: #222 !important; }

.is-hidden {
  display: none !important; }

.is-selected {
  border-bottom: 3px solid #7694C0; }

.is-sticky {
  position: fixed; }

/* NEUTRAL */
/* COOL */
/* WARM */
.topnav {
  background-color: #222;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 3.125rem;
  line-height: 2rem;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 100000; }
  .topnav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%; }
    .topnav ul li {
      color: #fff;
      font-size: 1.5rem;
      text-align: center; }
      .topnav ul li a img {
        margin-top: 5px;
        width: 45px; }

.toc-wrapper {
  display: none;
  height: 100vh;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 20000000; }

.toc {
  background-color: #282828;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 180vh;
  padding: 2rem;
  width: 20%; }

.toc__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: auto;
  width: 100%; }
  .toc__items li {
    color: #fff;
    cursor: default;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-left: 2rem;
    text-align: left; }
  .toc__items .toc__heading {
    color: #BD205D;
    padding-left: .5rem; }
  .toc__items .toc__heading a {
    color: #BD205D; }
  .toc__items .toc__heading a:hover {
    color: #C9A2A2; }
  .toc__items a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff; }
  .toc__items a:hover {
    color: #DCE1E9; }

.move-in {
  left: 0; }

.move-out {
  left: -50vh; }

/*.move-in__bkg {
	background-color: hsla(0, 0%, 10%, .8);
}
.move-out__bkg {
	background-color: hsla(0, 0%, 90%, .3);
}*/
/*** Breakpoints ***/
/* small  -  mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .topnav p {
    font-size: .825rem; } }

/* medium  -  tablet */
/* medium-large */
/* large  -  laptop */
/* large  -  desktop */
/* extra-large */
/* xxl */
/* NEUTRAL */
/* COOL */
/* WARM */
/*.width--100 {
	width: 100%;
}*/
.is-active {
  background-color: #A0AACE !important; }
  .is-active a {
    color: #222 !important; }

.is-hidden {
  display: none !important; }

.is-selected {
  border-bottom: 3px solid #7694C0; }

.is-sticky {
  position: fixed; }

/* NEUTRAL */
/* COOL */
/* WARM */
.subnav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
  -webkit-align-items: top;
  -ms-flex-align: top;
  align-items: top;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 8rem;
  width: 100%;
  margin-top: 3.125rem;
  position: fixed;
  z-index: 100; }
  .subnav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%; }
    .subnav ul li {
      /*			background-color: hsla(145, 60%, 45%, .5);*/
      background-color: #222;
      color: #fff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 1em; }
      .subnav ul li a {
        color: #fff;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
        width: 100%; }
    .subnav ul li:hover {
      background-color: #7694C0; }
      .subnav ul li:hover a {
        color: #fff; }
    .subnav ul li:nth-child(1) {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      max-width: 50%; }
    .subnav ul li:nth-child(2) {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
      -ms-flex-order: 3;
      order: 3; }
    .subnav ul li:nth-child(3) {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-box-ordinal-group: 5;
      -webkit-order: 4;
      -ms-flex-order: 4;
      order: 4; }
    .subnav ul li:nth-child(4) {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-box-ordinal-group: 6;
      -webkit-order: 5;
      -ms-flex-order: 5;
      order: 5; }
    .subnav ul li:nth-child(5) {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
      max-width: 50%; }
    .subnav ul li:nth-child(6) {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-box-ordinal-group: 7;
      -webkit-order: 6;
      -ms-flex-order: 6;
      order: 6; }
    .subnav ul li:nth-child(7) {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-box-ordinal-group: 8;
      -webkit-order: 7;
      -ms-flex-order: 7;
      order: 7; }
    .subnav ul li:nth-child(8) {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-box-ordinal-group: 9;
      -webkit-order: 8;
      -ms-flex-order: 8;
      order: 8; }

.subnav__views--single, .subnav__views--double {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  height: 40%;
  width: 50%; }

.subnav__views--single {
  border-right: 0.25rem solid #fff; }

.subnav__views--double {
  border-left: 0.25rem solid #fff; }

.subnav__options--option {
  height: 60%; }

.toggle {
  background-color: #989DAC;
  border-radius: .125rem;
  border: 1px solid #777D94;
  -webkit-box-shadow: inset 0 0 0.25rem #eee;
  box-shadow: inset 0 0 0.25rem #eee;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: no-wrap;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem .125rem;
  width: 20%;
  max-height: 2.75rem; }
  .toggle a {
    background-color: inherit;
    border-radius: .125rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    /*		padding-bottom: .25rem;*/
    min-width: 50%; }
  .toggle .selected {
    background-color: #DCE1E9;
    border: 1px solid #777D94;
    -webkit-box-shadow: inset 0 0 0.75rem #eee;
    box-shadow: inset 0 0 0.75rem #eee;
    padding: .75rem 1rem; }
    .toggle .selected p {
      color: #222; }
  .toggle .not-selected {
    background-color: inherit;
    padding: .825rem 1rem; }
  .toggle .not-selected:hover {
    background-color: #DCE1E9;
    border: 1px solid #777D94;
    -webkit-box-shadow: inset 0 0 0.75rem #eee;
    box-shadow: inset 0 0 0.75rem #eee;
    padding: .75rem 1rem; }
    .toggle .not-selected:hover p {
      color: #222; }

.is-inactive {
  background-color: #eee !important;
  pointer-events: none !important; }
  .is-inactive a {
    color: #222 !important; }

/* see index-scrolling.html */
/*.fixed-header {
	position: fixed;
	top: 0;
	width: 100%;
}*/
/*** Breakpoints ***/
/* small  -  mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .subnav5 {
    z-index: 10;
    position: fixed;
    top: 0;
    transform: translate3d(0, 101vh, 0);
    -webkit-transform: translate3d(0, 101vh, 0);
    -webkit-transition: -webkit-transform .25s linear;
    transition: -webkit-transform .25s linear;
    -o-transition: transform .25s linear;
    transition: transform .25s linear;
    transition: transform .25s linear, -webkit-transform .25s linear;
    -webkit-transition: transform .25s linear; }
  /*	.subnav--open {
		transform: translate3d(0, 93vh, 0);
		-webkit-transform: translate3d(0, 93vh, 0);
		transition: transform .25s linear;
		-webkit-transition: transform .25s linear;		
	}
	.subnav__btn {
		position: fixed;
		top: 0;
		z-index: 10;

		transform: translate3d(0, 93.5vh, 0);
		-webkit-transform: translate3d(0, 93.5vh, 0);
		transition: transform .25s linear;
		-webkit-transition: transform .25s linear;
	}
	.subnav__btn--open {
		transform: translate3d(0, 83.5vh, 0);
		-webkit-transform: translate3d(0, 83.5vh, 0);
		transition: transform .25s linear;
		-webkit-transition: transform .25s linear;	
	}*/
  .subnav5__options {
    top: 0; }
  .subnav5__btn__single, .subnav5__btn__double {
    display: none; } }

/* medium  -  tablet */
/* medium-large */
/* large  -  laptop */
/* large  -  desktop */
/*@media screen and (min-width: 1500px) and (max-width: 1999px) {
	
}*/
/* extra-large */
/* xxl */
/* NEUTRAL */
/* COOL */
/* WARM */
/* NEUTRAL */
/* COOL */
/* WARM */
/*.width--100 {
	width: 100%;
}*/
.is-active {
  background-color: #A0AACE !important; }
  .is-active a {
    color: #222 !important; }

.is-hidden {
  display: none !important; }

.is-selected {
  border-bottom: 3px solid #7694C0; }

.is-sticky {
  position: fixed; }

.wrapper-sidenav {
  background-color: #222;
  margin-top: 11.125rem;
  margin-left: .5rem;
  padding: 0 0 1rem 0;
  position: fixed;
  width: 9rem;
  height: 13.5rem;
  z-index: 20; }

.sidenav {
  margin-top: 1rem; }

.sidenav ul li {
  cursor: pointer;
  font-size: .825rem; }
  .sidenav ul li a {
    color: #fff; }

.sidenav .sidenav__navigation {
  background-color: #989DAC;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 800;
  width: 9rem; }
  .sidenav .sidenav__navigation li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 2.5rem;
    min-width: 1.75rem; }
    .sidenav .sidenav__navigation li :hover {
      background-color: #989DAC;
      color: #DCE1E9; }
    .sidenav .sidenav__navigation li a {
      color: #222;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100%;
      width: 100%; }

.sidenav .sidenav__options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .sidenav .sidenav__options li {
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 2rem;
    /*padding-bottom: .125rem;*/ }
    .sidenav .sidenav__options li :hover {
      background-color: #DCE1E9;
      color: #222; }
    .sidenav .sidenav__options li :active {
      background-color: #7694C0; }
    .sidenav .sidenav__options li a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100%;
      width: 100%; }

.sidenav--is-active {
  background-color: #777D94; }

ul.sidenav__options li.sidenav--is-active a:hover {
  background-color: #777D94;
  color: #fff; }

/* http://nicolasgallagher.com/jump-links-and-viewport-positioning/demo/ */
/* https://github.com/twbs/bootstrap/issues/1768#issuecomment-46519033 */
/*	 *[id]:before { 
	  display: block; 
	  content: " "; 
	  margin-top: 300px; 
	  height: 300px; 
	  visibility: hidden;
	} */
/*	section:before { 
	  display: block; 
	  content: " "; 
	  margin-top: -10px; 
	  height: 100px; 
	  visibility: hidden;
	} */
/**[id]:before {
background-color: blue !important;
  position: relative;
  padding: 1rem;
  border-top: 200px solid red;
  margin-top: -10px;
  background-clip: padding-box;
}
*/
/*	*[id]:before { 
	  display: block; 
	  content: " ";
	  height: 180px; 
	  visibility: hidden; 
	}*/
.jumplink--kludge {
  outline: 5px solid red;
  /*	position: relative;
	padding: 1rem;
	border-top: 180px solid transparent;*/
  /*margin-top: -180px*/
  /*	background-clip: padding-box;*/
  margin-top: 180px; }

/*@import 'emblem';*/
/* NEUTRAL */
/* COOL */
/* WARM */
/*.width--100 {
	width: 100%;
}*/
.is-active {
  background-color: #A0AACE !important; }
  .is-active a {
    color: #222 !important; }

.is-hidden {
  display: none !important; }

.is-selected {
  border-bottom: 3px solid #7694C0; }

.is-sticky {
  position: fixed; }

/* NEUTRAL */
/* COOL */
/* WARM */
.old {
  display: none; }

.emblem-page {
  background-color: #eee;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1;
  padding: 0 0 .125rem 0; }

.emblem {
  margin-top: 11.125rem;
  display: grid;
  grid-area: 1 / 1 / 2 / 5;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, fit-content(100%));
  min-height: 100vh;
  width: 100%; }

.emblem section {
  background-color: #fff;
  /*	margin: .5rem;*/
  padding: 1rem 0; }

.panel--full {
  grid-column-start: 1;
  grid-column-end: 5; }

.panel--left {
  grid-column-start: 1;
  grid-column-end: 3; }

.panel--right {
  grid-column-start: 3;
  grid-column-end: 5; }

.section__motto {
  grid-row-start: 1;
  grid-row-end: 2; }

.section__image {
  grid-row-start: 2;
  grid-row-end: 3; }
  .section__image img {
    max-width: 30rem; }

.section__music {
  grid-row-start: 3;
  grid-row-end: 4; }

.section__epigram {
  grid-row-start: 4;
  grid-row-end: 5; }

.section__discourse {
  grid-row-start: 5;
  grid-row-end: 6; }

.section__motto.panel--left, .section__epigram.panel--left, .section__discourse.panel--left {
  margin-right: 5px; }

.section__motto.panel--right, .section__epigram.panel--right, .section__discourse.panel--right {
  margin-left: 5px; }

.section__facsimile {
  margin-top: 128px;
  grid-area: 1 / 1 / 1 / 5; }

.facsimile--full {
  background-color: #222;
  height: 100vh;
  width: 100%;
  position: fixed; }

.grid--left {
  grid-area: 1 / 1 / 2 / 3;
  outline: 5px solid orange; }

.grid--right {
  grid-area: 1 / 3 / 2 / 5; }

.grid--half {
  width: 50%; }

.switch-wrapper {
  /*	border: 1px solid green;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  width: 100%; }

.latin-german-switch, .facsimile-normalized-switch {
  /*	border: 1px solid red;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 1.25rem;
  width: 8rem;
  margin-bottom: 1.5rem; }
  .latin-german-switch ul, .facsimile-normalized-switch ul {
    /*		border: 1px solid blue;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%; }
    .latin-german-switch ul li, .facsimile-normalized-switch ul li {
      /*			border: 1px solid green;*/
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: .75em;
      margin: 0 .25rem;
      width: 100%; }
      .latin-german-switch ul li a, .facsimile-normalized-switch ul li a {
        color: #222;
        cursor: pointer;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
        width: 100%; }
      .latin-german-switch ul li a:hover, .facsimile-normalized-switch ul li a:hover {
        color: #7694C0; }

.edition--normalized .del {
  display: none; }

.edition--normalized .italics {
  font-style: normal; }

.edition--normalized .orig {
  display: none; }

.edition--facsimile .del {
  display: none; }

.edition--facsimile .italics {
  font-style: oblique; }

.edition--facsimile .pb:before {
  content: "––– Page: "; }

.edition--facsimile .pb:after {
  content: " –––"; }

.edition--facsimile .reg {
  display: none; }

.pc {
  /* what is .pc ??? */
  white-space: nowrap; }

.subst {
  margin-right: -.75rem; }

.lang--english._motto--english {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1; }

div.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  grid-area: 1 / 4 / 2 / 10; }

.panel--left div.title, .panel--right div.title {
  grid-area: 1 / 2 / 2 / 12; }

h1.title {
  font-family: Helvetica, 'Futura', Arial, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem; }

.panel--left h1.title, .panel--right h1.title {
  font-size: 2.325rem;
  line-height: 2.75rem; }

h3.title {
  font-size: 1rem;
  line-height: 1.5rem; }

h3.title .italics {
  font-style: oblique; }

/*@import 'tara__atalanta-proof--color';
@import 'tara';*/
/* NEUTRAL */
/* COOL */
/* WARM */
/* NEUTRAL */
/* COOL */
/* WARM */
/*.width--100 {
	width: 100%;
}*/
.is-active {
  background-color: #A0AACE !important; }
  .is-active a {
    color: #222 !important; }

.is-hidden {
  display: none !important; }

.is-selected {
  border-bottom: 3px solid #7694C0; }

.is-sticky {
  position: fixed; }

.wrapper-sidenav {
  background-color: #222;
  margin-top: 11.125rem;
  margin-left: .5rem;
  padding: 0 0 1rem 0;
  position: fixed;
  width: 9rem;
  height: 13.5rem;
  z-index: 20; }

.sidenav {
  margin-top: 1rem; }

.sidenav ul li {
  cursor: pointer;
  font-size: .825rem; }
  .sidenav ul li a {
    color: #fff; }

.sidenav .sidenav__navigation {
  background-color: #989DAC;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 800;
  width: 9rem; }
  .sidenav .sidenav__navigation li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 2.5rem;
    min-width: 1.75rem; }
    .sidenav .sidenav__navigation li :hover {
      background-color: #989DAC;
      color: #DCE1E9; }
    .sidenav .sidenav__navigation li a {
      color: #222;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100%;
      width: 100%; }

.sidenav .sidenav__options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .sidenav .sidenav__options li {
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 2rem;
    /*padding-bottom: .125rem;*/ }
    .sidenav .sidenav__options li :hover {
      background-color: #DCE1E9;
      color: #222; }
    .sidenav .sidenav__options li :active {
      background-color: #7694C0; }
    .sidenav .sidenav__options li a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100%;
      width: 100%; }

.sidenav--is-active {
  background-color: #777D94; }

ul.sidenav__options li.sidenav--is-active a:hover {
  background-color: #777D94;
  color: #fff; }

/* http://nicolasgallagher.com/jump-links-and-viewport-positioning/demo/ */
/* https://github.com/twbs/bootstrap/issues/1768#issuecomment-46519033 */
/*	 *[id]:before { 
	  display: block; 
	  content: " "; 
	  margin-top: 300px; 
	  height: 300px; 
	  visibility: hidden;
	} */
/*	section:before { 
	  display: block; 
	  content: " "; 
	  margin-top: -10px; 
	  height: 100px; 
	  visibility: hidden;
	} */
/**[id]:before {
background-color: blue !important;
  position: relative;
  padding: 1rem;
  border-top: 200px solid red;
  margin-top: -10px;
  background-clip: padding-box;
}
*/
/*	*[id]:before { 
	  display: block; 
	  content: " ";
	  height: 180px; 
	  visibility: hidden; 
	}*/
.jumplink--kludge {
  outline: 5px solid red;
  /*	position: relative;
	padding: 1rem;
	border-top: 180px solid transparent;*/
  /*margin-top: -180px*/
  /*	background-clip: padding-box;*/
  margin-top: 180px; }

/* NEUTRAL */
/* COOL */
/* WARM */
/* NEUTRAL */
/* COOL */
/* WARM */
/*.width--100 {
	width: 100%;
}*/
.is-active {
  background-color: #A0AACE !important; }
  .is-active a {
    color: #222 !important; }

.is-hidden {
  display: none !important; }

.is-selected {
  border-bottom: 3px solid #7694C0; }

.is-sticky {
  position: fixed; }

#openseadragon-wrapper {
  height: calc(100vh - 11.125rem);
  /* currently, the combined height of the topnav and subnav is 11.125rem */ }

#openseadragon-wrapper canvas {
  cursor: pointer; }

.facsimile--full #tools {
  background-color: #222;
  max-width: 25rem;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 40%;
  z-index: 1000; }

.facsimile--full.grid--half #tools {
  top: 93vh; }

#tools a {
  color: orange;
  padding: 0 .25rem; }

#tools a:hover {
  color: red; }

#tools a:active {
  color: yellow; }

/***     Breakpoints     ***/
/* large  -  desktop */
/* medium-large - laptop */
/* medium - small laptop */
/* medium - tablet */
/* small  -  mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  /* mobile phones are too small for a side by side view */
  ._sidenav {
    display: none; } }

a {
  text-decoration: none !important; }
