<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html" charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Project Atalanta - Atalanta Fugiens</title>
	<link type="text/css" rel="stylesheet" media="screen" href="/css/styles.css">
	<script type="text/javascript" src="https://www.w3schools.com/lib/w3.js"></script>
	<script type="text/javascript" src="/js/vendors/jquery/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/js/vendors/waypoints/lib/noframework.waypoints.min.js"></script>
	<script type="text/javascript" src="/js/vendors/waypoints/lib/jquery.waypoints.min.js"></script>
	<script type="text/javascript" src="/js/vendors/openseadragon/openseadragon.min.js"></script>
	<script type="text/javascript" src="/components/zooming-image-viewer/zooming-image-viewer.js"></script>
</head>
<body>
	<div w3-include-html="/templates/header.html"></div>
	<h1>Atalanta Fugiens Emblem Sample Page</h1>
	<main class="emblem-page" data-id="4">
		<div class="_facsimile"></div>
		<div class="emblem">
			<div class="lang--english _motto--english"></div>
			<div class="lang--latin _motto--latin"></div>
			<div class="lang--german _motto--german"></div>
			<img class="emblem__image--cropped" src="" alt="" />
			<div class="lang--english _epigram--english"></div>
			<div class="lang--latin _epigram--latin"></div>
			<div class="lang--german _epigram--german"></div>
			<div class="lang--english _discourse--english"></div>
			<div class="lang--latin _discourse--latin"></div>
		</div>
	</main>
</body>
<script>
	w3.includeHTML();
</script>
</html>