<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta content="text/html" charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Project Atalanta - Essay</title>
	<link type="text/css" rel="stylesheet" media="screen" href="css/app.css">
	<script type="text/javascript" src="https://www.w3schools.com/lib/w3.js"></script>
	<script type="text/javascript" src="js/vendors/jquery/jquery-3.3.1.min.js"></script>
</head>
<body>
	<h1>Essay Sample Page</h1>
</body>
</html>