<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html" charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Project Atalanta - Search Index</title>
	<link type="text/css" rel="stylesheet" media="screen" href="/css/styles.css">
	<script type="text/javascript" src="https://www.w3schools.com/lib/w3.js"></script>
	<script type="text/javascript" src="/js/vendors/jquery/jquery-3.3.1.min.js"></script>
</head>
<body>
	<div w3-include-html="/templates/header.html"></div>	
	<h1>Search / Index Sample Page</h1>
</body>
<script>
	w3.includeHTML();
</script>
</html>